#A1overlay {
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    color: #ffffff00;
}
#A1overlay:hover{
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    background-color: #000000ad;
    border-radius: 20px;
    color: #ffffff70;
}
#A2overlay {
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    color: #ffffff00;
}
#A2overlay:hover{
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    background-color: #000000ad;
    border-radius: 20px;
    color: #ffffff70;
}
#A3overlay {
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    color: #ffffff00;
}
#A3overlay:hover{
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    background-color: #000000ad;
    border-radius: 20px;
    color: #ffffff70;
}
#A4overlay {
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    color: #ffffff00;
}
#A4overlay:hover{
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    background-color: #000000ad;
    border-radius: 20px;
    color: #ffffff70;
}
#A5overlay {
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    color: #ffffff00;
}
#A5overlay:hover{
    position: absolute;
    text-align: center;
    padding: 94px 98px;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bolder;
    background-color: #000000ad;
    border-radius: 20px;
    color: #ffffff70;
}
#A1card{
    position: relative;
}
#A2card{
    position: relative;
}
#A3card{
    position: relative;
}
#A4card{
    position: relative;
}
#A5card{
    position: relative;
}