.calendar {
    width: fit-content;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr {
    border: 1px solid black;
      text-align: right;
      vertical-align: top;
  }
  .calendar td {
    border: 1px solid black;
      text-align: right;
      vertical-align: top;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
      border: 1px solid black;
    
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 5px 8px 0px 0px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
      
  }
  .paper_fitter ul{
    padding: 0px 5px 0px 6px;
    height: 100%;
  }
  .paper_fitter a{
    color: #17a2b8;
    font-size: 14px;
  }
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 25px;
    margin-top: .4rem;
  }

  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }
.container{
    width: fit-content;
    margin: auto;
    background-color: white;
}
button{
    display:inline-block;
    padding:0.7em 1em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.4em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:black;
    background-color: gainsboro;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    font-size: 1.1rem;
}
#back_arrow{
  height: 2rem;
  padding-left: 5rem;
  color: #cacaca;
  margin-top: 1rem;
}
#card_fitter{
  width: fit-content; 
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.card {
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  background-color: white;
  box-shadow: #0000007d 4px 7px 12px 3px;
  margin: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
}
.paper_fitter{
  padding-top: 1.5rem; 
  padding-bottom: 1rem;
  height: 69rem;
}