#edit{
    text-align: right;
    margin: auto;
    padding-right: 1rem;
}
.contact_singles:hover {
    background-color: #dfe5e9;
}
.profColumn{
    width: 8%;
}
.nameColumn{
    width: 19%;
}
.phoneColumn{
    width: 18%;
}
.emailColumn{
    width: 35%;
}
.left{
    text-align: left;
}
#contactLines tr{
    height: 4rem;
    border-bottom: 1px solid #00000033;
}
.tableFont{
    font-size: 14px;
}
#contactLines svg{
    height: 2rem;
}
.contactTable{
    width: 100%;
    border-collapse: collapse;
}
#contactLines .contactHeader{
    height:4rem;
    height: 2rem;
    font-size: 12px;
    color: black;
}
.contact_icon_cont{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}
.contact_icon_color{
    color: gray;
}
.contact_list_cont{
    /* height: 45rem; */
    overflow: scroll;
}
.contact_group_header{
    display: grid;
    text-align: center;
    background-color: #2535449c;
    padding: 7px;
}






.contact_data_cont{
    height: 41rem;
    padding: 32px 15px 0px 15px
}
.contact_image{
    background-color: gray;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
}
.contact_data_cont_inner{
    font-size: 26px;
    margin-top: 30px;
    color: #565656;
    margin-left: -6px;
}
.contact_data{
    font-size: 18px;
    margin: auto;
    width: 93%;
}
.categoryStyle{
    padding-bottom: 7px;
}