.CR_main {
    text-align: left;
    margin: auto; 
    font-size: 25px;
    max-height: 570px;
    overflow: scroll;
}
.CR_tiles:hover {
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin: auto; 
    margin-bottom: 15px; 
    box-shadow: inset #0000007d 3px 3px 9px 4px; 
    background-color: #9eaebe;
}
.CR_tiles {
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin: auto; 
    margin-bottom: 15px; 
    box-shadow: #000000 2px 2px 9px -2px;
    background-color: #9eaebe;
}
.CR_dateHeader {
    width: 100%; 
    text-align: center; 
    font-size: 19px; 
    margin-bottom: 8px; 
    text-decoration: underline;
}
.CR_paragraph {
    text-align: justify; 
    width: 100%;
    font-size: 17px;
}
.CR_body {
    text-align: center;
    background-color: #253544;
    width: 45rem;
    margin: auto;
    padding: 27px;
    border-radius: 16px;
    color: white;
}
.inputCont{
    font-size: 15px;
    margin: 0px 10px;
}
.CR_dataCont{
    display: inline-flex;
    padding: 0px 0px 18px 0px;
}
.button{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
}