.mainCont{
    margin:auto; 
    width:775px; 
    max-width:775px;
}
.bottomOfPageMargin{
    margin-bottom: 15px;
}
.rowCheckMark{
    text-align: center;
    padding: 6px 0px 6px 6px;
}
.rowFormLabel{
    text-align: center;
}
.rowFormID{
    text-align: center;
}
.rowFormType{
    text-align: left;
}
.card.contact_data_card{
    grid-row: span 14;
    grid-column: span 2;
    /* padding: 32px; */
}
.center{
    text-align: center;
}
.categoryStyle{
    padding-bottom: 7px;
}
.customName{
    width: 100px;
}