#boxc1{
    align-content: center;
    text-align: center;
    border: 1px solid black;
    min-width: 200px;
    max-width: 200px;
    height: 35px;
}
#boxTitle{
    font-size: 30px;
}
#formDbox1{
    width: 130px; 
    text-align: right;
    border-left: 3px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
}
#formDbox2{
    width: 100px; 
    text-align: center;
    
}
#formDbox3{
    width: 130px; 
    text-align: center;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
}
#formCborder{
    width: 125px;
    border-right: 3px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
}
#formCborder2{
    width: 125px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding-bottom: 7px;
    padding-top: 7px;
}
#alltrucks{
    margin: auto;
    width: fit-content;
    display: flex;
}
#formCspace{
    padding: 10px;
}
