#boxc1{
    align-content: center;
    text-align: center;
    border: 1px solid black;
    width: 170px;
    height: 35px;
}
#boxTitle{
    font-size: 30px;
}
.area_table{
    display: none;
}
.salt_table{
    display: none;
}
.remove_link{
    width: 161px;
    text-align: right;
    color: red;
}
.area_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.area_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.truck_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.truck_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
