#setImage {
    width: 471px;
    overflow: visible;
    overflow-clip-margin: unset;
}
.comment_skip_class {
    width: 239px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 16px 0;
    position: absolute;
    z-index: 1;
    margin-left: 362px;
    margin-top: -244px;
    font-size: 1rem;
    padding-top: 18px;
}