#boxc1{
    align-content: center;
    text-align: center;
    border: 1px solid #0000002e;
    width: 148px;
    height: 35px;
    padding: 7px 15px;
}
#boxc2{
    align-content: center;
    text-align: center;
    border: 1px solid #0000002e;
    width: 100px;
    height: 35px;
}
.boxc3{
    font-size: 15px; 
    text-align: right; 
    border: 1px solid #0000002e; 
    padding-right: 13px;
}
#boxTitle{
    font-size: 30px;
}
.remove_link{
    width: 70px;
    text-align: right;
    color: red;
}
.area_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.area_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.truck_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 236px;
    opacity: 100%;
    font-size: 1rem;
}
.truck_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.areaCont{
    background-color: #dfe5e9;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 17px 0px #8080804a;
    border: #0000002e solid 1px;
    margin-top: 50px;
    width: 850px;
}
.areaTable{
    /* border-collapse: collapse; */
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px #0000002e solid;
    border-radius: 11px;
    background: white;
}
.areaTable input{
    width: 73px;
    text-align: center;
    padding: 5px 4px;
    border-radius: 11px;
    font-size: 19px;
}
.areaTable tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
.areaTable tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.areaTable tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
    
.areaTable tr:first-child td:last-child {
    border-top-right-radius: 10px;
}
.areaTable tr:first-child td{
    background-color: #70889e;
}
.areaTableCont{
    display: flex; 
    justify-content: center; 
    padding: 0px 10px 35px 10px;
    width: 100%;
}