.left{
    text-align: left;
}
.description{
    font-weight: normal;
    font-size: 13px;
}
.popupCont{
    border: solid 1px black;
    border-radius: 6px;
    padding: 11px;
    position: fixed;
    background: #dfe5e9;
    width: 282px;
    right: 15px;
    top: 56px;
    visibility: hidden;
    z-index: 300;
}
.bold{
    font-weight: bold;
}