#inop_message{
    width: 290px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    opacity: 100%;
    font-size: 1rem;
    right: 61px;
    top: 97px;
}