.modeTextColor{
    color: black;   
}
.modeBackGround{
    background: linear-gradient(to bottom, #dfe5e9, #e0ecff);
}
.modeMainBackground{
    background: linear-gradient(to bottom, #dfe5e9, #e0ecff);
}