.prof_table_title{
    width: 225px;
    padding: 8px;
    padding-left: 0px;
}
.table_font{
    font-size: 1rem;
    font-family: sans-serif;
}
.prof_table_data{
  width: 281px;
  padding: 8px;
  padding-left: 0px;
}
#obj_data{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#form_holder{
    margin: auto;
    font-size: 1.5rem;
    width: 70%;
}
.prof_pic_view{
    width: 200px;
    border-radius: 50px;
}