.infoBoxes{
    padding: 20px;
    font-size: 14px;
}
.infoHeaders{
    font-weight: bold;
}
.dataBoxes{
    border: #c1c1c1 solid 2px;
    border-radius: 2px;
    padding: 20px;
    text-align: left;
}