#method-303-form {
    margin: 20px;
    font-family: Arial, sans-serif;
}

#stopwatch-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 24rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 30%);
    cursor: grab;
    z-index: 1000;
    display: none;
}

#stopwatch-container:active {
    cursor: grabbing;
}
  
#stopwatch {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}
  
.swButtonCont button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    width: 11rem;
    height: 7rem;
    background-color: #334b6273;
    color: black;
}

button:hover {
    background-color: #334b6299;
}

#stopWatchDrawer{
    padding: 26px 26px;
    box-shadow: inset 20px 0px 20px -23px black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #bfbfbf;
    position: relative;
    width: 22rem;
    display: none;
}
.swButtonCont{
    text-align: center;
}
  
#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}