body {
  background-color: #dfe5e9;
}
.main_background{
    background-color: #263544;
}
.header_text_color{
    color: white;
}
.header {
  z-index: 10;
  height: 3rem;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 3rem 1fr 10rem;
}
.header_hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_hamburger svg {
  height: 2rem;
}
.header_Name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.header_profile {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}
.header_profile svg {
  height: 1.5rem;
  /*color: #001011;*/
  margin: 5px;
}

.headerSpace {
  height: 3rem;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 20rem;
  height: 100%;
  background-color: #263544;
  display: grid;
  grid-template-rows: 3rem 1fr;
  transition: left 0.5s;
  z-index: 1;
 
}
.sidebar_item {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 10px 0px 10px;
  font-size: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
}
.sidebar_svg {
  height: 2em;
  width: 2em;
  background-color: #40516a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  color: #cbcbd8;
}
.sidebar_svg svg {
  height: 50%;
}
.sidebar_shown {
  left: 0;
}
.sidebar_hidden {
  left: -20rem;
}
.sidebar a {
  color: white;
}

.forms {
  max-width: 1536px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardDash {
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  background-color: white;
  box-shadow: #0000007d 4px 7px 12px 3px;
  margin: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
}
.card_header {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  align-items: center;
  height: 4rem;
}
.card_header select {
  height: 1.5rem;
}
.card_title {
  font-size: 1rem;
}
.card_empty {
  color: rgba(0, 0, 0, 0.404);
}
.card_Form {
  padding: 0 1rem;
  height: 4rem;
  color: #001011;
  display: grid;
  grid-template-columns: 2rem 1fr 6rem 6rem;
  align-items: center;
  border-bottom: 1px solid #70798C24;
}
.card_Form_letter {
  display: flex;
  height: 2em;
  width: 2em;
  color: #263544;
  border-radius: 50%;
  background-color: #bdc7d1;
  align-items: center;
  justify-content: center;
}
.card_Form_title {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.card_Form_title h3 {
  font-weight: unset;
}
.card_Form_title h3:hover {
  text-decoration: underline;
}
.card_Form_title h4 {
  font-size: 0.75rem;
  font-weight: unset;
}
.card_Form_date {
  font-size: 0.75rem;
  font-weight: unset;
  text-align: right;
  padding-right: 1rem;
}
.card_Form_progress {
  width: 4rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: #ff8282;
  overflow: hidden;
}
.card_Form_bar {
  height: 100%;
  width: 50%;
  background-color: #98C9A3;
}

.modalContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.247);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer_hidden {
  display: none;
}
.modalContainer_shown {
  display: flex;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



a {
  text-decoration: none;
  color: #001011;
}

.card2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 267px;
  background-color: white;
  box-shadow: #0000007d 4px 7px 12px 3px;
  margin: 2rem;
  height: fit-content;
  border-radius: 1rem;
}
.card2_header {
  padding: 0 1rem;
  display: grid;
  align-items: center;
  height: 3rem;
  text-align: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #263544;
  width: 100%;
  color: white;
}
.card2_header select {
  height: 1.5rem;
}
.card2_title {
  font-size: 1rem;
}
.card2_empty {
  color: rgba(0, 0, 0, 0.404);
}
.card2_Form {
  padding: 0 1rem;
  color: #001011;
  align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card3_Form {
  padding: 0 1rem;
  color: #001011;
  align-items: center;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card2_Form h4 {
  font-size: 0.75rem;
  font-weight: unset;
color: darkgray;
    text-align: center;
}
.card3_Form h4 {
  font-size: 0.75rem;
  font-weight: unset;
color: darkgray;
    text-align: center;
}
#exit{
    height: 2rem;
    color: #cacaca;
}
.exit{
    text-align: right;
    padding-right: 1rem;
}
#paperSize{
    width: 1400px;
    margin: auto;
    padding-top: 1rem;
}
#boxTitle{
    font-size: 30px;
}
#boxa4{
    border: 1px solid black;
    padding: 5px;
}
span.sideWord{
    writing-mode: vertical-rl;
}
#pushTravels{
    width: auto;
    text-align: center;
}
#ptTable{
    padding-left: 50px;
}
#ptInfo{
    width: auto;
    text-align: center;
}
#bothTables{
    width: auto;
    display: inline-flex;
}
#tableSize{
    width: 75px;
}
#tableSize2{
    width: 40px;
}
#ptInfoInner{
    width: fit-content;
    text-align: center;
    margin: auto;
}
#tableSize3{
    width: 200px;
    font-size: 15px;
}
#tableSize4{
    width: 350px;
    font-size: 15px;
}
#ptInfoInner2{
    text-align: center;
    display: inline-flex;
}
#tableSize5{
     width: 130px;
    font-size: 15px;
}
#tableSize6{
     width: 50px;
    font-size: 15px;
}
#newName{
    width: auto;
    display: inline-flex;
}
.issue_box{
    border: 1px solid black;
    width: 100%;
    border-radius: 18px;
    padding: .5rem;
    background-color: lightgray;
    padding-left: 1rem;
    padding-right: 1rem;
}
.issue_headers{
    color: darkgray;
    font-size: .8rem;
}
.prof_pic_view{
    width: 200px;
    border-radius: 50px;
}
#form_holder{
    margin: auto;
    font-size: 1.5rem;
    width: 70%;
}
#obj_data{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.prof_table_title{
    width: 225px;
    padding: 8px;
    padding-left: 0px;
}
.table_font{
    font-size: 1rem;
    font-family: sans-serif;
}
.prof_table_data{
    width: 281px;
    padding: 8px;
    padding-left: 0px;
}
#prof_form_holder{
    margin: auto;
    width: 45%;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.submit_button{
    font-size: 1.8rem;
}
#landscape_page_button{
    margin-left: 4rem;
}
#card_fitter{
    width: fit-content; 
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.paper_fitter{
    padding-top: 1.5rem; 
    padding-bottom: 1rem;
}
.formM_box1{
    padding: .5rem;
    text-align: center;
}
.td_head_style{
    vertical-align: bottom; 
    text-align: center; 
    border: 1px solid black;
}
.span_head_style{
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    white-space: nowrap; 
    padding-top: .5rem;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-bottom: .5rem;
    text-align: left; 
}
.data_rows_water{
    border: 1px solid black;
    text-align: center;
    padding: .4rem;
}
.data_rows_water select{
    font-size: 1.2rem;
}
.roads_headers{
    border: 3px solid black;
}
.roads_format{
    border: 1px solid black;
    padding: .4rem;
}
.date_format{
    border: 1px solid black;
}




/* The actual popup (appears on top) */
.popuptext1 {
  visibility: hidden;
  width: 187px;
  background-color: #ff6666;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -222px;
  margin-top: -43px;
  opacity: 75%;
}

/* Popup arrow */
.popuptext1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* The actual popup (appears on top) */
.popuptext2 {
  visibility: hidden;
  width: 187px;
  background-color: #ff6666;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -156px;
  margin-top: -43px;
  opacity: 75%;
}

/* Popup arrow */
.popuptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


/* The actual popup (appears on top) */
.oven1_pop_class {
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 0;
    margin-left: 211px;
    margin-top: -43px;
    opacity: 75%;
}

/* Popup arrow */
.oven1_pop_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* The actual popup (appears on top) */
.oven2_pop_class {
  visibility: hidden;
  width: 205px;
  background-color: #ff6666;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -122px;
  margin-top: -43px;
  opacity: 75%;
}

/* Popup arrow */
.oven2_pop_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.exit_pop_class{
    top: 3px;
    position: absolute;
    right: 4px;
    color: black;
    background: none;
    border: none;
    padding: unset;
    font-size: .8rem;
}

.area_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.area_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.truck_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.truck_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.pav_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.pav_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.par_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.par_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.unp_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.unp_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.storage_popup_class{
    visibility: hidden;
    width: 205px;
    background-color: #ff6666;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -132px;
    margin-top: -40px;
    opacity: 100%;
    font-size: 1rem;
}
.storage_popup_class::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/*# sourceMappingURL=style.css.map */