.headerSpace {
  height: 3rem;
  width: 100%;
}
.forms {
  max-width: 1536px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


#card_fitter{
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}
.paper_fitter{
  padding-top: 1.5rem; 
  padding-bottom: 1rem;
  padding: 3rem 3rem 0 3rem;
}

/* NO WHERE IN THE CODE */
#exit{
  height: 2rem;
  color: #cacaca;
}
.exit{
  text-align: right;
  padding-right: 1rem;
}
/* Only on the F form that isnt on here */
#landscape_page_button{
  margin-left: 4rem;
}
.mainContentContainer{
  width: 100%;
  overflow: scroll;
  margin-top: 3rem;
  display: flex;
  /* margin-bottom: 3rem; */
  justify-content: flex-start;
  padding: 1.5rem;
  flex-direction: column;
}