HTML{
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    top: 0;
}
body{
    width:100%; 
    margin: 0px;
    display:flex; 
    height:100%;
    position: fixed;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: #001011;
}
.whiteFont{
    color:white; 
    padding-left: 1rem;
}
.highlight_dark:hover {
    background-color:#1c2630;
}
.submit_button{
    font-size: 1.8rem;
  }
.nested{
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    height: 86%;
}
.inner-card{
    background-color:white;
    border-radius: 20px;
    box-shadow: inset 0 0 20px 0px #0000005c;
    margin-top: 1rem;
    height:15rem;
    min-width: 281.281px;
}
.inner_font{
    padding: 1rem 0px 0px 1rem;
    font-size: 1rem;
}
.dataSingle{
    justify-content: center;
    display:flex;
    margin-bottom: .3rem;
}
.dataFont{
    font-size: 1rem;
    text-align: center;
    padding-right:1rem;
    font-weight: 100;
}
.dataFont.number{
    font-size: 2rem;
    text-align: center;
    padding-right:1rem;
    font-weight: 900;
    color: #263544;
}

.miniFont{
    font-size: .8rem;
    font-weight: 100;
    text-align: center;
}

.dataLabels{
    justify-content: center;
    display:flex;
    margin-bottom: .3rem;
    margin-top: .3rem;
}



.grid-sliders{
    display:grid;
    grid-gap: .1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* .slider{
    appearance: none;
    width: 41rem;
    height: 7px;
    border-radius: 37rem;
} */

.skills {
    text-align: right;
    color: white;
    border-radius: 2rem;
    height: 100%;
}

.grid-observ_singles{
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 6fr 5fr;
    margin: .3rem 1rem;
}
.grid-observ_header{
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 6fr 5fr;
    margin: .4rem 2rem;
}
.center{
    justify-content: center;
}
.grid-observers{
    margin: 0rem 1rem;
    height:10rem;
    overflow: scroll;
}
.c_card_circle_oven{
    max-width: 44%;
    height: auto;
    transform: translate3d(-50%,-14%,0);
    align-items: center;
    display: flex;
}
.c_circle_font_color{
    color: #67886F;
}

.ca_holder{
    width: 100%;
    padding: 0rem 1rem;
}
.ca_holder ul{
    height: 10.5rem;
    overflow: scroll;
    width: 100%;
}
.ca_indie{
    display: inline-block; 
    margin: 8px 0px; 
    width: 20rem;
}
.ca_footer{
    margin-top: 0.3rem;
    text-align:center;
}
.ca_holder ul a{
    text-decoration:none;
    color: black;
}
.mainContentContainer{
    width: 100%;
    overflow: scroll;
    margin-top: 3rem;
    display: flex;
    /* margin-bottom: 3rem; */
    justify-content: center;
    padding: 1.5rem;
}


#companyBox{
    align-items: center;
    display: flex;
}
.facilitySelector{
    position: absolute;
    left: 323;
}
#topBar{
    width: 100%;
    height: 3rem;
    background-color: #253544;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    min-width: 790px;
}
.sideAlign{
    padding: 0px;
    border-radius: 2px;
    box-shadow: inset 0 0 20px 0px #0000005c;
    margin: 0px;
    margin-top: 0.2rem;
}
.card.custom{
    grid-row: span 9;
    grid-column: span 4;
    min-height: 310.797px;
    max-height: 310.797px;
}
.card.custom2{
    grid-row: span 7;
    grid-column: span 4;
    min-height: 205.688px;
    max-height: 205.688px;
}
.drop_down{
    position: absolute;
    right: 2rem;
}
.no_link_css{
    color:inherit; 
    text-decoration: none;
}
.eventAdd{
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 2px 5px 0px #00000021;
    margin: auto;
    padding: 22px;
    width: 30%;
}

  .sidebar_item {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px 0px 10px;
    font-size: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
  .sidebar_svg {
    height: 2em;
    width: 2em;
    /* background-color: #40516a; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    color: #cbcbd8;
}
#name_click{
    color: white;
}
#name_click:visited {
    color: white;
}
.sidebar_svg svg {
    height: 82%;
}
.profileDropdown a{
    text-decoration: none;
    color: #001011;
}
.facilitySelectInput{
    background-color: #253544;
    color: white;
    font-size: 18px;
    border: 0px solid #424242;
    border-radius: 1rem;
    padding: 6px 28px;
    box-shadow: inset black 0px 0px 20px 0px;
}
.notification{
    position: fixed;
    right: 11rem; 
}
.notification #bell{
    height: 25px;
    fill:#ffffff
}
.notification #yellowDot{
    position: absolute;
    height: 12px;
    fill: #ffea00;
    bottom: 0px;
    left: -4px;
}
.notificationCount{
    position: absolute;
    bottom: -1px;
    font-size: 12px;
    left: -2px;
    font-weight: bold;
}
.mainContCenter{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 274px;
    right: 0;
    bottom: 0;
    top: 48px;
    align-items: center;
}