.input-package {
    display: inline-block;
    padding-bottom: 10px;
    text-align: left;
}
.input-flex-package{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    text-align: left;
}
label {
    min-height: 13px;
    font-size: 0.786em;
    margin-top: 3px;
    color: #999999;
    display: block;
    margin-bottom: 3px;
    word-wrap: break-word;
}
input[type="text"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #b0bec5;
    border-radius: 7px;
    margin-left: 0;
    font-size: 1em;
    line-height: 1.071em;
    box-shadow: 0 1px 2px #eee inset;
    text-align: center;
    font-size: 16px;
    background-color: white;
}
input[type="time"] {
    width: 135px;
}

#startTimeContainer, #endTimeContainer {
    width: 49%;
}
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b0bec5;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    appearance: auto;
    line-height: 1.071em;
}
.time_input {
    width: 100%;
    padding: 8px;
    border: 1px solid #b0bec5;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: white;
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #b0bec5;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    text-align: left;
    line-height: 1.5;
    resize: none;
    height: 100px;
}
input[type="date"] {
    width: 140px;
    padding: 8px;
    border: 1px solid #b0bec5;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}


/* Highlight on focus */
textarea:focus {
    border-color: #263544;
    outline: none;
}