{% load static %}

<html>
    <head>
       <link href="{% static 'ees_forms/login_style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="page">
            <div id="login">
                <h1>Battery Information</h1>
                <form method="POST" action="">
                    {% csrf_token %}
                    Foreman: {{ form.foreman }}<br>
                    Crew: {{ form.crew }}<br>
                    Inoperable Ovens: {{ form.inop_ovens }}<br>
                    <input type="submit" name="submit_bat_info">
                </form>

                <p>
                    Don't have this information yet? <a href="{% url 'IncompleteForms'  %}">Skip To Forms</a>
                </p>
            </div>
        </div>
    </body>
</html>