{% extends "ees_forms/layout.html" %}

{% block list%}
{% load static %}
<div style="text-align: center;padding-top: 50px;">
    <div>
        Corrective Action Forms - By Date
    </div>
    <br>
    <div style="text-align: left; width:700px;margin: auto; font-size: 25px;">
        <ul>
        {% for x in ca_forms %}
            <a href="issues_view/{{x.form}}/{{x.date.year}}-{% if x.date.month < 10 %}0{{x.date.month}}{% endif %}-{{x.date.day}}/issue">
                <div class="card" style="padding-top: 10px; padding-bottom: 10px; display: inline-flex; margin: 8px;">
                    <div style="width: 311px;">
                         {{ x.date }} - {{ x.form }}
                    </div>
                    <div style="text-align: right; width: 100%;">
                        {{ x.issues }}
                    </div>
                </div>
            </a>
        {% endfor %}
        </ul>    
    </div>
</div> 
{% endblock %}
