{% extends "ees_forms/layout.html" %}

{% block list%}
<section class="forms">
    <div class="card">
        <h2 class="card_header">Form Progress</h2>
        <select name="cars" id="cars">
            <option value="volvo">Due Date</option>
            <option value="saab">Form Name</option>
            <option value="mercedes">Form Duration</option>
        </select>
    
        {% for item in pull %}
        <a href="{{ item.link }}">
            <div class="card_Form">
                {{ item.form }}
            </div>
        </a>
        {% endfor %}
    
    </div>




    <div class="card">
        <h2 class="card_header">Complete Forms</h2>
        <select name="cars" id="cars">
            <option value="volvo">Date Completed</option>
            <option value="saab">Form Name</option>
            <option value="mercedes">Form Duration</option>
        </select>


        {% for item in pullNot %}
        
        <a href="{{ item.link }}">
            <div class="card_Form">
                {{ item.form }}
            </div>
        </a>
               
        {% endfor %}    
    </div>

</section>

{% endblock %}