{% extends "ees_forms/layout.html" %}

{% block list %}
<center>
<div>
        <h2>Safety Contacts</h2>
        
        <br>
        <h4>Office Staff</h4>
        <h5>Enviornmental</h5>
        Elise Ciak - (734)578-5548<br>
        Brenna Harden - (734)320-5255
        
        <br><br>
        
        <h5>Bi-Products</h5>
        Chris Abraham - (xxx)xxx-xxxx
        
        <br><br>
        
        <h5>Boilerhouse #2</h5>
        Matt Manning - (xxx)xxx-xxxx
        
        <br><br>
        
        <h4>Battery Staff</h4>
        <h5>Crew A</h5>
        Gabe Zajas - (xxx)xxx-xxxx<br>
        Andrew Herington - (xxx)xxx-xxxx
        
        <br><br>
        
        <h5>Crew B</h5>
        Matthew Folding - (xxx)xxx-xxxx<br>
        Cody Claud - (xxx)xxx-xxxx
        
        <br><br>
        
        <h5>Crew C</h5>
        Mike Cooper - (xxx)xxx-xxxx<br>
        Bob Cheddar - (xxx)xxx-xxxx
        
        <br><br>
        
        <h5>Crew D</h5>
        Nick Lopez - (xxx)xxx-xxxx<br>
        Nick Slatinsky - (xxx)xxx-xxxx
</div>
<div>
    <h3>Radio Channels</h3>
    <br>
    Channel 1 - Coal Field/Trucks<br>
    Channel 2 - Battery<br>
    Channel 3 - Bi-Products<br>
    Channel 4 - Boilerhouse #2

</div>
</center>


{% endblock %}