{% load static %}

<html>
    <head>
     <link href="{% static 'ees_forms/login_style.css' %}" rel="stylesheet">
    </head>
        <body>
            <div id="page">
                <div id="login">
                    <h2>Sidock Group, Inc.</h2>
                    <h2>DTE EES Coke Sign-In</h2>
                    <form name="login" action="" method="POST">
                        {% csrf_token %}
                        Username:<input type="text" name="username"><br>
                        Password:<input type="password" name="password">
                        <input type="submit" value="Login">
                    </form>
                    Don't Have an account? <a href="{% url 'Register' %}">Sign Up</a>
                </div>
            </div>
        </body>

</html>