{% extends "ees_forms/layout.html" %}

{% block list%}
{% load static %}
<a href="../schedule/{{today_year}}/{{today_month}}">Back To Calendar</a>
<center>
    <div style="padding-top: 30px;">
        <div style="padding-top: 25px; padding-bottom: 25px; margin: auto;" class="card">
            <h3>View Event Details</h3><br>
            
            Observer: {{ my_event.observer }}<br>
            Title: {{ my_event.title }}<br>
            Date: {{ my_event.date }}<br>
            Description: {{ my_event.notes }}<br>
                
        </div>
    </div>
</center>



{% endblock %}