{% extends "ees_forms/layout.html" %}

{% block list%}
<div id="uncompleted">
                Incomplete Forms  
    <div id="currentDate">
        {{ today.month }}/{{ today.day }}/{{ today.year }}
    </div>
                <hr id="breakLine">
                
                
            
   <ul>                 
    {% for item in pull %}
        <li>
            <a href="{{ item.link }}">
                {{ item.form }} 
            </a>
        </li> 
    {% endfor %}
<hr id="breakLine">
Forms Completed Toady
    {% for item in pullNot %}
        <li style="display: flex;">
            <a href="{{ item.link }}">
                {{ item.form }}
            </a>
        </li>
       
    {% endfor %}
 </ul>
</div>
{% endblock %}