{% extends "ees_forms/layout.html" %}

{% block list%}
<div id="uncompleted">
                Incomplete Forms  
                <hr id="breakLine">
                
                
            
   <ul>                 
    {% for item in pull %}
        <li>
            <a href="{{ item.link }}">
                {{ item.form }} 
            </a>
            - {{ item.title }} -{{ item.due_date }}
        </li> 
    {% endfor %}
<hr id="breakLine">
Forms Completed Toady
    {% for item in pullNot %}
        <li style="display: flex;">
            <a href="{{ item.link }}">
                {{ item.form }}
            </a>
            - {{ item.title }} -{{ item.due_date }}
        </li>
       
    {% endfor %}
 </ul>
</div>
{% endblock %}