{% extends "ees_forms/layout.html" %}

{% block list%}
<div id="uncompleted">
                Incomplete Forms  
    <div id="currentDate">
        {{ now.month }}/{{ now.day }}/{{ now.year }}
    </div>
                <hr id="breakLine">
                
                
            
   <ul>                 
    {% for item in pull %}
        
            <li>
                <a href="{{ item.link }}">{{ item.form }}</a> - {{ item.title }} - {{ item.due_date }}
            </li>
        
    {% endfor %}
<hr id="breakLine">
Forms Completed Toady
    {% for item in pullNot %}
        <li style="display: flex;">
            <a href="{{ item.link }}">
                {{ item.form }}
            </a>
        </li>
       
    {% endfor %}
 </ul>
</div>
   <!--- <li><a href="./Forms/Daily/Method303/formA1.html">Form A-1 - EPA Method 303 - Charges</a></li>
    <li><a href="./Forms/Daily/Method303/formA2.html">Form A-2 - EPA Method 303 - Doors</a></li>
    <li><a href="./Forms/Daily/Method303/formA3.html">Form A-3 - EPA Method 303 - Lids and Offtakes</a></li>
    <li><a href="./Forms/Daily/Method303/formA4.html">Form A-4 - EPA Method 303 - Collection Main</a></li>
    <li><a href="./Forms/Daily/Method303/formA5.html">Form A-5 - EPA Method 9B - Push Travels</a></li>
    <li><a href="./Forms/Daily/formB.html">Form B - Fugitive Dust Inspection</a></li>
    <li><a href="./Forms/Daily/formC.html">Form C - Method 9D Observation (Coal Field)</a></li>
    <li><a>Form D - Fugitive Dust Inspection - Random Truck Inspection</a></li>
    <li><a>Form E - Gooseneck Inspection Form</a></li>
    <li><a>Form F - Waste Weekly Inspection</a></li>
    <li><a>Form G - PECS Stack</a></li>
    <li><a>Form H - Method 9 Combustion Stack</a></li>
    <li><a>Form I - Quenchwater Sample</a></li>
    <li><a>Form J - Chain of Custody - Quenchwater Sample</a></li>
    <li><a>Form K - Safety Tool Box</a></li>
    <li><a>Form L - Visual Emission Observation</a></li>
    <li><a>Form M - Method 9D Observations - Parking Lots, Roads, Piles</a></li>
    <li><a>Form N - Stormwater Inspection MP108A</a></li>
    <li><a>Form O - Outfall 008 Inspection</a></li>
    <li><a>Form P - Weekly Jobsite Safety Audit</a></li>
    <li><a>Weekly Jobsite Safety Audit</a></li>
    <li><a>Monthly Tank/Area Inspection</a></li>
    <li><a>Monthly Spill Kit Inspection</a></li>-->
{% endblock %}