

{% load static %}

<html>
    <head>
       <link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
       <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">

    </head>
    <body>
            <!-- <div id="timeTabs">
                
                    <div id="formTabsSelected">
                        <a href="{% url 'IncompleteForms' %}">Dashboard</a>
                    </div>
                    <div id="formTabsUnselected">
                        <a href="{% url 'weekly_forms' %}">Weekly Forms</a>
                    </div>
                <a href="monthlyForms.html">
                    <div id="formTabsUnselected">
                        Monthly Forms
                    </div>
                </a>    
                <a href="quarterlyForms.html">    
                    <div id="formTabsUnselected">
                        Quarterly Forms
                    </div>
                </a>    
                <a href="semiAnnualForms.html">    
                    <div id="formTabsUnselected">
                        Semi-Annual Forms
                    </div>
                </a>
                <a href="{% url 'admin_data' %}">    
                    <div id="formTabsUnselected">
                        Admin Data
                    </div>
                </a>
        </div> -->
        {% include "ees_forms/header.html" %}
        
        {% include "ees_forms/sidebar.html" %}
        {% include "ees_forms/drawing_modal.html" %}
        <div class="headerSpace"></div>
    
        {% block list %}
        
        {% endblock %} 
    </body>
</html>