{% load static %}

<html>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
    <link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
    
    <body>
        <div id="user_bar">
            <div style="width: fit-content; margin: 0px;">
                <img src="{% static 'images/menu_bar.png' %}" style="width: 36px; height: 36px;">
            </div>
            <div id="greeting">
                Hello, {{ request.user.first_name }}!
            </div>
            <div id="currentDate">
                {{ today.month }}/{{ today.day }}/{{ today.year }}
            </div>
            <div id="prof_pic_container" class="dropdown">
                <img onclick="myFunction()" src="{% static 'images/profile_pics/TJA.jpg' %}" id="profile_pic" class="dropbtn">
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Profile</a>
                    <a href="#About">About</a>
                    <a href="#Safety">Safety Information</a>
                    <a href="{% url 'Logout' %}">Logout</a>
                  </div>
            </div>
        </div>
        <div id="page" class="mainScreenContainer">
            <div id="timeTabs">
                    <div id="formTabsSelected">
                        <a href="{% url 'IncompleteForms' %}">Dashboard</a>
                    </div>
                <a href="dailyForms.html">
                    <div id="formTabsUnselected">
                        Daily Forms
                    </div>
                </a>
                <a href="monthlyForms.html">
                    <div id="formTabsUnselected">
                        Monthly Forms
                    </div>
                </a>    
                <a href="quarterlyForms.html">    
                    <div id="formTabsUnselected">
                        Quarterly Forms
                    </div>
                </a>    
                <a href="semiAnnualForms.html">    
                    <div id="formTabsUnselected">
                        Semi-Annual Forms
                    </div>
                </a>
                <a href="{% url 'admin_data' %}">    
                    <div id="formTabsUnselected">
                        Admin Data
                    </div>
                </a>
            </div>
            {% block list%}
            
            {% endblock %}
        </div>
    </body>
</html>