{% extends "ees_forms/layout.html" %}

{% block list %}
<div class="page_center">
    <form action="" method="POST">
        {% csrf_token %}
        <div id="form_holder">
            <h1 class="profile_header">Profile Information<br> <input type="submit" value="Edit"></h1><br>
            Username: {{ request.user }}<br>
            Password: <a href="{% url 'PasswordChange' %}">Change Password</a><br>
            <br>
            Certification Date: {{ user_select.cert_date }}<br>
            Profile Picture: <a href="">Change Profile Picture</a><br>
            <hr/>
            First Name: {{ request.user.first_name }}<br>
            Last Name: {{ request.user.last_name }}<br>
            Email: {{ request.user.email }}<br>
        </div>
    </form>
</div>
{% endblock %}