{% extends "ees_forms/layout.html" %}

{% block list %}
<div class="page_center">
    <form action="" method="POST">
        {% csrf_token %}
        <div id="prof_form_holder" class='card'>
            <div style="padding: 13px; font-size: 2rem; text-align: center;">
                            Profile Information
                        </div>
            <div style="text-align: center; ">
                <img class="prof_pic_view" src="../../static/images/profile_pics/{{ user_select.profile_picture }}">
                <br><br>
                <a href="">Change ID Photo</a><br><br>
            </div>
            <div style="text-align: center;">
                <table style="border-collapse: collapse; margin: auto;" class="table_font">
                    <!--<tr>
                        <th colspan='3' id="obj_data" style="padding: 8px; font-size: 2rem;">
                            Profile Information
                        </th>
                    </tr>-->
                    <tr>
                        <td class="prof_table_title" style="border-top: 1px solid gray;" >
                            Name:
                        </td>
                        <td colspan="2" id='obj_data' class="prof_table_data">
                            {{ request.user.first_name }}{{ request.user.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_table_title">
                            Username:
                        </td>
                        <td colspan="2" id='obj_data' class="prof_table_data">
                            {{ request.user }}
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_table_title">
                            Password:
                        </td>
                        <td colspan="2" id='obj_data'>
                            <a href="{% url 'PasswordChange' %}">Change Password</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="prof_table_title">
                            Email:
                        </td>
                        <td colspan="2" id='obj_data' class='prof_table_data'>
                            {{ request.user.email }}
                        </td>
                    </tr>
                    <tr id='obj_data'>
                        <td class="prof_table_title" style="padding-top: 25px; padding-bottom: 25px;">
                            Certification Date:
                        </td>
                        <td colspan="2" style="padding-top: 25px; padding-bottom: 25px;">
                            {{ user_select.cert_date }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
{% endblock %}