{% extends "ees_forms/layout.html" %}

{% block list%}
{% load static %}
<link href="{% static 'ees_forms/style/calendar.css' %}" rel="stylesheet">
<br>
<div class="card" id="card_fitter" style="margin: 2rem; margin-top: .5rem;">
    <div class="paper_fitter" style="padding: 1rem; ">
        <div class="container">
            <div style="display: flex; margin-left: 25px;">
                <div style="width: 300px; text-align: left;">
                    <a href="../../schedule/{{ prev_year }}/{{ prev_month }}">
                       <button>
                            Previous Month
                        </button>
                    </a>
                </div>
                <div style="width: 100%; text-align: right;">
                    <a href="../../add_event">
                        <button>
                            Add Event
                        </button>
                    </a>
                </div>
                <div style="width: 300px; text-align: right; margin-right: 25px;">
                    <a href="../../schedule/{{ next_year }}/{{ next_month }}"> 
                        <button>
                            Next Month
                        </button>    
                    </a>
                </div>
            </div>
            <div class="clearfix">
                <div class="calendar">
                    {{ html_cal|safe }}
                </div>
            </div>  
        </div>
    </div>
</div>

        
{% endblock %}







    
