{% extends "ees_forms/layout.html" %}

{% block list%}
{% load static %}
<link href="{% static 'ees_forms/style/calendar.css' %}" rel="stylesheet">
<br>
<div class="container">
    <div style="display: flex; margin-left: 25px;">
        <div style="width: 150px; text-align: left;">
            <a href="../../schedule/{{ year }}/{{ prev_month }}"> Previous Month</a>
        </div>
        <div style="width: 100%; text-align: right; margin-right: 25px;">
            <a href="../../schedule/{{ year }}/{{ next_month }}"> Next Month</a>
        </div>
    </div>
    <div class="clearfix">
        <div class="calendar">
            {{ html_cal|safe }}
        </div>
    </div>  
</div>
<div style="padding-right: 25px; text-align: right;">
    <a href="../../add_event"> Add Event</a>
</div>
        
{% endblock %}







    
