{% extends "ees_forms/layout.html" %}

{% block list %}

<center>
{% if searched %}
    {% if access_page == 'search' %}
         <h2>You searched for {{ searched }}</h2>
            <br>
    <div class="card" style="width: 300px;">
        <ul>
            {% for form in forms %}
            <li style="text-align: left;">
                <a href="../../ees_forms/search_forms/form{{ form.form.0 }}{{ form.form.2 }}_model">
                    {{ form.form }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        nothing
    {% endif %}
{% else %}
    {% if access_page %}
    <div class="card" style="width: 300px;">
        {% if att_check == 1 %}
            <ul>
                {% for x in database %}
                <!--1--Daily----Date---->
                    <a href="../Daily/form{% if access_page.5 == '_' %}{{ access_page.4 }}{% else %}{{ access_page.4 }}{{ access_page.5}}{% endif %}/{{ x.date.year }}-{% if x.date.month < 10 %}0{{x.date.month}}{%else%}{{x.date.month}}{% endif %}-{% if x.date.day < 10 %}0{{x.date.day}}{%else%}{{x.date.day}}{% endif %}">
                        <li style="text-align: left;">
                            {{ x.date }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% elif att_check == 2 %}
            <ul>
                {% for x in database %}
                <!--2--Weekly----Week---->
                    <a href="../Weekly/form{% if access_page.5 == '_' %}{{ access_page.4 }}{% else %}{{ access_page.4 }}{{ access_page.5}}{% endif %}/{{ x.week_start.year }}-{% if x.week_start.month < 10 %}0{{x.week_start.month}}{%else%}{{x.week_start.month}}{% endif %}-{% if x.week_start.day < 10 %}0{{x.week_start.day}}{%else%}{{x.week_start.day}}{% endif %}">
                        <li style="text-align: left;">
                            {{ x.week_start }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% elif att_check == 3 %}
            <ul>
                {% for x in database %}
                <!--3--Daily----Week---->
                    <a href="../Daily/form{% if access_page.5 == '_' %}{{ access_page.4 }}{% else %}{{ access_page.4 }}{{ access_page.5}}{% endif %}/{{ x.week_start.year }}-{% if x.week_start.month < 10 %}0{{x.week_start.month}}{%else%}{{x.week_start.month}}{% endif %}-{% if x.week_start.day < 10 %}0{{x.week_start.day}}{%else%}{{x.week_start.day}}{% endif %}">
                        <li style="text-align: left;">
                            {{ x.week_start }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% elif att_check == 4 %}
            <ul>
                {% for x in database %}
                <!----Weekly----Date---->
                    <a href="../Weekly/form{% if access_page.5 == '_' %}{{ access_page.4 }}{% else %}{{ access_page.4 }}{{ access_page.5}}{% endif %}/{{ x.date.year }}-{% if x.date.month < 10 %}0{{x.date.month}}{%else%}{{x.date.month}}{% endif %}-{% if x.date.day < 10 %}0{{x.date.day}}{%else%}{{x.date.day}}{% endif %}">
                        <li style="text-align: left;">
                            {{ x.date }}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
        
    </div>
    {% else %}
        <h2>You forgot to search for a form</h2>
    
    {% endif %}
{% endif %}
</center>
{% endblock %}