{% extends "ees_forms/layout.html" %}

{% block list%}
<div id="uncompleted">
                Incomplete Forms  
                <hr id="breakLine">
                
                
            
   <ul>                 
    {% for item in form_incomplete %}
        <li>
            <a href="{{ item.link }}">
                {{ item.form }} 
            </a>
            - {{ item.title }} -{{ item.due_date }}
        </li> 
    {% endfor %}
<hr id="breakLine">
Forms Completed Toady
    {% for item2 in form_complete %}
        <li>
            <a href="{{ item2.link }}">
                {{ item2.form }}
            </a>
            - {{ item2.title }} -{{ item2.due_date }}
        </li>
       
    {% endfor %}
 </ul>
</div>
{% endblock %}