{% extends unlock|yesno:"ees_forms/layout.html,supervisor/sup_layout.html" %}
{% block list%}{% load static %}

<link href="{% static 'ees_forms/style/skInventory.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/spillKits_inventory.js' %}"></script>
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if not unlock %}
<link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<body>
    <div id="formName" style="display: hidden" data-form="{{formName}}"></div>
    <div id="selector" style="display: hidden" data-selector="{{selector}}"></div>
    <div id="paperSize">
        <div>
            {% if selector == "form" or formAttached == "form"%}
                <a href="{% url 'spill_kits' facility 'form' %}">
                    <svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
                    </svg>
                </a>
            {% else %}
                <a href="{% url 'spill_kits' facility formAttached.date %}">
                    <svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
        <div>
            <form class="mainCont" action="" method="POST">
                {% csrf_token %}
                <div class="card" id="card_fitter">
                    {% include "ees_forms/print_button.html" %}
                    <div class="paper_fitter" style="padding: 3rem;">
                        <div class="headerCont">
                            <div class="inventoryHeader">Spill Kits Inventory Check List</div>
                            <div class="inventoryInfo">
                                Date: {{data.date}}<br>
                                Inspector: {{data.inspector}}<br>
                                Spill Kit ID: {{data.skID}}<br><br>
                                
                                Select Spill Kit Type: <p id="skTypeDiv">{{data.type}}</p><br>
                            </div>
                        </div>
                        <table class="table" id="table1" style="visibility: collapse;">
                            <tr>
                                <th>Items</th>
                                <th style="width: 100px;">Inventoried Items</th>
                                <th style="width: 100px;">Missing Items</th>
                            </tr>
                            <tr>
                                <td>8" X 10' PIG Oil-Only Booms (BOM304)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.0}}
                                    {% else %}
                                        <input id="t1count1" oninput="t1mathItems()" name="t1count1" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.0}}{% endif %}" /></td>
                                    {% endif %}
                                    
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.0}}
                                    {% else %}
                                        <input id="t1miss1" name="t1miss1" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.0}}{% endif %}" /></td>
                                    {% endif %}
                                    
                            </tr>
                            <tr>
                                <td>5" X 10' PIG Oil-Only Booms (BOM405)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.1}}
                                    {% else %}
                                        <input id="t1count2" oninput="t1mathItems()" name="t1count2" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.1}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.1}}
                                    {% else %}
                                        <input id="t1miss2" name="t1miss2" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.1}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>3" X 10' PIG Oil-Only Booms (BOM406)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.2}}
                                    {% else %}
                                        <input id="t1count3" oninput="t1mathItems()" name="t1count3" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.2}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.2}}
                                    {% else %}
                                        <input id="t1miss3" name="t1miss3" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.2}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>PIG Sump Skimmer Pillows (SKM403)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.3}}
                                    {% else %}
                                        <input id="t1count4" oninput="t1mathItems()" name="t1count4" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.3}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.3}}
                                    {% else %}
                                        <input id="t1miss4" name="t1miss4" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.3}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>PIG STAT-MAT Absorbent (MAT214)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.4}}
                                    {% else %}
                                        <input id="t1count5" oninput="t1mathItems()" name="t1count5" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.4}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.4}}
                                    {% else %}
                                        <input id="t1miss5" name="t1miss5" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.4}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>5lbs Bags PIG Spaghetti Strips</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.5}}
                                    {% else %}
                                        <input id="t1count6" oninput="t1mathItems()" name="t1count6" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.5}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.5}}
                                    {% else %}
                                        <input id="t1miss6" name="t1miss6" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.5}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Temporary Disposal Bags & Ties (BAG201-L)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.6}}
                                    {% else %}
                                        <input id="t1count7" oninput="t1mathItems()" name="t1count7" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.6}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.6}}
                                    {% else %}
                                        <input id="t1miss7" name="t1miss7" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.6}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Emergency Response Guidebook (REF303)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.7}}
                                    {% else %}
                                        <input id="t1count8" oninput="t1mathItems()" name="t1count8" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.7}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.7}}
                                    {% else %}
                                        <input id="t1miss8" name="t1miss8" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.7}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Instruction Manual</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.8}}
                                    {% else %}
                                        <input id="t1count9" oninput="t1mathItems()" name="t1count9" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.8}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.8}}
                                    {% else %}
                                        <input id="t1miss9" name="t1miss9" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.8}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Tamper-Proof Labels (LBL100)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.9}}
                                    {% else %}
                                        <input id="t1count10" oninput="t1mathItems()" name="t1count10" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.9}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.9}}
                                    {% else %}
                                        <input id="t1miss10" name="t1miss10" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.9}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                        </table>
                        <table class="table" id="table2" style="visibility: collapse;">
                            <tr>
                                <th>Items</th>
                                <th style="width: 100px;">Inventoried Items</th>
                                <th style="width: 100px;">Missing Items</th>
                            </tr>
                            <tr>
                                <td>48" PIG Blue Absorbent Socks (4048)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.0}}
                                    {% else %}
                                        <input id="t2count1" oninput="t2mathItems()" name="t2count1" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.0}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.0}}
                                    {% else %}
                                        <input id="t2miss1" name="t2miss1" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.0}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>10' PIG Blue Absorbent Socks (PIG202)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.1}}
                                    {% else %}
                                        <input id="t2count2" oninput="t2mathItems()" name="t2count2" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.1}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.1}}
                                    {% else %}
                                        <input id="t2miss2" name="t2miss2" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.1}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>PIG Universal Mat Pads (MAT203)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.2}}
                                    {% else %}
                                        <input id="t2count3" oninput="t2mathItems()" name="t2count3" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.2}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.2}}
                                    {% else %}
                                        <input id="t2miss3" name="t2miss3" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.2}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>PIG Pillows (PIL201)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.3}}
                                    {% else %}
                                        <input id="t2count4" oninput="t2mathItems()" name="t2count4" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.3}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.3}}
                                    {% else %}
                                        <input id="t2miss4" name="t2miss4" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.3}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>PIG Wipers (WIP310)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.4}}
                                    {% else %}
                                        <input id="t2count5" oninput="t2mathItems()" name="t2count5" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.4}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.4}}
                                    {% else %}
                                        <input id="t2miss5" name="t2miss5" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.4}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Temporary Disposal Bags & Ties (BAG201-L)</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.5}}
                                    {% else %}
                                        <input id="t2count6" oninput="t2mathItems()" name="t2count6" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.5}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.5}}
                                    {% else %}
                                        <input id="t2miss6" name="t2miss6" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.5}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Emergency Response Guidebook</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.6}}
                                    {% else %}
                                        <input id="t2count7" oninput="t2mathItems()" name="t2count7" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.6}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.6}}
                                    {% else %}
                                        <input id="t2miss7" name="t2miss7" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.6}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Instruction</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.7}}
                                    {% else %}
                                        <input id="t2count8" oninput="t2mathItems()" name="t2count8" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.7}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.7}}
                                    {% else %}
                                        <input id="t2miss8" name="t2miss8" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.7}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                            <tr>
                                <td>Tamper Proof Seals</td>
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.counted_items.8}}
                                    {% else %}
                                        <input id="t2count9" oninput="t2mathItems()" name="t2count9" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.8}}{% endif %}" /></td>
                                    {% endif %}
                                <td class="iCountContain">
                                    {% if existing and selector != "edit" %}
                                        {{data2.missing_items.8}}
                                    {% else %}
                                        <input id="t2miss9" name="t2miss9" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.8}}{% endif %}" /></td>
                                    {% endif %}
                            </tr>
                        </table> 
                        {% if supervisor or client or selector == "form" or selector == "edit" %}{% else %}
                            <a href="./edit">edit</a>
                        {% endif %}                                                              
                        {% if unlock and not search %}
                            <br />
                            <input type="submit" value="Submit Form" class="submit_button" style="visibility: collapse;" id="submitHere"/>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}