{% extends unlock|yesno:"ees_forms/layout.html,supervisor/sup_layout.html" %}
{% block list%}
{% load static %}
<style>
    .sk_header{
        border: 1px solid black;
        padding: 1rem;
    }
    .sk_data{
        text-align: center;
        border: 1px solid black;
        padding: .5rem;
    }
</style>
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/spillKits.js' %}"></script>
{% if not unlock %}
<link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}
<body>
    <div id="formName" style="display: hidden" data-form="{{formName}}"></div>
    <div id="linkMonth" style="display: hidden" data-month="{{month}}"></div>
    <div id="iColor" style="display: hidden" data-inventory="{{iFormList}}"></div>
    <div id="selector" style="display: hidden" data-selector="{{selector}}"></div>
    <div id="paperSize">
        <div>
            {% include "ees_forms/backArrow.html" %}
        </div>
        <div>
            <form action="" method="POST" style="width: fit-content; margin: auto; margin-bottom: 100px;">
                {% csrf_token %}
                <div class="card" id="card_fitter">
                    {% include "ees_forms/print_button.html" %}
                    <div class="paper_fitter" style="padding: 3rem;">
                        <table style="border-collapse: collapse; margin: auto;">
                            <tr>
                                <th id="boxTitle" colspan="5" style="text-align: center;">Spill Kits - Inspection Checklist</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th colspan="3" style="text-align: center;">Facility Name: {{facility}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>
                                    Month: {{ sk_form.month }}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6">Inspector Names: &nbsp; &nbsp;{{ sk_form.observer }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;{{ sk_form.date }}
                            </tr>
                        </table>
                        <br>
                        <center>
                            <a style='color: blue;' href="{% static 'images/maps/plant_tanks_map.jpg' %}" target="_blank">View Spill Kit Map</a><br>
                        </center>
                        <br>
                        <table style="border-collapse: collapse; width: fit-content; margin: auto;">
                            <tr>
                                <th class='sk_header'>
                                    Spill <br>Kit #
                                </th>
                                <th class='sk_header'>
                                    Tag On?
                                </th>
                                <th class='sk_header'>
                                    Inventory
                                </th>
                                <th class='sk_header'>
                                    Tag Serial #
                                </th>
                                <th class='sk_header'>
                                    Complete <br>Kit?
                                </th>
                                <th class='sk_header'>
                                    Incident Report
                                </th>
                                <th class='sk_header'>
                                    Comments
                                </th>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    1
                                </td>
                                <td class='sk_data' id="tagOn1">
                                    {{ sk_form.sk1_tag_on }}
                                </td>
                                <td id="kit1" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk1_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk1_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk1_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk1_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    2
                                </td>
                                <td class='sk_data' id="tagOn2">
                                    {{ sk_form.sk2_tag_on }}
                                </td>
                                <td id="kit2" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk2_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk2_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk2_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk2_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    3
                                </td>
                                <td class='sk_data' id="tagOn3">
                                    {{ sk_form.sk3_tag_on }}
                                </td>
                                <td id="kit3" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk3_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk3_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk3_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk3_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    4
                                </td>
                                <td class='sk_data' id="tagOn4">
                                    {{ sk_form.sk4_tag_on }}
                                </td>
                                <td id="kit4" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk4_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk4_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk4_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk4_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    5
                                </td>
                                <td class='sk_data' id="tagOn5">
                                    {{ sk_form.sk5_tag_on }}
                                </td>
                                <td id="kit5" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk5_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk5_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk5_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk5_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    6
                                </td>
                                <td class='sk_data' id="tagOn6">
                                    {{ sk_form.sk6_tag_on }}
                                </td>
                                <td id="kit6" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk6_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk6_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk6_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk6_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    7
                                </td>
                                <td class='sk_data' id="tagOn7">
                                    {{ sk_form.sk7_tag_on }}
                                </td>
                                <td id="kit7" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk7_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk7_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk7_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk7_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    8
                                </td>
                                <td class='sk_data' id="tagOn8">
                                    {{ sk_form.sk8_tag_on }}
                                </td>
                                <td id="kit8" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk8_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk8_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk8_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk8_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    9
                                </td>
                                <td class='sk_data' id="tagOn9">
                                    {{ sk_form.sk9_tag_on }}
                                </td>
                                <td id="kit9" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk9_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk9_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk9_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk9_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    10
                                </td>
                                <td class='sk_data' id="tagOn10">
                                    {{ sk_form.sk10_tag_on }}
                                </td>
                                <td id="kit10" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk10_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk10_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk10_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk10_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    11
                                </td>
                                <td class='sk_data' id="tagOn11">
                                    {{ sk_form.sk11_tag_on }}
                                </td>
                                <td id="kit11" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk11_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk11_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk11_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk11_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    12
                                </td>
                                <td class='sk_data' id="tagOn12">
                                    {{ sk_form.sk12_tag_on }}
                                </td>
                                <td id="kit12" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk12_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk12_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk12_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk12_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    13
                                </td>
                                <td class='sk_data' id="tagOn13">
                                    {{ sk_form.sk13_tag_on }}
                                </td>
                                <td id="kit13" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk13_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk13_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk13_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk13_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    14
                                </td>
                                <td class='sk_data' id="tagOn14">
                                    {{ sk_form.sk14_tag_on }}
                                </td>
                                <td id="kit14" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk14_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk14_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk14_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk14_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    15
                                </td>
                                <td class='sk_data' id="tagOn15">
                                    {{ sk_form.sk15_tag_on }}
                                </td>
                                <td id="kit15" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk15_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk15_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk15_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk15_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    16
                                </td>
                                <td class='sk_data' id="tagOn16">
                                    {{ sk_form.sk16_tag_on }}
                                </td>
                                <td id="kit16" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk16_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk16_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk16_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk16_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    17
                                </td>
                                <td class='sk_data' id="tagOn17">
                                    {{ sk_form.sk17_tag_on }}
                                </td>
                                <td id="kit17" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk17_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk17_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk17_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk17_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    18
                                </td>
                                <td class='sk_data' id="tagOn18">
                                    {{ sk_form.sk18_tag_on }}
                                </td>
                                <td id="kit18" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk18_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk18_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk18_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk18_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    19
                                </td>
                                <td class='sk_data' id="tagOn19">
                                    {{ sk_form.sk19_tag_on }}
                                </td>
                                <td id="kit19" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk19_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk19_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk19_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk19_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    20
                                </td>
                                <td class='sk_data' id="tagOn20">
                                    {{ sk_form.sk20_tag_on }}
                                </td>
                                <td id="kit20" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk20_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk20_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk20_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk20_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    21
                                </td>
                                <td class='sk_data' id="tagOn21">
                                    {{ sk_form.sk21_tag_on }}
                                </td>
                                <td id="kit21" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk21_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk21_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk21_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.sk21_comment }}
                                </td>
                            </tr>
                            <tr style="height: 1rem;"></tr>
                            <tr>
                                <th>
                                    #2 Boilerhouse
                                </th>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    UT-23
                                </td>
                                <td class='sk_data' id="tagOn22">
                                    {{ sk_form.skut22_tag_on }}
                                </td>
                                <td id="kit22" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut22_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut22_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut22_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut22_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    UT-24
                                </td>
                                <td class='sk_data' id="tagOn23">
                                    {{ sk_form.skut23_tag_on }}
                                </td>
                                <td id="kit23" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut23_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut23_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut23_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut23_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    UT-25
                                </td>
                                <td class='sk_data' id="tagOn24">
                                    {{ sk_form.skut24_tag_on }}
                                </td>
                                <td id="kit24" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut24_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut24_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut24_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut24_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    UT-26
                                </td>
                                <td class='sk_data' id="tagOn25">
                                    {{ sk_form.skut25_tag_on }}
                                </td>
                                <td id="kit25" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut25_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut25_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut25_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut25_comment }}
                                </td>
                            </tr>
                            <tr>
                                <td class='sk_data'>
                                    UT-27
                                </td>
                                <td class='sk_data' id="tagOn26">
                                    {{ sk_form.skut26_tag_on }}
                                </td>
                                <td id="kit26" class='sk_data'>
                                    N/A
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut26_serial }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut26_complete }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut26_report }}
                                </td>
                                <td class='sk_data'>
                                    {{ sk_form.skut26_comment }}
                                </td>
                            </tr>
                        </table>
                        {% if supervisor or client %} {% elif unlock and not search %}
                            <br /><br /><br />
                            <input type="submit" value="Submit Form" class="submit_button" />
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock %}