<html>
    <style>
        #paperSize{
            width: 1400px;
            margin: auto;
            padding-top: 50px;
        }
        #boxTitle{
            font-size: 30px;
        }
        #boxa1{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 150px;
            max-width: 150px;
            height: 35px;
        }
        #boxa2{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 80px;
            max-width: 80px;
            height: 35px;
        }
        #boxa3{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 300px;
            max-width: 300px;
            height: 35px;
        }
        #boxa4{
            align-content: center;
            text-align: left;
            min-width: 250px;
            max-width: 250px;
            height: 35px;
        }
        #boxa5{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 100px;
            max-width: 100px;
            height: 35px;
        }
        #boxa6{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            height: 25px;
        }
        #noteBox{
            border-collapse: collapse; 
            margin: auto;
            width: 1100px;
        }
    </style>

<body>
    <div id="paperSize">
        <div>
            <a href="../{{ back.0.link }}">Back</a>
        </div>
        <div style="padding-top: 75px;">
            <form>
                <table style="border-collapse: collapse; margin: auto;">
                    <tr>
                        <th id="boxTitle" colspan="5" style="text-align: left;">Method 303 Doors - Form (A-2)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align: left;">Facility Name: EES Coke Battery LLC</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th colspan="6">Inspectors Name:&nbsp; &nbsp;{{ request.user.first_name }} {{ request.user.last_name }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;{{ todays_log.date_save }}
                    </tr>
                    <tr>
                        <th colspan="6">
                            Battery No. 5 &nbsp; &nbsp; &nbsp; 
                            Total No. Ovens: 85 &nbsp; &nbsp; &nbsp;
                            Total No. of Inoperable Ovens &nbsp; &nbsp;{{ todays_log.inop_ovens }}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            Crew:
                            &nbsp; &nbsp;{{ todays_log.crew }}
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                            Battery Foreman:
                            &nbsp; &nbsp;{{ todays_log.foreman }}
                        </th>
                    </tr>
                </table>
                
                
                
                <table style="border-collapse: collapse; margin: auto; margin-left: 287px;">
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th id="boxa4" colspan="5">Start Time:<input type="time"> <br> End Time:<input type="time"></th>
                        <th id="boxa4" colspan="1"></th>
                        <th id="boxa4" colspan="5">Start Time:<input type="time"> <br> End Time:<input type="time"></th>
                        <th id="boxa4" colspan="1"></th>
                    </tr>
                    <tr>
                        <th id="boxa5" style="max-width: 100px;"colspan="5">
                            PUSH SIDE
                        </th>
                        <th></th>
                        <th id="boxa5" style="max-width: 100px;"colspan="5">
                            COKE SIDE
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td id="boxa6" colspan="1">
                            Oven
                        </td>
                        <td id="boxa6" colspan="3">
                            Location
                        </td>
                        <td id="boxa6" colspan="1">
                            Zone
                        </td>
                        <td></td>
                        <td id="boxa6" colspan="1">
                            Oven
                        </td>
                        <td id="boxa6" colspan="3">
                            Location
                        </td>
                        <td id="boxa6" colspan="1">
                            Zone
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6">D</td>
                        <td id="boxa6">C</td>
                        <td id="boxa6">M</td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temp. Blocked</td>
                         <td id="boxa6"></td>
                        <td id="boxa6">D</td>
                        <td id="boxa6">C</td>
                        <td id="boxa6">M</td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temp. Blocked</td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 40px;" type="text">&nbsp;to&nbsp;<input style="width: 40px;" type="text"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 40px;" type="text">&nbsp;to&nbsp;<input style="width: 40px;" type="text"></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="align-content: center; text-align: left; height: 25px;">Push Side Traverse Time: &nbsp; &nbsp; <input style="width: 40px;" type="text">min &nbsp; &nbsp; &nbsp; <input style="width: 40px;" type="text">sec</td>
                        <td colspan="6" style="align-content: center; text-align: left; height: 25px;">Coke Side Traverse Time: &nbsp; &nbsp; <input style="width: 40px;" type="text">min &nbsp; &nbsp; &nbsp; <input style="width: 40px;" type="text">sec</td>
                    </tr>
                </table>
                <br><br><br>
                <table style="border-collapse: collapse; margin: auto;">
                    <tr>
                        <td style="width: 120px; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                            D = Door
                        </td>
                        <td style="width: 400px; text-align: center;">
                            Total Traverse Time <input style="width: 40px;" type="text">sec
                        </td>
                        <td></td>
                    </tr>    
                    <tr> 
                        <td style="border-left: 1px solid black; border-right: 1px solid black;">
                            C = Chuck Door
                        </td>
                        <td style="text-align: center;">
                            Allowed Traverse Time:
                        </td>
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black;">Valid Run?</td>
                    </tr>    
                    <tr>  
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                            M = Masonry
                        </td>
                        <td style="text-align: center;">
                            T = 680 + (10 sec x #leaks) = <input style="width: 40px;" type="text">
                        </td>
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                            <input type="radio" id="yes" name="yesNo" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="yesNo" value="no">
                            <label for="no">No</label>
                        </td>
                    </tr>
                </table>    
                
                    
                    
                    
                    
                <table style="border-collapse: collapse; margin: auto;">    
                     <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <td style="width: 100px;"></td>
                        <td></td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L<sub>y</sub> X 100
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 40px;" type="text"> x 100
                        </td>
                        <td></td>
                        <td style="width: 75px"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center; margin: auto; width: 133px;">
                            % Leaking Doors = 
                        </td>
                        <td>
                            ---------------------- = 
                        </td>
                        <td>
                            --------------------------------- = 
                        </td>
                        <td>
                            <input style="width: 40px;" type="text">%
                        </td>
                        <td></td>
                    </tr>
                     <tr>
                         <td></td>
                         <td></td>
                        <td>
                            &nbsp;&nbsp;&nbsp; D<sub>t</sub> - D<sub>i</sub> - D<sub>no</sub>
                        </td>
                        <td>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;170 - <input style="width: 40px;" type="text"> - <input style="width: 40px;" type="text">
                        </td>
                         <td></td>
                         <td></td>
                    </tr>
                   <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <td style="text-align: center; margin: auto; " colspan="6">
                            Where: L<sub>y</sub> = Leaking Doors Obsered, D<sub>i</sub> = Inoperable Oven x 2, and D<sub>no</sub> = Door not observed
                        </td>
                    </tr> 
                </table>
                <div id="noteBox">
                    Notes: <br>
                    <textarea name="comments" rows="6" cols="90" style="font-size: 20px;">N/A</textarea>
                </div>
                
                
                
                
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                 <!--------CORRECTIVE ACTION CODE---------------------------------------------------------------------------------->    
                <table style="border-collapse: collapse; margin: auto;">
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="6" style="border: 1px solid black; font-size: 20px;">Any Issues? Describe<input type="text" style="font-size: 20px; width: 900px;"></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border: 1px solid black; font-size: 20px;">EES Person Notified of Issue<input type="text" style="font-size: 20px; width: 500px;"></td>
                        <td colspan="1" style="border: 1px solid black; font-size: 20px;"><input type="date" style="font-size: 20px;"></td>
                        <td colspan="1" style="border: 1px solid black; font-size: 20px;"><input type="time" style="font-size: 20px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 1px solid black; font-size: 20px;">
                            Signature:<input type="text" style="font-size: 20px; width: 500px;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 1px solid black; font-size: 20px;">Corrective Action Taken<input type="text" style="font-size: 20px; width: 900px;"></td>
                    </tr>
                </table>
                <br><br>
                <input type="submit" value="Save" style="font-size: 40px">
                <br><br><br>
                <input type="submit" value="Submit Form" style="font-size: 40px">
            </form> 
        </div>    
    </div>
</body>



























    
    
    
    
    
    
</html>