{% load static %}
<link href="{% static 'landing/style/landingPage_navBar.css' %}" rel="stylesheet">
<div class="container" style="display: inline-flex; width: 100%; padding: 0;">
    <div style="width: 56%;">
        <a href="{% url 'landing' %}"><img class="headerLogo" src="{% static 'logo/logo_main_white_transparent.png' %}"/></a>
    </div>
    <div style="display: flex; width: 44%; justify-content: right; margin:0px;">
        <nav id="navbar">
            <ul>
                <li><a href="{% url 'landing' %}">Home</a></li>
                <li><a href="{% url 'landing' %}#features">Features</a></li>
                <li><a href="{% url 'landing' %}#cta">Sign Up</a></li>
                <li><a href="{% url 'Login' %}">Login</a></li>
            </ul>
            <div class="hamburger" id="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</div>