{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_register.css' %}" rel="stylesheet">
<link href="{% static 'landing/style/landingPage_login.css' %}" rel="stylesheet">
<script defer src="{% static 'landing/script/terms_of_use.js' %}"></script>
{% include 'landing/terms_of_use.html' %}
<div class='topCont noOverflowCenter'  style="padding: 3rem 0px;">
    <div class='regCont' style="width: 479px;margin-top:unset;">
        <form id="signup" method="POST" action="">
            {% csrf_token %}
            <div class='regHeader'>
                <h1 style='font-weight: bolder; font-size: 28px;'>Sign Up</h1>
                <p>Fill out this form to get started</p>
            </div>
            <hr>
            <div class='regBody'>
                {{userForm.first_name}}
                {{userForm.last_name}}
                {{userForm.email}}
                {{userForm.username}}
                {{profileForm.phone}}
                {{userForm.password1}}
                {{userForm.password2}}
                <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" required />
                    <label class="terms">
                        I accept the 
                        <span id="addBtn" onclick="triggerButton(this)" style="color: blue; text-decoration: underline;">
                            terms of use
                        </span>
                    </label>
                </div>
            </div>
            {% include "shared/components/submitButton.html" with label="register" %}<br>
            <p style='text-align:center;'>Already have an account? <a href="{% url 'Login' %}">Log in</a></p>
        </form>
    </div>
</div>
{% endblock %}