{% extends 'landing/landing_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_register.css' %}" rel="stylesheet">
<div class='topCont' style='height:100%;'>
    <div class='regCont'>
        <form id="signup" method="POST" action="">
            {% csrf_token %}
            <div class='regHeader'>
                <h style='font-weight: bolder; font-size: 28px;'>Sign Up</h>
                <p>Fill out this for to get started</p>
            </div>
            <hr>
            <div class='regBody'>
                {{userForm.first_name}}
                {{userForm.last_name}}
                {{userForm.email}}
                {{userForm.username}}
                {{profileForm.phone}}
                {{userForm.password1}}
                {{userForm.password2}}
                <div class="checkboxy">
                    <input name="cecky" id="checky" value="1" type="checkbox" required />
                    <label class="terms">I accept the <a href=#>terms of use</a></label>
                </div>
            </div>
            <input type="submit" id="submit" name="SIGN UP FOR METHODPLUS+" value="SIGN UP FOR METHODPLUS+">
            <p style='text-align:center;'>Already have an account? <a href="{% url 'Login' %}">Log in</a></p>
        </form>
    </div>
</div>
{% endblock %}