{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_register.css' %}" rel="stylesheet">
<link href="{% static 'landing/style/landingPage_login.css' %}" rel="stylesheet">
<div class="topCont noOverflowCenter">
    <div class="regCont" style="width: 525px; margin-top:unset;">
        <form id="signup" class='passChange' name="change_pass" action="" method="POST">
            {% csrf_token %}
            <div class='regHeader'>
                <h1 style='margin: auto; padding-right: 30px;'>Forgot Your Password?</h1>
            </div>
            <div class='regBody'>
                <p>Enter your email and if there is an account registered to that email, we will send you instructions to reset your password.</p>
                <input type="email" placeholder="email" name="email" required id="email">
            </div>
            {% include "shared/components/submitButton.html" with label="request" %}
        </form>
    </div>
</div>
{% endblock %}