{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_whiteSheet_layout.css' %}" rel="stylesheet">
<div class='noOverflowCenter'>
    <div class="whiteSheetCont" style='height:unset;'>
        <div class="sheetHeader">Privacy Policy</div>
        <div class="contentCont">

            Effective Date: 12/12/2023

            <h4>1. Introduction</h4>

            <p>Welcome to MethodPlus+ ("we," "us," or "our"). We 
                are committed to protecting your privacy and 
                providing you with a secure experience while using 
                our services. This Privacy Policy explains how we 
                collect, use, disclose, and safeguard your 
                information when you access or use our website 
                and services (collectively, the "Service"). By 
                using the Service, you consent to the practices 
                described in this Privacy Policy.</p>

            <h4>2. Information We Collect</h4>

            <p>2.1. Information You Provide: We may collect 
                information that you voluntarily provide when you 
                use our Service, including when you create an 
                account, subscribe to our services, submit user 
                content, or communicate with us.</p>

            <p>2.2. Cookies and Similar Technologies: We may use 
                cookies and similar tracking technologies to 
                collect information. You can control cookies through 
                your browser settings.</p>

            <h4>3. How We Use Your Information</h4>

            <p>We may use your information for various purposes, 
                including:</p>

            <p>3.1. To Provide and Improve the Service: We use your 
                information to deliver and maintain the Service, 
                enhance user experience, and develop new features.</p>

            <p>3.2. To Communicate: We may send you updates, 
                newsletters, or service-related announcements. 
                You can opt-out of receiving marketing 
                communications at any time.</p>

            <p>3.3. To Protect Our Rights: We may use your 
                information to investigate and address 
                violations of our Terms and Conditions or 
                to protect our rights, property, and safety 
                or the rights, property, and safety of 
                others.</p>

            <h4>4. Disclosure of Your Information</h4>

            <p>We may share your information with third parties for 
                various purposes, including:</p>

            <p>4.1. Service Providers: We may share your 
                information with third-party service providers 
                that help us operate, maintain, and improve 
                the Service.</p>

            <p>4.2. Legal Requirements: We may disclose your 
                information in response to legal requests, court 
                orders, or legal processes.</p>

            <h4>5. Security</h4>

            <p>We take reasonable measures to protect your 
                information from unauthorized access, disclosure, 
                alteration, or destruction. However, please be 
                aware that no method of transmission over the 
                internet or electronic storage is entirely secure.</p>

            <h4>6. Your Choices</h4>

            <p>You have certain choices regarding your information:</p>

            <p>6.1. Access and Update: You can access and update 
                your account information by logging into your 
                account settings.</p>

            <p>6.2. Opt-Out: You can opt-out of receiving marketing 
                communications by following the unsubscribe 
                instructions provided in our emails.</p>

            <h4>7. Children's Privacy</h4>

            <p>The Service is not intended for children under the 
                age of 18. We do not knowingly collect or maintain 
                personal information from children under 18 years 
                of age.</p>

            <h4>8. Changes to this Privacy Policy</h4>

            <p>We may update this Privacy Policy to reflect changes 
                to our practices or for other operational, legal, 
                or regulatory reasons. We will notify you of any 
                changes by posting the revised Privacy Policy on 
                our website.</p>

            <h4>9. Contact Us</h4>
            <p>If you have any questions, concerns, or requests 
                regarding this Privacy Policy or your personal 
                information, please contact us at voxoluniverse@gmail.com.</p>

            Last updated: 12/12/2023
        </div>
    </div>
</div>
{% endblock %}