{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_register.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/process_phone.js' %}"></script>
<div class='topCont' style='height:100%; margin-bottom: 6rem;'>
    <div class='regCont' style="width: 500px;">
        <form id="signup" method="POST" action="">
            {% csrf_token %}
            <div class='regHeader'>
                <h style='font-weight: bolder; font-size: 28px;'>Your Company Information</h>
                <p>You're almost there! What company do you work for?</p>
            </div>
            <hr>
            <div class='regBody' style='text-align: center;'>
                {{companyForm.company_name}}<br>
                {{companyForm.address}}<br>
                {{companyForm.city}}<br>
                {{companyForm.state}}<br>
                {{companyForm.zipcode}}<br>
                {{companyForm.phone}}
            </div>
            <input type="submit" id="submit" name="company" value="Register Company">
        </form>
    </div>
</div>
{% endblock %}