{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
{% include "ees_forms/drawing_modal.html" %}
<style>
    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formG2.js' %}"></script>
<link href="{% static 'ees_forms/style/formG2.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/method9B.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
<script defer src="{% static 'ees_forms/script/formA5_sketch.js' %}"></script>
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
<input id="weather" type="hidden" value="{{weather}}">
<div id="paperSize">    
    <div class="mainCont">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card" id="card_fitter">
                {% include "shared/components/print_button.html" with formGroup=freq %}
                <div class="paper_fitter" style="padding: 3rem;">
                    {% include "shared/components/backArrow.html" with destination="form" %}
                    <div id="ptInfo">
                        <div id="ptInfoInner">
                            <div id="newName">
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th id="boxTitle" colspan="15" style="text-align: center;">
                                        {% include "shared/components/formHeader.html" with main="Visible Emission Observation Form"%}
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="15" style="text-align: center;">Facility Name: {{facility}}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td style="height: 25px;" > </td>
                                </tr> 
                            </table>
                                </div>
                            <br><br>
                            <div id="ptInfoInner2">
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th style="width: 240px;"></th>
                                    <th style="width: 112px;"></th>
                                    <th style="width: 80px;"></th>
                                    <th style="width: 48px;"></th>
                                    <th style="width: 200px;"></th>
                                    <th style="width: 40px;"></th>
                                    <th style="width: 200px;"></th>
                                    <th style="width: 48px;"></th>
                                    <th style="width: 220px;"></th>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="5" >
                                        ESTABLISHMENT<br>{{ data.estab }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        COUNTY <br>{{ data.county }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        ESTABLISHMENT NO. <br>{{ data.estab_no }}
                                    </td>
                                </tr>
                            <tr>
                                    <td id="boxa4" colspan="5" >
                                        EQUIPMENT LOCATION<br>{{ data.equip_loc }}
                                </td>
                                    <td id="boxa4" colspan="2" >
                                        DISTRICT <br>{{ data.district }}
                                </td>
                                    <td id="boxa4" colspan="2" >
                                        DATE <br>{{ data.date }}
                                </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="1" >
                                        CITY<br>{{ data.city }}
                                    </td>
                                    <td id="boxa4" colspan="6" >
                                        OBSERVER<br>{{ data.observer }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        CERTIFIED DATE<br>{{ data.cert_date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="4" >
                                        PROCESS EQUIPMENT<br>{{ data.process_equip1 }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        OPERATING MODE<br>{{ data.op_mode1 }}</td>
                                    <td id="boxa4" colspan="2" >
                                        BACKGROUND COLOR<br>Start:{{ data.background_color_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.background_color_stop }}
                                    </td>
                                    <td id="boxa4" colspan="1" >
                                        SKY CONDITION<br>{{ data.sky_conditions }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="4" >
                                        PROCESS EQUIPMENT<br>{{ data.process_equip2 }}
                                    </td>
                                    <td id="boxa4" colspan="2">
                                        OPERATING MODE<br>{{ data.op_mode2 }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        WIND SPEED<br>Start:{{ data.wind_speed_start }}mph &nbsp; Stop:{{ data.wind_speed_stop }}mph
                                    </td>
                                    <td id="boxa4" colspan="1">
                                        WIND DIRECTION<br>{{ data.wind_direction }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE EMISSION POINT<br>Start:{{ data.emission_point_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.emission_point_stop }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        AMBIENT TEMP<br>Start:{{ data.ambient_temp_start }}<sup>o</sup> &nbsp; &nbsp; &nbsp; Stop:{{ data.ambient_temp_stop }}<sup>o</sup>
                                    </td>
                                    <td id="boxa4" colspan="1" >
                                        HUMIDITY<br>{{ data.humidity }}%
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="2" >
                                        HEIGHT ABOVE GROUND LEVEL<br>{{ data.height_above_ground }}ft.
                                    </td>
                                    <td id="boxa4" colspan="4" >
                                        HEIGHT RELATIVE TO OBSERVER<br>{{ data.height_rel_observer }}ft.
                                    </td>
                                    <td id="sketchBox" colspan="3" rowspan="7" data-filledSketch = "{{exist_canvas}}" data-base_img = "{% static 'ees_forms/images/A-5sketchBlank.png' %}" data-controls="modalContainer" data-selector={{selector}}>
                                        <div class="formImageContainer">
                                            <div id='imgspinner' class="loader"></div>
                                            {% if selector == 'form' %}
                                                {{data.canvas}}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="2" >
                                        DISTANCE FROM OBSERVER<br>{{ data.distance_from }}ft.
                                    </td>
                                    <td id="boxa4" colspan="4" >
                                        DIRECTION FROM OBSERVER<br>{{ data.direction_from }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE EMISSIONS<br>Start:{{ data.describe_emissions_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.describe_emissions_stop }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="3" >
                                        EMISSIONS COLOR<br>Start:{{ data.emission_color_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.emission_color_stop }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        PLUME TYPE:
                                        {{ data.plume_type }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="3" >
                                        WATER DROPLET PRESENT:<br>
                                        {{ data.water_drolet_present }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        IF WATER DROPLET PLUME:<br>
                                        {{ data.water_droplet_plume }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        POINT IN PLUME WERE OPACITY WAS DETERMINED<br>Start:{{ data.plume_opacity_determined_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.plume_opacity_determined_stop }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE BACKGROUND<br>Start:{{ data.describe_background_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.describe_background_stop }}
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <center>
                        Method 9B Observations shall be performed during pushing.
                        <br><br><br>
                        Highest average opacity for Method 9B reading: {{ readings_form.PEC_average_main }}
                    </center>    
                    <br><br>
                    <div id='pushTravels'>
                        <div id="bothTables">
                            <div>
                            <table name="oven1" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            Oven No: {{ readings_form.PEC_oven_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            Start Time: {{ readings_form.PEC_start_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_1 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_2 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_3 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_5 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_6 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_7 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_a_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            Highest 6-reading Average Opacity for Push: {{ readings_form.PEC_average_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                </table>
                            </div>    
                            <br>
                            <div id="ptTable"> 
                                <table name="oven2" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            Oven No: {{ readings_form.PEC_oven_b }}
                                            <span class="oven2_pop_class" id="popUp2" style="display:none;">Please Change Oven No.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            Start Time: {{ readings_form.PEC_start_b }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_1 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_2 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_3 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_5 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_6 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_7 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_b_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            Highest 6-reading Average Opacity for Push: {{ readings_form.PEC_average_b }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                </table>
                            </div> 
                        </div>
                        <br><br><br><br>
                        <div id="bothTables">
                            <div>
                                <table name="oven3" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            Oven No: {{ readings_form.PEC_oven_c }}
                                            <span class="oven2_pop_class" id="popUp3" style="display:none;">Please Change Oven No.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            Start Time: {{ readings_form.PEC_start_c }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_1 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_2 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_3 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_5 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_6 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_7 }}</td>
                                        <td id="boxa4">{{ readings_form.PEC_read_c_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            Highest 6-reading Average Opacity for Push: {{ readings_form.PEC_average_c }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 45px" > </td>
                                    </tr> 
                                </table>
                            </div>
                        </div>
                        <center>
                            For Method 9B Pushing (R336.2031(e)):
                            <br>
                            "Reading shall commence when the coke begins to fall into 
                            <br> the coke receiving car and shall end with the sixth reading"
                        </center>
                        <br><br><br><br>
                        <div style="text-align: left;">
                            {% if supervisor or client %} {% elif unlock and not search %}
                            {% include "shared/components/submitButton.html" with label="form" %}
                            {% endif %}
                        </div>   
                    </div>
                </div>
            </div>
            <br>
            {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
        </form>
    </div>
</div>
{% endblock %}