{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}

<link href="{% static 'ees_forms/style/skInventory.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/spillKits_inventory.js' %}"></script>
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden" data-form="{{formName}}"></div>
<div id="selector" style="display: hidden" data-selector="{{selector}}"></div>
<div id="paperSize">
    <div>
        <form class="mainCont" action="" method="POST">
            {% csrf_token %}
            <div class="card" id="card_fitter">
                <div class="paper_fitter" style="padding: 3rem;">
                    {% include "shared/components/print_button.html" with formGroup=freq %}
                    {% include "shared/components/backArrow.html" with destination="spillKits" form29_fsID=form29_fsID %}
                    <div class="headerCont">
                        <div class="inventoryHeader">Spill Kits Inventory Check List</div>
                        <div class="inventoryInfo">
                            Date: {{data.date}}<br>
                            Inspector: {{data.inspector}}<br>
                            Spill Kit ID: {{data.skID}}<br><br>
                            
                            Select Spill Kit Type: <p id="skTypeDiv">{{data.type}}</p><br>
                        </div>
                    </div>
                    <table class="table" id="table1" style="display: none;">
                        <tr>
                            <th>Items</th>
                            <th style="width: 100px;">Inventoried Items</th>
                            <th style="width: 100px;">Missing Items</th>
                        </tr>
                        <tr>
                            <td>8" X 10' PIG Oil-Only Booms (BOM304)</td>
                            <td class="iCountContain">
                                <input id="t1count1" oninput="t1mathItems()" name="t1count1" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.0}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss1" name="t1miss1" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.0}}{% endif %}">
                            </td>        
                        </tr>
                        <tr>
                            <td>5" X 10' PIG Oil-Only Booms (BOM405)</td>
                            <td class="iCountContain">
                                <input id="t1count2" oninput="t1mathItems()" name="t1count2" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.1}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss2" name="t1miss2" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.1}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>3" X 10' PIG Oil-Only Booms (BOM406)</td>
                            <td class="iCountContain">
                                <input id="t1count3" oninput="t1mathItems()" name="t1count3" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.2}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss3" name="t1miss3" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.2}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>PIG Sump Skimmer Pillows (SKM403)</td>
                            <td class="iCountContain">
                                <input id="t1count4" oninput="t1mathItems()" name="t1count4" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.3}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss4" name="t1miss4" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.3}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>PIG STAT-MAT Absorbent (MAT214)</td>
                            <td class="iCountContain">
                                <input id="t1count5" oninput="t1mathItems()" name="t1count5" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.4}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss5" name="t1miss5" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.4}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>5lbs Bags PIG Spaghetti Strips</td>
                            <td class="iCountContain">
                                <input id="t1count6" oninput="t1mathItems()" name="t1count6" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.5}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss6" name="t1miss6" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.5}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Temporary Disposal Bags & Ties (BAG201-L)</td>
                            <td class="iCountContain">
                                <input id="t1count7" oninput="t1mathItems()" name="t1count7" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.6}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss7" name="t1miss7" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.6}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Emergency Response Guidebook (REF303)</td>
                            <td class="iCountContain">
                                <input id="t1count8" oninput="t1mathItems()" name="t1count8" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.7}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss8" name="t1miss8" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.7}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Instruction Manual</td>
                            <td class="iCountContain">
                                <input id="t1count9" oninput="t1mathItems()" name="t1count9" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.8}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss9" name="t1miss9" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.8}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Tamper-Proof Labels (LBL100)</td>
                            <td class="iCountContain">
                                <input id="t1count10" oninput="t1mathItems()" name="t1count10" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.9}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t1miss10" name="t1miss10" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.9}}{% endif %}">
                            </td>
                        </tr>
                    </table>
                    <table class="table" id="table2" style="display: none;">
                        <tr>
                            <th>Items</th>
                            <th style="width: 100px;">Inventoried Items</th>
                            <th style="width: 100px;">Missing Items</th>
                        </tr>
                        <tr>
                            <td>48" PIG Blue Absorbent Socks (4048)</td>
                            <td class="iCountContain">
                                <input id="t2count1" oninput="t2mathItems()" name="t2count1" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.0}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss1" name="t2miss1" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.0}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>10' PIG Blue Absorbent Socks (PIG202)</td>
                            <td class="iCountContain">
                                <input id="t2count2" oninput="t2mathItems()" name="t2count2" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.1}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss2" name="t2miss2" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.1}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>PIG Universal Mat Pads (MAT203)</td>
                            <td class="iCountContain">
                                <input id="t2count3" oninput="t2mathItems()" name="t2count3" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.2}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss3" name="t2miss3" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.2}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>PIG Pillows (PIL201)</td>
                            <td class="iCountContain">
                                <input id="t2count4" oninput="t2mathItems()" name="t2count4" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.3}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss4" name="t2miss4" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.3}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>PIG Wipers (WIP310)</td>
                            <td class="iCountContain">
                                <input id="t2count5" oninput="t2mathItems()" name="t2count5" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.4}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss5" name="t2miss5" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.4}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Temporary Disposal Bags & Ties (BAG201-L)</td>
                            <td class="iCountContain">
                                <input id="t2count6" oninput="t2mathItems()" name="t2count6" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.5}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss6" name="t2miss6" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.5}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Emergency Response Guidebook</td>
                            <td class="iCountContain">
                                <input id="t2count7" oninput="t2mathItems()" name="t2count7" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.6}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss7" name="t2miss7" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.6}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Instruction</td>
                            <td class="iCountContain">
                                <input id="t2count8" oninput="t2mathItems()" name="t2count8" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.7}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss8" name="t2miss8" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.7}}{% endif %}">
                            </td>
                        </tr>
                        <tr>
                            <td>Tamper Proof Seals</td>
                            <td class="iCountContain">
                                <input id="t2count9" oninput="t2mathItems()" name="t2count9" class="iCount" type="number" value="{% if selector == 'edit' %}{{data2.counted_items.8}}{% endif %}">
                            </td>
                            <td class="iCountContain">
                                <input id="t2miss9" name="t2miss9" readonly class="iCount miss" type="number" value="{% if selector == 'edit' %}{{data2.missing_items.8}}{% endif %}">
                            </td>
                        </tr>
                    </table> 
                    <br>
                    <input type="submit" value="Submit Form" class="submit_button" style="display: none;" id="submitHere">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}