{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}{% load form_tags %}
{% include "ees_forms/drawing_modal.html" %}
<style>
    .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formG2.js' %}"></script>
<link href="{% static 'ees_forms/style/formG2.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/method9B.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
<script defer src="{% static 'ees_forms/script/formA5_sketch.js' %}"></script>
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
<input id="weather" type="hidden" value="{{weather}}">
<div id="paperSize">    
    <div class="mainCont">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card" id="card_fitter">
                {% include "shared/components/print_button.html" with formGroup=freq %}
                <div class="paper_fitter" style="padding: 3rem;">
                    {% include "shared/components/backArrow.html" with destination="form" %}
                    <div id="ptInfo">
                        <div id="ptInfoInner">
                            <div id="newName">
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th id="boxTitle" colspan="15" style="text-align: center;">
                                        {% include "shared/components/formHeader.html" with main="Visible Emission Observation Form"%}
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="15" style="text-align: center;">Facility Name: {{facility}}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td style="height: 25px;" > </td>
                                </tr> 
                            </table>
                                </div>
                            <br><br>
                            <div id="ptInfoInner2" style="min-width: 1189px;">
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th style="width: 240px;"></th>
                                    <th style="width: 112px;"></th>
                                    <th style="width: 80px;"></th>
                                    <th style="width: 48px;"></th>
                                    <th style="width: 200px;"></th>
                                    <th style="width: 40px;"></th>
                                    <th style="width: 200px;"></th>
                                    <th style="width: 48px;"></th>
                                    <th style="width: 220px;"></th>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="5" >
                                        <strong>ESTABLISHMENT</strong><br>{{ data.estab }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>COUNTY</strong> <br>{{ data.county }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>ESTABLISHMENT NO.</strong> <br>{{ data.estab_no }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="5" >
                                        <strong>EQUIPMENT</strong> LOCATION<br>{{ data.equip_loc }}
                                    </td>
                                        <td id="boxa4" colspan="2" >
                                        <strong>DISTRICT</strong> <br>{{ data.district }}
                                    </td>
                                        <td id="boxa4" colspan="2" >
                                        <strong>DATE</strong> <br>{{ data.date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="1" >
                                        <strong>CITY</strong><br>{{ data.city }}
                                    </td>
                                    <td id="boxa4" colspan="6" >
                                        <strong>OBSERVER</strong><br>{{ data.observer }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>CERTIFIED</strong> DATE<br>{{ data.cert_date }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="4" >
                                        <strong>PROCESS EQUIPMENT</strong><br>{{ data.process_equip1 }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>OPERATING MODE</strong><br>{{ data.op_mode1 }}</td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>BACKGROUND COLOR</strong><br><strong>Start:</strong> {{ data.background_color_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.background_color_stop }}
                                    </td>
                                    <td id="boxa4" colspan="1" >
                                        <strong>SKY CONDITION</strong><br>{{ data.sky_conditions }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="4" >
                                        <strong>PROCESS EQUIPMENT</strong><br>{{ data.process_equip2 }}
                                    </td>
                                    <td id="boxa4" colspan="2">
                                        <strong>OPERATING MODE</strong><br>{{ data.op_mode2 }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>WIND SPEED</strong><br><strong>Start:</strong> {{ data.wind_speed_start }} mph &nbsp; <strong>Stop:</strong> {{ data.wind_speed_stop }}{% if data.wind_speed_stop|lower != 'same' %} mph{% endif %}
                                    </td>
                                    <td id="boxa4" colspan="1">
                                        <strong>WIND DIRECTION</strong><br>{{ data.wind_direction }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        <strong>DESCRIBE EMISSION POINT</strong><br><strong>Start:</strong> {{ data.emission_point_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.emission_point_stop }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        <strong>AMBIENT TEMP</strong><br><strong>Start:</strong> {{ data.ambient_temp_start }}<sup>o</sup> &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.ambient_temp_stop }}{% if data.ambient_temp_stop|lower != 'same' %}<sup>o</sup>{% endif %}
                                    </td>
                                    <td id="boxa4" colspan="1" >
                                        <strong>HUMIDITY</strong><br>{{ data.humidity }}%
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="2" >
                                        <strong>HEIGHT ABOVE GROUND LEVEL</strong><br>{{ data.height_above_ground }}{{options.bat_height_label}}
                                    </td>
                                    <td id="boxa4" colspan="4" >
                                        <strong>HEIGHT RELATIVE TO OBSERVER</strong><br>{{ data.height_rel_observer }}{{options.bat_height_label}}
                                    </td>
                                    <td id="sketchBox" colspan="3" rowspan="7" data-filledSketch = "{{exist_canvas}}" data-base_img = "{% static 'ees_forms/images/A-5sketchBlank.png' %}" data-controls="modalContainer" data-selector={{selector}}>
                                        <div class="formImageContainer">
                                            <div id='imgspinner' class="loader"></div>
                                            {% if selector == 'form' %}
                                                {{data.canvas}}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="2" >
                                        <strong>DISTANCE FROM OBSERVER</strong><br>{{ data.distance_from }}{{options.bat_height_label}}
                                    </td>
                                    <td id="boxa4" colspan="4" >
                                        <strong>DIRECTION FROM OBSERVER</strong><br>{{ data.direction_from }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        <strong>DESCRIBE EMISSIONS</strong>
                                        <br><strong>Start:</strong> {{ data.describe_emissions_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.describe_emissions_stop }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="3" >
                                        <strong>EMISSIONS COLOR</strong><br/>
                                        <strong>Start:</strong> {{ data.emission_color_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.emission_color_stop }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        <strong>PLUME TYPE:</strong><br/>
                                        {{ data.plume_type }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="3" >
                                        <strong>WATER DROPLET PRESENT:</strong><br/>
                                        {{ data.water_drolet_present }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        <strong>IF WATER DROPLET PLUME:</strong><br/>
                                        {{ data.water_droplet_plume }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        <strong>POINT IN PLUME WERE OPACITY WAS DETERMINED</strong><br/>
                                        <strong>Start:</strong> {{ data.plume_opacity_determined_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.plume_opacity_determined_stop }}
                                    </td>
                                </tr>
                                <tr>
                                    <td id="boxa4" colspan="6" >
                                        <strong>DESCRIBE BACKGROUND</strong><br/>
                                        <strong>Start:</strong> {{ data.describe_background_start }} &nbsp; &nbsp; &nbsp; <strong>Stop:</strong> {{ data.describe_background_stop }}
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    {% include "shared/components/stopWatchToggle.html" %}
                    <br><br>
                    <center>
                        Method 9B Observations shall be performed during pushing.
                        <br><br><br>
                        <span class="bold">Highest average opacity for Method 9B reading: </span>{{ data.PEC_average_main }}
                    </center>    
                    <br><br>
                    <div id='pushTravels'>
                        <div id="bothTables">
                            <div>
                                <table name="oven1" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Oven No: </span>{{ data.PEC_oven_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <span class="bold">Start Time: </span>{{ data.PEC_start_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black;width: 33px;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ data.PEC_read_a_1 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_2 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_3 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ data.PEC_read_a_5 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_6 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_7 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_a_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Highest 6-reading Average Opacity for Push: </span>{{ data.PEC_average_a }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                </table>
                            </div>    
                            <br>
                            <div id="ptTable"> 
                                <table name="oven2" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Oven No: </span>{{ data.PEC_oven_b }}
                                            <span class="oven2_pop_class" id="popUp2" style="display:none;">Please Change Oven No.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <span class="bold">Start Time: </span>{{ data.PEC_start_b }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black; width: 33px;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ data.PEC_read_b_1 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_2 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_3 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ data.PEC_read_b_5 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_6 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_7 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_b_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Highest 6-reading Average Opacity for Push: </span>{{ data.PEC_average_b }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                </table>
                            </div> 
                        </div>
                        <br><br><br><br>
                        <div id="bothTables">
                            <div>
                                <table name="oven3" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Oven No: </span>{{ data.PEC_oven_c }}
                                            <span class="oven2_pop_class" id="popUp3" style="display:none;">Please Change Oven No.</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <span class="bold">Start Time: </span>{{ data.PEC_start_c }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 5px" > </td>
                                    </tr> 
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td rowspan="3" style="border: 1px solid black; width: 33px;"><span class="sideWord">Push</span></td>
                                        <td id="boxa4" style="width: 50px; font-size: 10px;"><sub>Min</sub>\<sup>Sec</sup></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">15</td>
                                        <td id="boxa4">30</td>
                                        <td id="boxa4">45</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">0</td>
                                        <td id="boxa4">{{ data.PEC_read_c_1 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_2 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_3 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_4 }}</td>
                                    </tr>
                                    <tr style="text-align: center;">
                                        <td></td>
                                        <td id="boxa4">1</td>
                                        <td id="boxa4">{{ data.PEC_read_c_5 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_6 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_7 }}</td>
                                        <td id="boxa4">{{ data.PEC_read_c_8 }}</td>
                                    </tr>
                                    <tr>
                                        <td style="height: 15px" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="6">
                                            <span class="bold">Highest 6-reading Average Opacity for Push: </span>{{ data.PEC_average_c }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 45px" > </td>
                                    </tr> 
                                </table>
                            </div>
                        </div>
                        <center>
                            For Method 9B Pushing (R336.2031(e)):
                            <br>
                            "Reading shall commence when the coke begins to fall into 
                            <br> the coke receiving car and shall end with the sixth reading"
                        </center>
                        <br><br><br><br>
                        <div style="text-align: left;">
                            {% if supervisor or client %} {% elif unlock and not search %}
                            {% include "shared/components/submitButton.html" with label="form" %}
                            {% endif %}
                        </div>   
                    </div>
                </div>
                {% include "shared/components/stopWatch.html" %}
            </div>
            <br>
            {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
        </form>
    </div>
</div>
{% endblock %}