{% extends "observer/components/obs_layout.html" %}{% load static %}
{% block list%}
<link href="{% static 'ees_forms/style/packet_div.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/facilityList.css' %}" rel="stylesheet" />
<style>
    .listStyle{
        list-style-type: none;
        margin-left: 40px;
        padding: 5px;
    }
    .listStyle:hover{
        background-color: #b5b5b54f;
    }
</style>
<div class="mainCont forms" style="display:block;margin-top: 18px;">
    <div style="display: flex;justify-content: center;">
        <div class="card" style="min-width: 300px; width: 25%;">
            <div style="padding: 20px;">
                <h3>Packets:</h3>
                {% comment %} <ul style="width: 253px;"> {% endcomment %}
                <ul>
                    {% for packet in packetsQuery %}
                    <li style="list-style-type: none;margin-top: 15px;">
                        {% include 'supervisor/facilityForms/packet_div.html' with page='obsDash' %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card" style="min-width: 300px; width: 40%; margin-left: 18px;">
            <div style="padding: 20px;">
                <h3>Facility Contacts:</h3>
                <ul>
                    {% for packet in packetsQuery %}
                    <li style="list-style-type: none;margin-top: 15px;">
                        {% include 'supervisor/facilityForms/packet_div.html' with page='obsDash' %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div style="display: flex;justify-content: center;">
        <div class='card' style="width: calc(65% + 18px); margin-top: 18px;">
            <div style="padding: 20px;">
                <h3>{{facility}} Packets and Forms:</h3>
                <ul>
                    {% for packet in packetsQuery %}
                    <li style="list-style-type: none;margin-top: 15px;">
                        {% include 'supervisor/facilityForms/packet_div.html' with page='obsDash' %}
                        {% if packet.settings.formsList %}
                        <ul>
                            {% for key, form in packet.settings.formsList.items %}
                                {% for x in formData %}
                                    {% if x.id == form.formID %}
                                            <a href="{% if x.link != 'formO' and x.link != 'formP' %}{% url x.link facility 'form' %}{% elif x.link == 'formO' %}{% url x.link facility 'form' todaysName %}{% elif x.link == 'formO' %}{% url x.link facility 'form' todaysName %}{% endif %}">
                                                {{action}}
                                                <li class="listStyle">
                                                    {{key}} - {{x.header}} - {{x.title}}
                                                </li>
                                            </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        {% else %}
                            <div class="contentCont center" style="display:none; padding: 0px 57px;">
                                No forms have been added. Add forms to this Packet by clicking 'add' on the packet.
                            </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}