{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}{% load formD_tags %}
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formD.js' %}"></script>
<link href="{% static 'ees_forms/style/formD.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}
<div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
<div id="paperSize">
    <div class="mainCont">
        <form action="" method="POST" style="margin: auto;margin-bottom: 100px;">
            {% csrf_token %}
            <div class="card" id="card_fitter">
                {% include "shared/components/print_button.html" with formGroup=freq %}
                <div class="paper_fitter" style="padding: 3rem;">
                    {% include "shared/components/backArrow.html" with destination="form" %}
                    <table style="border-collapse: collapse; margin: auto;">
                        <tr>
                            <th id="boxTitle" colspan="5" style="text-align: center;">
                                {% include "shared/components/formHeader.html" with main="Fugitive Dust Vehicle Inspection Form"%}
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="3" style="text-align: center;">
                                Facility Name: {{facility}}
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="height: 15px;" ></td>
                        </tr>
                        <tr>
                            <th colspan="3" style="text-align: center;">
                                Week Of:    
                                {{ form.week_start }} - {{ form.week_end }}
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td style="height: 25px;" ></td>
                        </tr>
                    </table>
                    <div id="truckCard">
                        <div id="truckTabs">
                            <div class="tabContainer topLeftCont" onclick="changeTab(1)" id='tab1Cont'>
                                Truck 1
                            </div>
                            <div class="tabContainer" onclick="changeTab(2)" id='tab2Cont'>
                                Truck 2
                            </div>
                            <div class="tabContainer" onclick="changeTab(3)" id='tab3Cont'>
                                Truck 3
                            </div>
                            <div class="tabContainer" onclick="changeTab(4)" id='tab4Cont'>
                                Truck 4
                            </div>
                            <div class="tabContainer topRightCont" onclick="changeTab(5)" id='tab5Cont'>
                                Truck 5
                            </div>
                        </div>
                        {% for truck in amountOfTrucks %}
                        <div class="truckForm" id='truck{{forloop.counter}}Card'>
                            <table style="border-collapse: collapse; margin: auto;">
                                <tr>
                                    <th class="inputHeader">Observer: </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <input type="text" name="observer{{forloop.counter}}" value="{% with fill='observer'|addNum:forloop.counter %}{% if initial_data|get_category:fill %}{{initial_data|get_category:fill}}{% endif %}{% endwith %}" onchange="if_one_then_all()" class="baseInput" maxlength="30" id="id_observer{{forloop.counter}}" required>
                                        {% else %}
                                            {% with fixed='observer-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">Truck ID: </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <select name="truck_id{{forloop.counter}}" onchange="if_one_then_all()" class="baseInput" class="selectInput" id="id_truck_id{{forloop.counter}}" required>
                                                <option value="">---------</option>
                                                <option value="#5" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == '#5' %}selected{% endif %}{% endwith %}>#5</option>
                                                <option value="#6" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == '#6' %}selected{% endif %}{% endwith %}>#6</option>
                                                <option value="#7" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == '#7' %}selected{% endif %}{% endwith %}>#7</option>
                                                <option value="#9" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == '#9' %}selected{% endif %}{% endwith %}>#9</option>
                                                <option value="Dozer" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Dozer' %}selected{% endif %}{% endwith %}>Dozer</option>
                                                <option value="Semi" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Semi' %}selected{% endif %}{% endwith %}>Semi</option>
                                                <option value="Contractor" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Contractor' %}selected{% endif %}{% endwith %}>Contractor</option><option value="Security">Security</option>
                                                <option value="Water Truck" {% with fill='truck_id'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Water Truck' %}selected{% endif %}{% endwith %}>Water Truck</option>
                                            </select>
                                        {% else %}
                                            {% with fixed='truck_id-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">Date: </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <input type="date" name="date{{forloop.counter}}" value="{% with fill='date'|addNum:forloop.counter %}{% if initial_data|get_category:fill %}{{initial_data|get_category:fill}}{% endif %}{% endwith %}" onchange="if_one_then_all()" class="baseInput" id="id_date{{forloop.counter}}" required>
                                        {% else %}
                                            {% with fixed='date-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">Time: </th>
                                    <td>
                                        {% if selector == 'form' %}
                                        <input type="time" name="time{{forloop.counter}}" value="{% with fill='time'|addNum:forloop.counter %}{% if initial_data|get_category:fill %}{{initial_data|get_category:fill}}{% endif %}{% endwith %}" onchange="if_one_then_all()" class="baseInput" id="id_time{{forloop.counter}}" required>
                                    {% else %}
                                        {% with fixed='time-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">Contents: </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <select name="contents{{forloop.counter}}" onchange="if_one_then_all()" class="baseInput" class="selectInput" id="id_contents{{forloop.counter}}" required>
                                                <option value="">---------</option>
                                                <option value="Coal" {% with fill='contents'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Coal' %}selected{% endif %}{% endwith %}>Coal</option>
                                                <option value="Coke" {% with fill='contents'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Coke' %}selected{% endif %}{% endwith %}>Coke</option>
                                                <option value="Breeze" {% with fill='contents'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Breeze' %}selected{% endif %}{% endwith %}>Breeze</option>
                                            </select>
                                        {% else %}
                                            {% with fixed='contents-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">6" or greater freeboard? </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <select name="freeboard{{forloop.counter}}" oninput="freeboard(this)" class="baseInput" class="selectInput" id="id_freeboard{{forloop.counter}}" required>
                                                <option value="">---------</option>
                                                <option value="Yes" {% with fill='freeboard'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Yes' %}selected{% endif %}{% endwith %}>Yes</option>
                                                <option value="No" {% with fill='freeboard'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'No' %}selected{% endif %}{% endwith %}>No</option>
                                            </select>
                                        {% else %}
                                            {% with fixed='freeboard-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="inputHeader">If NO, is material adequately wetted and stable? </th>
                                    <td>
                                        {% if selector == 'form' %}
                                            <select name="wetted{{forloop.counter}}" onchange="if_one_then_all()" class="baseInput" class="selectInput" id="id_wetted{{forloop.counter}}" required>
                                                <option value="">---------</option>
                                                <option value="N/A" {% with fill='wetted'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'N/A' %}selected{% endif %}{% endwith %}>N/A</option>
                                                <option value="Yes" {% with fill='wetted'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'Yes' %}selected{% endif %}{% endwith %}>Yes</option>
                                                <option value="No" {% with fill='wetted'|addNum:forloop.counter %}{% if initial_data|get_category:fill == 'No' %}selected{% endif %}{% endwith %}>No</option>
                                            </select>
                                        {% else %}
                                            {% with fixed='wetted-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2" class="inputHeaderComment">Comments: </th>
                                </tr>
                                <tr style="text-align: center;">
                                    <td colspan="2">
                                        <textarea name="comments{{forloop.counter}}" cols="40" rows="3" onchange="if_one_then_all()" type="text" class="textBox" maxlength="30" id="id_comments{{forloop.counter}}" required>{% if selector == 'form' %}{% with fill='comments'|addNum:forloop.counter %}{% if initial_data|get_category:fill %}{{initial_data|get_category:fill}}{% endif %}{% endwith %}{% else %}{% with fixed='comments-'|addNum:forloop.counter %}{{form|get_instance:fixed}}{% endwith %}{% endif %}</textarea>
                                        <p style="font-size: 15px;">**If there are no notes/comments input '-'</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {% endfor %}
                    </div> 
                    {% if supervisor or client %} {% elif unlock and not search %}
                    {% include "shared/components/submitButton.html" with label="form" %}
                    {% endif %}
                </div>
            </div>
            <br>
            {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
        </form>
    </div>
</div>
{% endblock %}
