{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% load static %}{% load form24_tags %}
{% block extra_head %}
    {% if not unlock %}
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
    <link href="{% static 'ees_forms/style/form24.css' %}" rel="stylesheet" />
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
{% endblock %}
{% block list %}
    <div id="formName" style="display: hidden" data-form="{{formName}}"></div>
    <form class="mainCont" action="" method='POST'>
        {% csrf_token %}
        <div class="card" id="card_fitter">
            {% include "shared/components/print_button.html" with formGroup=freq %}
            <div class="paper_fitter" style="padding: 3rem;">
                {% include "shared/components/backArrow.html" with destination="form" %}
                {% include "shared/components/formHeader.html" with main="Stormwater Observation Form" %}
                <div class="observation-card">
                    <div>
                        <div>
                            <label for="id_date">Date: {{ data.date }}</label>
                        </div>
                        <div>
                            <label for="id_observer">Observer: {{ data.observer }}</label>
                        </div>
                    </div>
                    <div class="questions">
                        {% for i, question in questionLabels.items %}
                            <div class="question">
                                <span>{{ i|upper }}: {{ question }}</span>
                                <div class="toggle-buttons">
                                    {{ data|getfield:i }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="comments">
                        <label for="id_comments">Comments:</label>
                        {{ data.comments }}
                    </div>
                    <div class="actions-taken">
                        <label for="id_actions_taken">Actions Taken(Include date mitigated):</label>
                        {{ data.actions_taken }}
                    </div>
                </div>
                {% if unlock and not search %}
                    {% include "shared/components/submitButton.html" with label="form" %}
                {% endif %}
            </div>
        </div>
        <br>
        {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
    </form>
{% endblock %}