{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%} {% load static %}
<script defer src="{% static 'ees_forms/script/tempSave_form30.js' %}"></script>
<script defer src="{% static 'ees_forms/script/form30.js' %}"></script>
<link href="{% static 'ees_forms/style/form30.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if search %}{{ data.inspection_json|json_script:"inspection_json" }}{% endif %}
{{ fsIDSelect.settings.settings|json_script:"fsID_json" }}
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}
<div id="selector" data-selector="{{selector}}"></div>
<div id="formName" style="display: hidden" data-form="{{formName}}"></div>
<input type="hidden" id="fsID" name="fsID" value="{{ fsID }}">

<div class="container">
    {% include "shared/components/print_button.html" with formGroup=freq %}
    {% include "shared/components/backArrow.html" with destination="form" %}
    <h2 style="text-align: center;">Waste Area Inspection Form</h2>
    <br>
    <form method="POST">
        
        {% csrf_token %}
        
        <!-- Main Form Section -->
        <div style="text-align: center;">
            <label for="id_observer">Inspector Name:</label>
            {{data.observer}}
            <label for="id_date">Date:</label>
            {{data.date}}
            <label for="id_time">Time:</label>
            {{data.time}}
            
            <br><br>
            <label for="id_area_name">Area Name:</label>
            {{data.area_name}}
        </div>

        <!-- Status Check Section -->
        <div style="padding: 20px;">
            <div class="status-section">
                <h3>Status Checks</h3>
                <div class="status-container">
                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">Containers are properly closed and in good condition (no dents or corrosion).</p>
                            <div class="status-options">
                            {% comment %} {% if search %}
                                <span class="status-indicator">
                                    {{ data.inspection_json.check1.status }}
                                </span>
                            {% else %} {% endcomment %}
                                {% for radio in data.check1 %}
                                    <label class="radio-container">
                                        {{ radio.tag }} {{ radio.choice_label }}
                                    </label>
                                {% endfor %}
                                {% comment %} {% endif %} {% endcomment %}
                            </div>
                        </div>
                        {{ data.comments1 }}
                        {% comment %} <div class="status-comment" style="display: none;">
                            {{ data.inspection_json.check1.comment }}
                        </div> {% endcomment %}
                    </div>

                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">Containers are 55 gallons or smaller and compatible with waste stored.</p>
                            <div class="status-options">
                                {% if search %}
                                    {{data.inspection_json.check2.status}}
                                {% else %}
                                    {% for radio in data.check2 %}
                                        <label class="radio-container">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ data.comments2 }}
                    </div>

                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">Labels on containers include accumulation dates, waste descriptions, and waste codes.</p>
                            <div class="status-options">
                                {% if search %}
                                    {{data.inspection_json.check3.status}}
                                {% else %}
                                    {% for radio in data.check3 %}
                                        <label class="radio-container">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ data.comments3 }}
                    </div>

                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">No spills, leaks, or staining around the area.</p>
                            <div class="status-options">
                                {% if search %}
                                    {{data.inspection_json.check4.status}}
                                {% else %}
                                    {% for radio in data.check4 %}
                                        <label class="radio-container">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ data.comments4 }}
                    </div>

                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">No water or liquids in the containment area.</p>
                            <div class="status-options">
                                {% if search %}
                                    {{data.inspection_json.check5.status}}
                                {% else %}
                                    {% for radio in data.check5 %}
                                        <label class="radio-container">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ data.comments5 }}
                    </div>

                    <div class="status-item">
                        <div class="status-header">
                            <p class="status-text">Full containers of hazardous waste are moved to the 90-day storage area within 3 days.</p>
                            <div class="status-options">
                                {% if search %}
                                    {{data.inspection_json.check6.status}}
                                {% else %}
                                    {% for radio in data.check6 %}
                                        <label class="radio-container">
                                            {{ radio.tag }} {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {{ data.comments6 }}
                    </div>
                </div>
            </div>
        </div>

        

        <table class="waste-table">
            <thead>
                <tr>
                    <th style="width: 195px;">Description</th>
                    <th style="width: 168px;">Count</th>
                    <th style="width: 158px;">Waste Code</th>
                    <th>Dates</th>
                    <th style="width: 84px;">Action</th>
                </tr>
            </thead>
            <tbody id="wasteTableBody">
                {% if not existing %}
                <tr>
                    <td>
                        <select name="waste_description_0[]" required>
                            <option value="">-------</option>
                            {% for key, category in fsIDSelect.settings.settings.items %}
                                {% if key|slice:":3" == "cat" %}
                                    <option value="{{category}}">{{category}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
        
                    <td>
                        <div class="count-container">
                            <button type="button" class="decrement">−</button>
                            <input type="number" name="container_count_0[]" value="1" min="1" required>
                            <button type="button" class="increment">+</button>
                        </div>
                    </td>
        
                    <td>
                        <select name="waste_code_0[]" required>
                            <option value="">-------</option>
                            <option value="empty">EMPTY</option>
                            <option value="univ">UNIV</option>
                            <option value="non-haz">NON-HAZ</option>
                            <option value="haz">HAZ</option>
                        </select>
                    </td>
        
                    <td>
                        <div class="date-container" name="date_container_0[]">
                            <div class="date-group">
                                <input type="date" name="waste_dates_0[]" required>
                                <button type="button" class="remove-date" title="Remove Date">✖</button>
                            </div>
                        </div>
                        <button type="button" class="add-date">+ Add Date</button>
                    </td>
        
                    <td><button type="button" class="removeRow">🗑️</button></td>
                </tr>
                {% else %}
                    {% for key, waste in data.containers_json.items %}
                        {% with forCount=forloop.counter0 %}
                        <tr>
                            <td>
                                <select name="waste_description_{{ forloop.counter0 }}[]" required>
                                    <option value="">-------</option>
                                    {% for key, category in fsIDSelect.settings.settings.items %}
                                        {% if key|slice:":3" == "cat" %}
                                            <option value="{{category}}" {% if category == waste.description %}selected{% endif %}>{{category}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                {% comment %} <input type="text" name="waste_description_{{ forloop.counter0 }}[]" value="{{waste.description}}" required> {% endcomment %}
                            </td>
                
                            <td>
                                <div class="count-container">
                                    <button type="button" class="decrement">−</button>
                                    <input type="number" name="container_count_{{ forloop.counter0 }}[]" value="{{waste.count}}" min="1" required>
                                    <button type="button" class="increment">+</button>
                                </div>
                            </td>
                
                            <td>
                                <select name="waste_code_{{ forloop.counter0 }}[]" required>
                                    <option value="">-------</option>
                                    <option value="empty" {% if waste.code == "empty" %}selected{% endif %}>EMPTY</option>
                                    <option value="univ" {% if waste.code == "univ" %}selected{% endif %}>UNIV</option>
                                    <option value="non-haz" {% if waste.code == "non-haz" %}selected{% endif %}>NON-HAZ</option>
                                    <option value="haz" {% if waste.code == "haz" %}selected{% endif %}>HAZ</option>
                                </select>
                            </td>
                
                            <td>
                                {% for dates in waste.dates %}
                                <div class="date-container" name="date_container_{{ forCount }}[]">
                                    <div class="date-group">
                                        <input type="date" name="waste_dates_{{ forCount }}[]" value="{{dates}}" required>
                                        <button type="button" class="remove-date" title="Remove Date">✖</button>
                                    </div>
                                </div>
                                {% endfor %}
                                <button type="button" class="add-date">+ Add Date</button>
                            </td>
                
                            <td><button type="button" class="removeRow">🗑️</button></td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
        <!-- Add Row Button -->
        <button type="button" id="addRow" class="add-row-btn">+ Add Row</button>
        

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}