{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}


<style>
    .topSection2{
        width: 89rem;
        margin: auto;
        position: relative;
        margin-top: 6rem;
    }
    .optionsCont{
        background: #fff;
        box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 40%), 0px 4px 20px rgb(0 0 0 / 33%);
        border-radius: 5px;
        width: 58rem;
        margin: auto;
        padding:3rem
    }
    #submit {
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
            background: -moz-linear-gradient(
            top,
            #b9c5dd 0%,
            #a4b0cb);
        background: -webkit-gradient(
            linear, left top, left bottom, 
            from(#b9c5dd),
            to(#a4b0cb));
        border-radius: 5px;
        border: 1px solid #737b8d;
        box-shadow:
            0px 5px 5px rgba(000,000,000,0.1),
            inset 0px 1px 0px rgba(255,255,255,0.5);
        text-shadow:
            0px 1px 3px rgba(000,000,000,0.3),
            0px 0px 0px rgba(255,255,255,0);
        display: table;
        position: static;
        clear: both;
    }
    
    #submit:hover {
        background: -moz-linear-gradient(
            top,
            #a4b0cb 0%,
            #b9c5dd);
        background: -webkit-gradient(
            linear, left top, left bottom, 
            from(#a4b0cb),
            to(#b9c5dd));
    }
</style>
<div class='topCont' style="height:100%;">
    <div class="headerSpace"></div>
    <div class='topSection2'>
        <div class="optionsCont">
            <p>Thank You! You're all set</p>
            <p>Your payment has been successfully processed and your subscription to MethodPlus+ has been confirmed. Check your email inbox for your Subscription Receipt and Account Details. If your email doesn't show up right away, make sure you check your Junk Folder.</p>
                
            <p>Remember, MethodPlus+ is a powerful tool when it comes to collecting, storing, and viewing observation data. Take full advantage of all the functionality MethodPlus+ has to offer including tailored Forms to fit your needs.</p>

            <p>Click below to get started with MethodPlus+</p>
            {% comment %} <p>You can access your subscription details in settings located within the User Profile Menu in the upper right corner of your Dashboard. If you have any questions, please visit the <a href="">FAQ</a> section or contact our <a href="">SUPPORT TEAM</a>.       </p> {% endcomment %}
            
            <a href="{% url 'Register' 'supervisor' 'facility' %}" id="submit">Lets get started!</a>

        </div>
    </div>
</div>

<script>

</script>


{%endblock%}