{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_receipt.css' %}" rel="stylesheet" />
<div class='topCont' style="height:100%;">
    <div class="headerSpace"></div>
    <div class='topSection2'>
        <div class="optionsCont">
            <p>Thank You! You're all set</p>
            <p>Your payment has been successfully processed and your subscription to MethodPlus+ has been confirmed. Check your email inbox for your Subscription Receipt and Account Details. If your email doesn't show up right away, make sure you check your Junk Folder.</p>
                
            <p>Remember, MethodPlus+ is a powerful tool when it comes to collecting, storing, and viewing observation data. Take full advantage of all the functionality MethodPlus+ has to offer including tailored Forms to fit your needs.</p>

            <p>Click below to get started with MethodPlus+</p>
            {% comment %} <p>You can access your subscription details in settings located within the User Profile Menu in the upper right corner of your Dashboard. If you have any questions, please visit the <a href="">FAQ</a> section or contact our <a href="">SUPPORT TEAM</a>.       </p> {% endcomment %}
            
            <a href="{% url 'Register' 'facility' %}" id="submit">Lets get started!</a>

        </div>
    </div>
</div>

<script>

</script>


{%endblock%}