{% extends "supervisor/components/sup_layout.html" %}
{% load static %}
{% block extra_head %}
    <link href="{% static 'ees_forms/style/facilityForms.css' %}" rel="stylesheet" />
    <link href="{% static 'ees_forms/style/add_to_facility_forms.css' %}" rel="stylesheet" />
    <script defer src="{% static 'ees_forms/script/formSettings.js' %}"></script>
{% endblock %}
{% block list %}
<div class='mainCont' style="width:1000px; max-width:unset;">
    <div class="card bottomOfPageMargin">
        <div class="cardHeader methodPlusBlue">
            {% include "shared/components/backArrow.html" with destination="facilityList"%}
            Select Forms to add to {{facility}}
        </div>
        <div style='padding: 15px 32px;'>
            <div style="text-align:center; width:100%;margin-bottom:25px;">
                Don't see the form you want? 
                <a href="{% url 'requestForm' %}" style="text-decoration: underline;">
                    Submit a form Request
                </a>
            </div>
            <div>
                <form method="GET" action="./add-forms">
                    <input type="text" name="q" placeholder="search forms..."/><input type="submit" value="search"/>
                </form>
            </div>
            <form id="mainForm" method='POST' action='' >
                {% csrf_token %}
                <div>
                {% comment %} <div style="height: 457px;"> {% endcomment %}
                    <table class="formDataDisplay">
                        <tr style="height: 24px; background: #3d516482;">
                            <th style="width: 1%;"></th>
                            <th style="width: 4%;"></th>
                            <th style="width: 25%;">Form Type</th>
                            <th style="width: 30%;">Description</th>
                        </tr>
                        {% for form in pageData %}
                        <tr class="formRows">
                            <td class="rowCheckMark">
                                <input class="formCheckBox" onload="toggleSettings(this)" onclick="toggleSettings(this)" data-count="{{form.form}}" name="forms{{form.form}}" type="checkbox" value="{{form.form}}">
                            </td>
                            <td class="rowFormID">{{form.form}} - </td>
                            <td class="rowFormType">{{form.header}}</td>
                            <td>{{form.title}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                {% with defaultTitle=form.title %}
                                    {% include 'supervisor/components/form_settings_insert.html' with formID=form.form count=form.form form_add='true'%}
                                {% endwith %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="paginator">
                    {% if pageData.has_previous %}
                        <a  href="?{% if query %}q={{query}}&{% endif %}page={{pageData.previous_page_number}}">&laquo</a>
                    {% endif %}
                    {% for i in pageData.paginator.page_range %}
                        {% if pageData.number == i %}
                        <a class="active">{{i}}</a>
                        {% else %}
                        <a  href="?{% if query %}q={{query}}&{% endif %}page={{i}}">{{i}}</a>
                        {% endif %}
                    {% endfor %}
                    {% if pageData.has_next %}
                    <a href="?{% if query %}q={{query}}&{% endif %}page={{pageData.next_page_number}}">&raquo</a>
                    {% endif %}
                </div>
                <input type="hidden" name="form_settings" id="formSettingsInput">
                <div class="center" style="margin-top:10px;">
                    <input id="submitForms" type='submit' value='Save'/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let CHECKBOX_KEY = "selectedForms";
        const firstLoad = {{ first_load|yesno:"true,false" }};
        if (firstLoad) {
            localStorage.removeItem(CHECKBOX_KEY);
            console.log("🧹 Cleared localStorage on first load");
        }
        //console.log(CHECKBOX_KEY)
        // Load existing selections on page load
        let formTempData = localStorage.getItem(CHECKBOX_KEY)? JSON.parse(localStorage.getItem(CHECKBOX_KEY) || "{}"): {};
        console.log(formTempData)
        Object.keys(formTempData).forEach(id => {
            const checkbox = document.querySelector(`input[type='checkbox'][value='${id}']`);
            let saveFormSettings = formTempData[String(id)];
            console.log("This is fsID")
            console.log(id)
            //console.log("this is the checkox")
            //console.log(checkbox)
            console.log(saveFormSettings)
            if (checkbox) {
                checkbox.checked = true;
                document.getElementById('settings' + String(id)).style.display = 'block';
                Object.keys(saveFormSettings).forEach(inputName => {
                    let parsedInputName = `${id}-${inputName}`;
                    let singleInput = document.querySelector(`[name="${parsedInputName}"]`)
                    if (!singleInput) return;
                    
                    if (singleInput.type === "checkbox") {
                        singleInput.checked = saveFormSettings[inputName] === "true";
                    } else {
                        singleInput.value = saveFormSettings[inputName];
                    }
                    //singleInput.disabled = false;
                    //console.log(document.getElementById("29-input_tag_on").outerHTML);
                })

                document.querySelectorAll(`[name^="${id}-"]`).forEach(extra => {
                    //console.log(extra)
                    let nameKey = extra.name.split("-")[1];
                    if (extra.value){
                        if (extra.type === "checkbox") {
                            formTempData[String(id)][nameKey] = extra.checked ? "true" : "false";
                        } else {
                            formTempData[String(id)][nameKey] = extra.value;
                        }
                        localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData));
                    }
                    extra.addEventListener("change", function () {
                        //console.log(this)
                        //console.log("this is the split:")
                        //console.log(this.name.split("-")[1]);
                        if (this.type === "checkbox") {
                            formTempData[String(id)][nameKey] = this.checked ? "true" : "false";
                        } else {
                            formTempData[String(id)][nameKey] = this.value;
                        }
                        //console.log(formTempData)
                        localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData));
                    })
                })
                    
            }
        });
    
        // Listen for checkbox changes
        document.querySelectorAll(".formCheckBox").forEach(cb => {
            cb.addEventListener("change", function () {
                listen_to_meta_data(formTempData, this);
            });
        });
        

        function listen_to_meta_data(formTempData, elem) {
            //console.log(formTempData)
            const id = elem.dataset.count;
            if (elem.checked) {
                //stored.add(id);
                console.log(formTempData)
                formTempData[String(id)] = {};
                console.log(formTempData)
                localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData))
                let extra_data = document.getElementById(`settings${id}`)
                //console.log(extra_data)
                extra_data.querySelectorAll(`[name^="${id}-"]`).forEach(extra => {
                    //console.log(extra)
                    if (extra.type === "checkbox"){
                        formTempData[String(id)][extra.name.split("-")[1]] = extra.checked ? "true" : "false";
                    } else if (extra.value){
                        formTempData[String(id)][extra.name.split("-")[1]] = extra.value;
                    }
                    localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData));
                    extra.addEventListener("change", function () {
                        //console.log(this)
                        //console.log(this.name.split("-")[1]);
                        if (this.type === "checkbox"){
                            formTempData[String(id)][this.name.split("-")[1]] = extra.checked ? "true" : "false";
                        } else {
                            if (this.value){
                                formTempData[String(id)][this.name.split("-")[1]] = this.value;
                            } else {
                                delete formTempData[String(id)][this.name.split("-")[1]];
                            }
                        }
                        //console.log(formTempData)
                        localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData));
                    })
                })
            } else {
                delete formTempData[String(id)];
                localStorage.setItem(CHECKBOX_KEY, JSON.stringify(formTempData))
            }
        }
        console.log(document.querySelector("#mainForm"))
        document.querySelector("#mainForm").addEventListener("submit", function () {
            const CHECKBOX_KEY = "selectedForms";
            const stored = JSON.parse(localStorage.getItem(CHECKBOX_KEY) || "{}");
            console.log(stored)
            const hiddenInput = document.getElementById("formSettingsInput");
            console.log(hiddenInput)
            hiddenInput.value = JSON.stringify(stored);  // encode dict as JSON string
        
            // Optional: clear storage after submit
            localStorage.removeItem(CHECKBOX_KEY);
        });
    });
    
</script>
    
{% endblock %}