{% extends "supervisor/components/sup_layout.html" %}{% load static %}
{% block list %}
<div class='mainCont' style="width: 50rem;">
    <div class="card">
        <div class="cardHeader methodPlusBlue">
            {% include "shared/components/backArrow.html" with destination="facilityList"%}
            Form Settings
        </div>
        <div class="contentCont center" style="padding:22px;">
            <form method="POST">
                {% csrf_token %}
                <div>
                    {% if packetID != 'facID' %}Change Label: <input type="text" name="newLabel" value="{{formLabel}}"><br>{% endif %}
                    Form Description: {{formData.header}} - {{formData.title}}<br>
                    Form ID: {{formData.form}}
                </div><br>
{% comment %}         
                <h4>Personalize Form Settings</h4> {% endcomment %}
                {% include 'supervisor/components/form_settings_insert.html' with formID=formID count="" %}
                {% for x in y%}
                {% endfor %}
                {% for info in facilities %}
                {% endfor %}
                {% include 'shared/components/submitButton.html' with label='update' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}