{% load static %}
{% if page == 'facilityList' %}
<div class="packet_button" style="display:flex;" data-selector="{{packet.name}}" data-packetid="{{packet.id}}">
    <div id="dropZone{{packet.id}}" data-packetid="{{packet.id}}" onclick="show_formsList(this)" style="width:100%;">
        {{packet.name}} - forms({{packet.formList|length}})
    </div>
    <div style="text-decoration: underline;">
        <a href="{% url 'facilityForms' packet.facilityChoice.facility_name packet.id %}">
            add/remove
        </a>
    </div>
</div>
{% elif page == 'obsDash' %}
<div class="packet_button" style="display:flex;" data-selector="{{packet.name}}" data-packetID="{{packet.id}}">
    <div onclick="show_formsList(this)" style="width:100%;">
        {{packet.name}} - forms({{packet.formList|length}})
    </div>
</div>
{% endif %}