{% load static %}
{% if page == 'facilityList' %}
<div class="packet_button" style="display:flex; justify-content: space-between;" data-selector="{{packet.name}}" data-packetid="{{packet.id}}">
    <div class="packetBars" id="dropZone{{packet.id}}" data-packetid="{{packet.id}}" data-facid="{{info.0.id}}" style="cursor: pointer; align-content: center;">
        {{packet.name}} - forms({{packet.formList.formsList|length}})
    </div>
    <div class="packet-actions">
        <a href="{% url 'facilityForms' packet.facilityChoice.facility_name packet.id %}" onclick="event.stopPropagation();">
            <button>Edit</button>
        </a>
        <button onclick="event.stopPropagation(); open_packet_modal(this, {{ forloop.counter }})">Settings</button>
        <button onclick="event.stopPropagation(); open_delete_modal(this, {{ forloop.counter }})">Delete</button>
    </div>
</div>
{% elif page == 'obsDash' %}
<div class="packet_button" style="display:flex;" data-selector="{{packet.name}}" data-packetID="{{packet.id}}">
    <div onclick="show_formsList(this)" style="width:100%;">
        {{packet.name}} - forms({{packet.formList.formsList|length}})
    </div>
</div>
{% endif %}