.sidebar{
    position: fixed;
    width:20rem;
    height:100%;
    background-color: #E4F2E7;
    display: grid;
    grid-template-rows: 3rem 1fr;
    
    transition: left 0.5s;
    

    &_item{
        font-weight: bolder;
        font-family: $baseFont;
        margin:0px 10px 0px 10px;
        
        font-size: 1rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: left;
        

        

        
    }

    &_svg{
        height: 2em;
        width:2em;
        background-color: $secondaryColor;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;

        svg{
            height: 50%;
        }
    }

    &_shown{
        left:0;
    }

    &_hidden{
        left:-20rem;
    }

}