{% extends "ees_forms/layout.html" %}
 
{% block list%}
{% load static %}
    <script defer src="{% static 'ees_forms/script/formA1.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
    <link href="{% static 'ees_forms/formA1_style.css' %}" rel="stylesheet">
    
<body>
    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
    <div id="paperSize">
        <div>
            <a href="{% if client %}{% url 'c_dashboard' %}{% elif selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}"><svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
        </div>
        <div>
            <form action="" method="POST" style="width: fit-content; margin: auto; margin-bottom: 100px;">
                {% csrf_token %}
                <div class="card" id="card_fitter">
                    <div class="paper_fitter" style="padding: 3rem;">
                        <table style="border-collapse: collapse; margin: auto;">
                            <tr>
                                <th id="boxTitle" colspan="6" style="text-align: center;">
                                    Method 303 Charging - Form (A-1)
                                </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th colspan="6" style="text-align: center;">
                                    Facility Name: EES Coke Battery LLC
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6">
                                    Inspectors Name: &nbsp; &nbsp;{{ data.observer }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date: &nbsp; &nbsp;{{ data.date }}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6">
                                    Battery No. 5 &nbsp; &nbsp; &nbsp; 
                                    Crew:
                                    &nbsp; &nbsp;{{ data.crew }}
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                    Battery Foreman:
                                    &nbsp; &nbsp;{{ data.foreman }}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6">
                                    Start Time:{{ data.start }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ data.stop }}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <td id="boxa2">Charge Number</td>
                                <td id="boxa2">Oven Number</td>
                                <td id="boxa1">Start Time</td>
                                <td id="boxa1">Stop Time</td>
                                <td id="boxa1">Visible Emissions (sec)</td>
                                <td id="boxa3">Comments</td>
                            </tr>
                            <tr>
                                <td id="boxa2" style="text-align: center;">1</td>
                                <td id="boxa2">
                                    {{ readings.c1_no }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c1_start }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c1_stop }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c1_sec }}
                                </td>
                                <td id="boxa3">
                                    {{ readings.c1_comments }}
                                </td>
                            </tr>
                            <tr>
                                <td id="boxa2" style="text-align: center;">2</td>
                                <td id="boxa2">
                                    {{ readings.c2_no }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c2_start }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c2_stop }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c2_sec }}
                                </td>
                                <td id="boxa3">
                                    {{ readings.c2_comments }}
                                </td>
                            </tr>
                            <tr>
                                <td id="boxa2" style="text-align: center;">3</td>
                                <td id="boxa2">
                                    {{ readings.c3_no }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c3_start }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c3_stop }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c3_sec }}
                                </td>
                                <td id="boxa3">
                                    {{ readings.c3_comments }}
                                </td>
                            </tr>
                            <tr>
                                <td id="boxa2" style="text-align: center;">4</td>
                                <td id="boxa2">
                                    {{ readings.c4_no }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c4_start }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c4_stop }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c4_sec }}
                                </td>
                                <td id="boxa3">
                                    {{ readings.c4_comments }}
                                </td>
                            </tr>
                            <tr>
                                <td id="boxa2" style="text-align: center;">5</td>
                                <td id="boxa2">
                                    {{ readings.c5_no }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c5_start }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c5_stop }}
                                </td>
                                <td id="boxa1">
                                    {{ readings.c5_sec }}
                                </td>
                                <td id="boxa3">
                                    {{ readings.c5_comments }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td id="boxa1">Total(Seconds):</td>
                                <td id="boxa1">{{readings.total_seconds}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="height: 40px" > 
                                    LC #: {{ readings.larry_car }}
                                </td>
                            </tr> 
                            <tr style="font-size: 20px;">
                                <td>Comments:</td>
                            </tr>
                            <tr style="font-size: 20px;text-align: center;">
                                <td colspan="6">
                                    {{ readings.comments }}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px" > </td>
                            </tr> 
                        </table>
                        {% if unlock %}
                        <br><br><br>
                        <input type="submit" value="Submit Form" class="submit_button">
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </form> 
        </div>    
    </div>
{% endblock %}

