<html>

    <style>
        #boxc1{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 200px;
            max-width: 200px;
            height: 35px;
        }
        #boxTitle{
            font-size: 30px;
        }
        #formDbox1{
            width: 130px; 
            text-align: right;
            border-left: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formDbox2{
            width: 100px; 
            text-align: center;
            
        }
        #formDbox3{
            width: 130px; 
            text-align: center;
            border-left: 3px solid black;
            border-right: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formCborder{
            width: 125px;
            border-right: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formCborder2{
            width: 125px;
            border-right: 3px solid black;
            border-left: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #alltrucks{
            margin: auto;
            width: fit-content;
            display: flex;
        }
        #formCspace{
            padding: 10px;
        }
    </style>



    <a href="{{ back.0.link }}">Back</a>
    <table style="border-collapse: collapse; margin: auto;">
        <tr>
            <th id="boxTitle" colspan="5" style="text-align: center;">
                Fugiative Dust Inspections - <br>Weekly Random Truck Inspection - Form (D)
            </th>
            <th></th>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">
                Facility Name: EES Coke Battery LLC
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th colspan="3" style="text-align: center;">
                Week Of: {% if week == last_friday %}
                            {{ week }} - {{ week_almost.week_end }}
                        {% else %}
                            {{ last_friday }} - {{ end_week }}
                        {% endif %}
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td style="height: 25px;" ></td>
        </tr>
    </table>
    <form action="" method="POST">
        <div id="alltrucks">
            <div id="formCspace">
                <table style="border-collapse: collapse;">
                    <tr style="border: 3px solid black;" >
                        <th colspan="2" style="width: 150px; text-align: center;">
                            Truck #1
                        </th>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            Truck ID
                        </th>
                        <td id="formCborder">
                            {% if data.truck_id1 == NULL %}
                                {{ empty.truck_id1 }}
                            {% else %}
                                {{ data.truck_id1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            Date: 
                        </th>
                        <td id="formCborder">
                             {% if data.date1 == NULL %}
                                {{ empty.date1 }}
                            {% else %}
                                {{ data.date1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            Time:
                        </th>
                        <td id="formCborder">
                            {% if data.time1 == NULL %}
                                {{ empty.time1 }}
                            {% else %}
                                {{ data.time1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            Contents:
                        </th>
                        <td id="formCborder">
                            {% if data.contents1 == NULL %}
                                {{ empty.contents1 }}
                            {% else %}
                                {{ data.contents1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            6" or greater freeboard?
                        </th>
                        <td id="formCborder">
                            {% if data.freeboard1 == NULL %}
                                {{ empty.freeboard1 }}
                            {% else %}
                                {{ data.freeboard1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th id="formDbox1">
                            If NO, is material adequately wetted and stable?
                        </th>
                        <td id="formCborder">
                            {% if data.wetted1 == NULL %}
                                {{ empty.wetted1 }}
                            {% else %}
                                {{ data.wetted1 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" id="formDbox3">
                            Comments:
                        </th>
                    </tr>
                    <tr style="border-bottom: 3px solid black; text-align: center;">
                        <td id="formCborder2" colspan="2">
                            {% if data.comments1 == NULL %}
                                {{ empty.comments1 }}
                            {% else %}
                                {{ data.comments1 }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div id="formCspace">
                <table style="border-collapse: collapse;">
                <tr style="border: 3px solid black;" >
                    <th colspan="2" style="width: 150px; text-align: center;">
                        Truck #2
                    </th>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Truck ID
                    </th>
                    <td id="formCborder">
                        {% if data.truck_id2 == NULL %}
                            {{ empty.truck_id2 }}
                        {% else %}
                            {{ data.truck_id2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Date:
                    </th>
                    <td id="formCborder">
                        {% if data.date2 == NULL %}
                            {{ empty.date2 }}
                        {% else %}
                            {{ data.date2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Time:
                    </th>
                    <td id="formCborder">
                        {% if data.time2 == NULL %}
                            {{ empty.time2 }}
                        {% else %}
                            {{ data.time2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Contents:
                    </th>
                    <td id="formCborder">
                        {% if data.contents2 == NULL %}
                            {{ empty.contents2 }}
                        {% else %}
                            {{ data.contents2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        6" or greater freeboard?
                    </th>
                    <td id="formCborder">
                        {% if data.freeboard2 == NULL %}
                            {{ empty.freeboard2 }}
                        {% else %}
                            {{ data.freeboard2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        If NO, is material adequately wetted and stable?
                    </th>
                    <td id="formCborder">
                        {% if data.wetted2 == NULL %}
                            {{ empty.wetted2 }}
                        {% else %}
                            {{ data.wetted2 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="formDbox3">
                        Comments:
                    </th>
                </tr>
                <tr style="border-bottom: 3px solid black; text-align: center;">
                    <td id="formCborder2" colspan="2">
                        {% if data.comments2 == NULL %}
                            {{ empty.comments2 }}
                        {% else %}
                            {{ data.comments2 }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            </div>
            <div id="formCspace">
                <table style="border-collapse: collapse;">
                <tr style="border: 3px solid black;" >
                    <th colspan="2" style="width: 150px; text-align: center;">
                        Truck #3
                    </th>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Truck ID
                    </th>
                    <td id="formCborder">
                        {% if data.truck_id3 == NULL %}
                            {{ empty.truck_id3 }}
                        {% else %}
                            {{ data.truck_id3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Date:
                    </th>
                    <td id="formCborder">
                        {% if data.date3 == NULL %}
                            {{ empty.date3 }}
                        {% else %}
                            {{ data.date3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Time:
                    </th>
                    <td id="formCborder">
                        {% if data.time3 == NULL %}
                            {{ empty.time3 }}
                        {% else %}
                            {{ data.time3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Contents:
                    </th>
                    <td id="formCborder">
                        {% if data.contents3 == NULL %}
                            {{ empty.contents3 }}
                        {% else %}
                            {{ data.contents3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        6" or greater freeboard?
                    </th>
                    <td id="formCborder">
                        {% if data.freeboard3 == NULL %}
                            {{ empty.freeboard3 }}
                        {% else %}
                            {{ data.freeboard3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        If NO, is material adequately wetted and stable?
                    </th>
                    <td id="formCborder">
                        {% if data.wetted3 == NULL %}
                            {{ empty.wetted3 }}
                        {% else %}
                            {{ data.wetted3 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="formDbox3">
                        Comments:
                    </th>
                </tr>
                <tr style="border-bottom: 3px solid black; text-align: center;">
                    <td id="formCborder2" colspan="2">
                        {% if data.comments3 == NULL %}
                            {{ empty.comments3 }}
                        {% else %}
                            {{ data.comments3 }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div id="alltrucks">
            <div id="formCspace">
                <table style="border-collapse: collapse;">
                <tr style="border: 3px solid black;" >
                    <th colspan="2" style="width: 150px; text-align: center;">
                        Truck #4
                    </th>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Truck ID
                    </th>
                    <td id="formCborder">
                        {% if data.truck_id4 == NULL %}
                            {{ empty.truck_id4 }}
                        {% else %}
                            {{ data.truck_id4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Date:
                    </th>
                    <td id="formCborder">
                        {% if data.date4 == NULL %}
                            {{ empty.date4 }}
                        {% else %}
                            {{ data.date4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Time:
                    </th>
                    <td id="formCborder">
                        {% if data.time4 == NULL %}
                            {{ empty.time4 }}
                        {% else %}
                            {{ data.time4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Contents:
                    </th>
                    <td id="formCborder">
                        {% if data.contents4 == NULL %}
                            {{ empty.contents4 }}
                        {% else %}
                            {{ data.contents4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        6" or greater freeboard?
                    </th>
                    <td id="formCborder">
                        {% if data.freeboard4 == NULL %}
                            {{ empty.freeboard4 }}
                        {% else %}
                            {{ data.freeboard4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        If NO, is material adequately wetted and stable?
                    </th>
                    <td id="formCborder">
                        {% if data.wetted4 == NULL %}
                            {{ empty.wetted4 }}
                        {% else %}
                            {{ data.wetted4 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="formDbox3">
                        Comments:
                    </th>
                </tr>
                <tr style="border-bottom: 3px solid black; text-align: center;">
                    <td id="formCborder2" colspan="2">
                        {% if data.comments4 == NULL %}
                            {{ empty.comments4 }}
                        {% else %}
                            {{ data.comments4 }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            </div>
            <div id="formCspace">
                <table style="border-collapse: collapse;">
                <tr style="border: 3px solid black;" >
                    <th colspan="2" style="width: 150px; text-align: center;">
                        Truck #5
                    </th>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Truck ID
                    </th>
                    <td id="formCborder">
                        {% if data.truck_id5 == NULL %}
                            {{ empty.truck_id5 }}
                        {% else %}
                            {{ data.truck_id5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Date:
                    </th>
                    <td id="formCborder">
                        {% if data.date5 == NULL %}
                            {{ empty.date5 }}
                        {% else %}
                            {{ data.date5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Time:
                    </th>
                    <td id="formCborder">
                        {% if data.time5 == NULL %}
                            {{ empty.time5 }}
                        {% else %}
                            {{ data.time5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        Contents:
                    </th>
                    <td id="formCborder">
                        {% if data.contents5 == NULL %}
                            {{ empty.contents5 }}
                        {% else %}
                            {{ data.contents5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        6" or greater freeboard?
                    </th>
                    <td id="formCborder">
                        {% if data.freeboard5 == NULL %}
                            {{ empty.freeboard5 }}
                        {% else %}
                            {{ data.freeboard5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th id="formDbox1">
                        If NO, is material adequately wetted and stable?
                    </th>
                    <td id="formCborder">
                        {% if data.wetted5 == NULL %}
                            {{ empty.wetted5 }}
                        {% else %}
                            {{ data.wetted5 }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="formDbox3">
                        Comments:
                    </th>
                </tr>
                <tr style="border-bottom: 3px solid black; text-align: center;">
                    <td id="formCborder2" colspan="2">
                        {% if data.comments5 == NULL %}
                            {{ empty.comments5 }}
                        {% else %}
                            {{ data.comments5 }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            </div>
        </div>
       <!-- <table style="border-collapse: collapse; margin: auto;">
            <tr>
                <td style="height: 40px" > </td>
            </tr> 
            <tr>
                <td colspan="6" style="width: 1218px;  border: 1px solid black; font-size: 20px;">Any Issues? Describe{{ form.issues }}</td>
            </tr>
            <tr>
                <td colspan="4" style="border: 1px solid black; font-size: 20px;">EES Person Notified of Issue{{ form.notified }}</td>
                <td colspan="1" style="width: 203px; border: 1px solid black; font-size: 20px;">{{ form.time_date }}</td>
                <td colspan="1" style="width: 203px; border: 1px solid black; font-size: 20px;">{{ form.time_date }}</td>
            </tr>
            <tr>
                <td colspan="6" style="border: 1px solid black; font-size: 20px;">Corrective Action Taken{{ form.cor_action }}</td>
            </tr>
        </table>--->
        <br><br>
        <input type="submit" value="Save" style="font-size: 40px">
        <br><br><br>
        <input type="submit" value="Submit Form" style="font-size: 40px">
    </form>
    
</html>
