{% extends "ees_forms/layout.html" %}

{% block list%}
{% load static %}
 
    <style>
        #paperSize{
            width: 1400px;
            margin: auto;
            padding-top: 50px;
        }
        #boxTitle{
            font-size: 30px;
        }
        #boxa1{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 150px;
            max-width: 150px;
            height: 35px;
        }
        #boxa2{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 80px;
            max-width: 80px;
            height: 35px;
        }
        #boxa3{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 300px;
            max-width: 300px;
            height: 35px;
        }
        #boxa4{
            align-content: center;
            text-align: left;
            min-width: 250px;
            max-width: 250px;
            height: 35px;
        }
        #boxa5{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 100px;
            max-width: 100px;
            height: 35px;
        }
        #boxa6{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            height: 25px;
        }
        #noteBox{
            border-collapse: collapse; 
            margin: auto;
        }
        #boxa2_1{
            align-content: center;
            text-align: left;
            min-width: 200px;
            max-width: 250px;
            height: 35px;
        }
    </style>
    <script defer src="{% static 'ees_forms/script/formA2.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>

    {{ BASE_DIR }}
    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
    <div id="paperSize">
        <div>
            <a href="{% if selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}"><svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
        </div>
        <div>
            <form action="" method="POST" style="width: fit-content; margin: auto; margin-bottom: 100px;">
                {% csrf_token %}
                <table style="border-collapse: collapse; margin: auto;">
                    <tr>
                        <th id="boxTitle" colspan="5" style="text-align: left;">Method 303 Doors - Form (A-2)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align: left;">Facility Name: EES Coke Battery LLC</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th colspan="6">Inspectors Name:&nbsp; &nbsp;{{ data.observer }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;{{ data.date }}
                    </tr>
                    <tr>
                        <th colspan="6">
                            Battery No. 5 &nbsp; &nbsp; &nbsp; 
                            Total No. Ovens: 85 &nbsp; &nbsp; &nbsp;
                            Total No. of Inoperable Ovens &nbsp; &nbsp;{{ data.inop_ovens }}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6">
                            Crew:
                            &nbsp; &nbsp;{{ data.crew }}
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                            Battery Foreman:
                            &nbsp; &nbsp;{{ data.foreman }}
                        </th>
                    </tr>
                </table>
                
                <table style="border-collapse: collapse; width: fit-content; margin: auto;">
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th id="boxa2_1" colspan="5">Start Time:{{ data.p_start }} <br> End Time:{{ data.p_stop }}</th>
                        <th id="boxa2_1" colspan="1"></th>
                        <th id="boxa2_1" colspan="5">Start Time:{{ data.c_start }} <br> End Time:{{ data.c_stop }}</th>
                        <th id="boxa2_1" colspan="1"></th>
                    </tr>
                    <tr>
                        <th id="boxa5" style="max-width: 100px;"colspan="5">
                            PUSH SIDE
                        </th>
                        <th></th>
                        <th id="boxa5" style="max-width: 100px;"colspan="5">
                            COKE SIDE
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td id="boxa6" colspan="1">
                            Oven
                        </td>
                        <td id="boxa6" colspan="3">
                            Location
                        </td>
                        <td id="boxa6" colspan="1">
                            Zone
                        </td>
                        <td></td>
                        <td id="boxa6" colspan="1">
                            Oven
                        </td>
                        <td id="boxa6" colspan="3">
                            Location
                        </td>
                        <td id="boxa6" colspan="1">
                            Zone
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6">{{ data.p_leak_oven1 }}</td>
                        <td colspan="3" id="boxa6">{{ data.p_leak_loc1 }}</td>
                        <td id="boxa6">{{ data.p_leak_zone1 }}</td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temp. Blocked</td>
                        <td id="boxa6">{{ data.c_leak_oven1 }}</td>
                        <td colspan="3" id="boxa6">{{ data.c_leak_loc1 }}</td>
                        <td id="boxa6">{{ data.c_leak_zone1 }}</td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temp. Blocked</td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.p_temp_block_from }}&nbsp;to&nbsp;{{ data.p_temp_block_to}}</td>
                       <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td style="align-content: center; text-align: left; height: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.c_temp_block_from }}&nbsp;to&nbsp;{{ data.c_temp_block_to }}</td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                        <td id="boxa6"></td>
                        <td colspan="3" id="boxa6"></td>
                        <td id="boxa6"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="align-content: center; text-align: left; height: 25px;">Push Side Traverse Time: &nbsp; &nbsp; {{ data.p_traverse_time_min }}min &nbsp; &nbsp; &nbsp; {{ data.p_traverse_time_sec }}sec</td>
                        <td colspan="6" style="align-content: center; text-align: left; height: 25px;">Coke Side Traverse Time: &nbsp; &nbsp; {{ data.c_traverse_time_min }}min &nbsp; &nbsp; &nbsp; {{ data.c_traverse_time_sec }}sec</td>
                    </tr>
                </table>
                <br><br><br>
                <table style="border-collapse: collapse; width: fit-content; margin: auto;">
                    <tr>
                        <td style="width: 120px; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                            D = Door
                        </td>
                        <td style="width: 400px; text-align: center;">
                            Total Traverse Time {{ data.total_traverse_time }}sec
                        </td>
                        <td></td>
                    </tr>    
                    <tr> 
                        <td style="border-left: 1px solid black; border-right: 1px solid black;">
                            C = Chuck Door
                        </td>
                        <td style="text-align: center;">
                            Allowed Traverse Time:
                        </td>
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black;">Valid Run?</td>
                    </tr>    
                    <tr>  
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                            M = Masonry
                        </td>
                        <td style="text-align: center;">
                            T = 680 + (10 sec x #leaks) = {{ data.allowed_traverse_time }}
                        </td>
                        <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                            {{ data.valid_run }}
                        </td>
                    </tr>
                </table>    
                
                    
                    
                    
                    
                <table style="border-collapse: collapse; margin: auto;">    
                     <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <td style="width: 100px;"></td>
                        <td></td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L<sub>y</sub> X 100
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.leaking_doors }} x 100
                        </td>
                        <td></td>
                        <td style="width: 75px"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align: center; margin: auto; width: 133px;">
                            % Leaking Doors = 
                        </td>
                        <td>
                            ---------------------- = 
                        </td>
                        <td>
                            --------------------------------- = 
                        </td>
                        <td>
                            {{ data.percent_leaking }}%
                        </td>
                        <td></td>
                    </tr>
                     <tr>
                         <td></td>
                         <td></td>
                        <td>
                            &nbsp;&nbsp;&nbsp; D<sub>t</sub> - D<sub>i</sub> - D<sub>no</sub>
                        </td>
                        <td>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;170 - {{ data.inop_doors_eq }} - {{ data.doors_not_observed }}
                        </td>
                         <td></td>
                         <td></td>
                    </tr>
                   <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <td style="text-align: center; margin: auto; " colspan="6">
                            Where: L<sub>y</sub> = Leaking Doors Obsered, D<sub>i</sub> = Inoperable Oven x 2, and D<sub>no</sub> = Door not observed
                        </td>
                    </tr> 
                </table>
                <div id="noteBox">
                    Notes: <br>
                    {{ data.notes }}
                </div>
                <br><br><br>
                <input type="submit" value="Submit Form" class="submit_button">
            </form> 
        </div>    
    </div>
{% endblock %}

