{% extends "supervisor/components/sup_layout.html" %}{% block list%}{% load static %}
<div class="mainCont" style="width:35rem;">
    <div class="card">
        <div class="cardHeader methodPlusBlue">
            {% include "shared/components/backArrow.html" with destination="calendar"%}
            Create New Event
        </div>
        <div class="contentCont">
            <form action="" method="POST">
                {% csrf_token %}
                {% if facility != "supervisor" %}
                Observer:<select name="observer" id="observers">
                    <option value="">-----</option>
                    {% for observer in listOfObservers %}
                        <option value="{{observer.user.last_name}}">{{observer.user.last_name}}</option>
                    {% endfor %}
                </select><br><br>
                {% endif %}
                Title: 
                {% if facility != "supervisor" %}
                <select name="title" style="width: 150px;" required="" id="id_title">
                    <option value="" selected="">---------</option>
                    <option value="P">Primary</option>
                    <option value="BU">Back Up</option>
                    <option value="Off">Off</option>
                    <option value="Office">Office </option>
                    <option value="BH">BagHouses</option>
                    <option value="QT">Quarterly Trucks</option>
                    <option value="BH2-S">Boilerhouse Stacks</option>
                    <option value="T">Training</option>
                </select>
                {% else %}{{ form.title }}{% endif %}
                <br>
                Date: {{ form.date }}<br>
                <br>
                Starting Time: {{ form.start_time }}<br>
                Final Time: {{ form.end_time }}<br>
                <br>
                Description: <br>
                {{ form.notes }}<br>
                <input type="submit" value="Request">
            </form>
        </div>
    </div>
</div>




{% endblock %}