{% extends "supervisor/sup_layout.html" %}{% load static %}{% block list%}
<link href="{% static 'ees_forms/style/contacts.css' %}" rel="stylesheet" />
<div style='margin:auto; width:44%;max-width:775px;'>
    <div class="card" style=''>
        <div class="cardHeader">Select Forms</div>
        <div class="contact_list_cont">
            <form method='POST' action=''>
                {% csrf_token %}
                <table style='margin:auto;width:100%;'>
                    <tr>
                        <th style="width: 3%;"></th>
                        <th style="width: 4%;">FormID</th>
                        <th style="width: 25%;">Form Type</th>
                        <th style="width: 40%;">Description</th>
                    </tr>
                    {% for form in formList %}
                    <tr>
                        <td><input name="forms{{ forloop.counter }}" type="checkbox" value="{{form.id}}" {% for x in modelList %}{% if x.0 == form.id %}checked{% endif %}{% endfor %}/></td>
                        <td><input type="text" name="formID{{ forloop.counter }}" style="width:50px;text-align: center;" value="{% for x in modelList %}{% if x.0 == form.id %}{{x.1}}{% endif %}{% endfor %}"/></td>
                        <td>{{form.id}}{{form.header}}</td>
                        <td>{{form.title}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <input type='submit' value='Save'/>
            </form>
        </div>
    </div>
</div>
{% endblock %}