{% extends "supervisor/components/sup_layout.html" %}{% load static %}{% load sup_tags %}{% load formC_tags %}{% block list%}
<link href="{% static 'ees_forms/style/formsProgress.css' %}" rel="stylesheet" />
<div style="width: 100%;">    
    <div class="pageHeader">
        <h1>Form Progress Report</h1>
        {% if supervisor %}
            <a href="{% url 'facilityList' %}">add/remove forms</a>
        {% endif %}
    </div>
    <div id="mainBody">
        {% for freq in freqList%}
            <div class="sections snap" id="{{freq}}Prog">
                <h1 class="secHeader">{{freq}} Forms Progress</h1>
                <div class="formsList">
                    {% with freqData=finalList|get_category:freq %}
                        {% if not freqData|is_string %}
                            {% for form in freqData %}
                                <input type="checkbox" id="{{form.0}}" onclick="return false;" {% if form.2 %}checked{% endif %}>
                                {{ form.0 }} - {{ form.1 }}
                                <br>
                            {% endfor %}
                        {% else %}
                            {{freqData}}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}