<style>
    .daily {width: {{ daily_percent }}%; background-color: #348EFA;}
    .weekly {width: {{ weekly_percent }}%; background-color: #F55667;}
    .monthly {width: {{ monthly_percent }}%; background-color: #4ACFAE;}
    .quarterly {width: 0%; background-color: #4ACFAE;}
    .annually {width: {{ annually_percent }}%; background-color: #FCB050;}
</style>
{% load static %}
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script defer src="{% static 'ees_forms/script/sup_dashboard.js' %}"></script>
        <script defer src="{% static 'ees_forms/script/sup_header.js' %}"></script>
        <script defer src="{% static 'ees_forms/script/sup_sidebar.js' %}"></script>
        <link href="{% static 'ees_forms/style/sup_layout.css' %}" rel="stylesheet" />
        <link href="{% static 'ees_forms/style/sup_form.css' %}" rel="stylesheet" />
    </head>
    <body style="width:100%; background-color: #dfe5e9; margin: 0px;display:flex; height:100%;">
        <div id="sideBar">
            <div id="companyBox">
                <img style="height:2rem; padding-left: 1rem" src="{% static './images/Sidocklogo.jpeg' %}">
                <h2 style="color: white; padding-left: 1rem;font-family: sans-serif;font-weight: 100; font-size:1rem">
                    Sidock Group, Inc.
                </h2>
            </div>
            <div class='menuItems'>
                <ul>
                    <li><a id='adminLabel' href=#>Supervisor</a>
                        <ul id='adminGroup' style='display:block;'>
                            <li><a href="{% if client %}{% url 'c_dashboard' %}{% elif supervisor %}{% url 'sup_dashboard' facility %}{% endif %}">Dashboard</a></li>
                            {% if client %}{% elif supervisor %}<li><a href="{% url 'Register' facility 'form'%}">Register New Profile</a></li>{% endif %}
                            <li><a href="{% url 'Contacts'  facility %}">Profiles/Contacts</a></li>
                            <li><a href="{% url 'facilityList' facility %}">Facilities</a></li>
                            <li><a href="{% url 'PrintSelect' facility %}">Print Forms</a></li>
                        </ul>
                    </li>
                    <li><a id='reportsLabel' href=#>Daily Reports</a>
                        <ul id='reportsGroup' style='display:block;'>
                            <li>
                                {% if form_enteredA1 %}
                                    <a class="no_link_css" href="Daily/formA1/{{ date }}">
                                        Form A-1
                                    </a>
                                {% else %}
                                    <a class="no_link_css" href=#>
                                        Form A-1 (Not Submitted)
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if form_enteredA2 %}
                                    <a class="no_link_css" href="Daily/formA2/{{ date }}">
                                        Form A-2
                                    </a>
                                {% else %}
                                    <a class="no_link_css" href=#>
                                        Form A-2 (Not Submitted)
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if form_enteredA3 %}
                                    <a class="no_link_css" href="Daily/formA3/{{ date }}">
                                        Form A-3
                                    </a>
                                {% else %}
                                    <a class="no_link_css" href=#>
                                        Form A-3 (Not Submitted)
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if form_enteredA4 %}
                                    <a class="no_link_css" href="Daily/formA4/{{ date }}">
                                        Form A-4
                                    </a>
                                {% else %}
                                    <a class="no_link_css" href=#>
                                        Form A-4 (Not Submitted)
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if form_enteredA5 %}
                                    <a class="no_link_css" href="Daily/formA5/{{ date }}">
                                        Form A-5
                                    </a>
                                {% else %}
                                    <a class="no_link_css" href=#>
                                        Form A-5 (Not Submitted)
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    {% if unlock %}<li><a href=#>Completion Progress</a>
                        <ul>
                            <li><a href=#>Daily</a></li>
                            <li><a href=#>Weekly</a></li>
                            <li><a href=#>Monthly</a></li>
                            <li><a href=#>Quartery</a></li>
                            <li><a href=#>Anually</a></li>
                        </ul
                    </li>{% endif %}
                    <li><a id='calendarLabel' href=#>Schedule</a>
                        <ul id='calendarGroup' style='display: block;'>
                            <li><a href="{% url 'Schedule' facility %}">Calendar</a></li>
                            {% if client %}{% elif supervisor %}<li><a href="{% url 'Add Event' facility %}">Add Events</a></li>{% endif %}
                        </ul
                    </li>
                    {% if client %}
                    <li><a href=#>Records/Data</a>
                        <ul style='display: block;'>
                            <li><a href="{% url 'archive' facility %}">Archive</a></li>
                            <li><a href="{% url 'Corrective-Action' facility %}">Corrective Actions</a></li>
                            <li><a href=#>Weekly Reports</a></li>
                            <li><a href="{% url 'rolling_avg' facility %}">Rolling Averages</a></li>
                            <li><a href="{% url 'Sop' facility %}">SOP's</a></li>
                            <li><a href="{% url 'pt_admin1' facility %}">90 Day Push/Travel Evaluation</a></li>
                        </ul>
                    </li>
                    {% elif supervisor %}
                        <li><a id='sbClient' href=#>{{facility}}</a>
                            <ul id='sbClientGroup' style="display: block;">
                                <li><a href="{% url 'archive' facility %}">Archive</a></li>
                                <li><a href="{% url 'Corrective-Action' facility %}">Corrective Actions</a></li>
                                <li><a href=#>Weekly Reports</a></li>
                                <li><a href="{% url 'rolling_avg' facility %}">Data Records</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="profileDropdown" class="profileDropdown profileDropdown_hidden" data-displayed="False">
            <a href="{% url 'settings' facility %}">
                <div class="sidebar_item">
                    <div class="sidebar_svg">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-week" class="svg-inline--fa fa-calendar-week fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>]
                        </svg> 
                    </div>
                    Settings
                </div>
            </a>
            <a href="{% url 'Logout' %}">
                <div class="sidebar_item">
                    <div class="sidebar_svg">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-week" class="svg-inline--fa fa-calendar-week fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm64-192c0-8.8 7.2-16 16-16h288c8.8 0 16 7.2 16 16v64c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16v-64zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z"></path>
                        </svg> 
                    </div>
                    Logout
                </div>
            </a>
        </div>
        <div style="width:100%;overflow: scroll;">
            <div id="topBar">
                <!--<div style="color: white;">DTE - EES Coke</div>-->
                {% if selector or facility == 'register' %}
                {% else %}
                <form method='POST' action=''>
                    {% csrf_token %}
                    <select name='facilitySelect' class='facilitySelectInput' onchange="this.form.submit()">
                        <option value='supervisor'>Supervisor</option>
                        {% for option in options %}
                            <option value="{{option.facility_name}}"{% if facility == option.facility_name %} selected{% else %}{% endif %}>{{option.facility_name}}</option>
                        {% endfor %}
                    </select>
                </form>
                {% endif %}
                <div id='drop_down' class="drop_down" data-controls="profileDropdown">
                    <a id='name_click'>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    </a>
                </div>
            </div>
            <div style='margin-top:60px;'>
            {% block list %}
            
            {% endblock %}
            </div>
        </div>
    </body>
<html>