{% extends "supervisor/sup_layout.html" %}{% load static %}{% block list%}
<link href="{% static 'ees_forms/style/facilityList.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet" />
<div class='mainCont'>
    <div class="card">
        <div class="cardHeader">
            Facilities
            {% comment %} <div style="text-align: right;font-size: 14px;">
                <a href="{% url 'Register' facility 'form' %}">Add Facility</a>
            </div> {% endcomment %}
        </div>
        <div class="contentCont center">
            {% for info in facilities %}
            <div class="facilityFormSec">
                <div class="facilityFormHeader">
                    {{info.0.facility_name}}
                </div>
                <div class="">
                    <table class="standardTable">
                        <tr>
                            <th class="underline headerFont" style="width: 20%;">Label</th>
                            <th class="underline headerFont" style="width: 60%;">Form Title</th>
                            <th style="width: 20%;"></th>
                        </tr>
                        {% for x in info.1 %}
                            <tr>
                                <td class="center">{{x.1}}</td>
                                <td class="">{{x.2}}</td>
                                <td class="center smallLink">
                                    <a href=#>
                                        edit
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="smallLink" style="padding-top: 32px;">
                    <a href="{% url 'facilityForms' info.0.facility_name %}">
                        add/remove forms
                    </a>
                </div>
            </div>
            <hr style="width:80%;margin:auto;">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}