{% extends "supervisor/sup_layout.html" %}{% load static %}{% block list%}
<link href="{% static 'ees_forms/style/contacts.css' %}" rel="stylesheet" />
<div style='margin:auto; width:44%;max-width:775px;'>
    <div class="card" style=''>
        <div class="cardHeader">
            Facilities
            <div style="text-align: right;font-size: 14px;">
                <a href="{% url 'Register' facility 'form' %}">Add Facility</a>
            </div>
        </div>
        <div class="contact_list_cont">
            {% comment %} <p></p>
            <p class="contactHeader">Facility Name</p>
            <p class="contactHeader center">Forms</p>
            <p class="contactHeader center">EXTRA</p> {% endcomment %}
            <table style='margin:auto;width:100%;'>
                <tr>
                    <th style="width: 30%;">Company</th>
                    <th style="width: 50%;">Forms</th>
                    <th style="width: 10%;">EXTRAs</th>
                </tr>
                {% for info in facilities %}
                <tr>
                    <td colspan=3 style='height:20px;'></td>
                </tr>
                <tr>
                    <td style='vertical-align: top;'>{{info.0.facility_name}}</td>
                    <td>{% for x in info.1 %}{{x}},<br> {% endfor %}</td>
                    <td><a href="{% url 'facilityForms' info.0.facility_name %}">Edit</a></td>
                </tr>
                <tr>
                    <td colspan=3 style='height:20px;border-bottom: black 1px solid;'></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}