{% extends "supervisor/sup_layout.html" %}{% load static %}{% block list%}
<link href="{% static 'ees_forms/style/contacts.css' %}" rel="stylesheet" />
<style>
    .tableSpacer{
        height: 22px;
    }
    .headerSpacer{
        padding-top: 20px;
    }
    .labelClass{
        width:17%;
    }
    .labelClass2{
        width:30%;
    }
</style>
<div style='margin:auto; width:52%;max-width:609px;'>
    <div class="card" style=''>
        <div class="cardHeader">Account Information</div>
        <div style="padding: 15px 32px;">
            <table style='margin:auto;width:100%;'>
                <tr class='tableSpacer'>
                    <th colspan=2 style="width: 30%;">My Account</th>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Name:</td>
                    <td class="labelClass2">{{accountData.user.first_name}} {{accountData.user.last_name}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Username:</td>
                    <td class="labelClass2">{{accountData.user.username}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Phone:</td>
                    <td class="labelClass2">{{accountData.phone}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Account Email:</td>
                    <td class="labelClass2">{{accountData.user.email}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Password Change:</td>
                    <td class="labelClass2">
                        <a href="{% url 'PasswordChange' facility %}">
                            Change password
                        </a>
                    </td>
                </tr>
            </table>
            <table style='margin:auto;width:100%;'>
                <tr class='tableSpacer'>
                    <th colspan=2 class='headerSpacer' style="width: 30%;">Company Settings</th>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Company Name:</td>
                    <td class="labelClass2">{{accountData.company.company_name}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Company Address:</td>
                    <td class="labelClass2">{{accountData.company.address}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass"></td>
                    <td class="labelClass2">{{accountData.company.city}}, {{accountData.company.state}} {{accountData.company.zipcode}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Company Phone:</td>
                    <td class="labelClass2">{{accountData.company.phone}}</td>
                </tr>
            </table>
            <table style='margin:auto;width:100%;'>
                <tr class='tableSpacer'>
                    <th colspan=2 class='headerSpacer' style="width: 30%;">Subscription Information</th>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Subscription:</td>
                    <td class="labelClass2">Supervisor Account + 3 Extra Registrations</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Monthly Amount:</td>
                    <td class="labelClass2">${{cardSubscription.price}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Status:</td>
                    <td class="labelClass2">{{cardSubscription.status}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Next Billing Date:</td>
                    <td class="labelClass2">{{cardSubscription.next_billing_date}}</td>
                </tr>
            </table>
            <table style='margin:auto;width:100%;'>
                <tr class='tableSpacer'>
                    <th colspan=2 class='headerSpacer' style="width: 30%;">Payment Information</th>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Name on Card:</td>
                    <td class="labelClass2">{{cardSubscription.cardholder}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Card Number:</td>
                    <td class="labelClass2">**** **** **** {{cardSubscription.last_4}}</td>
                </tr>
                <tr class='tableSpacer'>
                    <th colspan=2 class='headerSpacer' style="width: 30%;">Change Card</th>
                </tr>
            </table>
            <table style='margin:auto;width:100%;'>
                <tr class='tableSpacer'>
                    <th colspan=2 style="width: 30%;"></th>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Add/Remove Observer:</td>
                    <td class="labelClass2"></td>
                </tr>
                <tr class='tableSpacer'>
                    <td class="labelClass">Cancel Account:</td>
                    <td class="labelClass2">By cancelling your account you remove access to MethodPlus+ from all other registered accounts. Client will not be affected and may continue accessing their collected data.</td>
                </tr>
                <tr class='tableSpacer'>
                    <th colspan=2 style="width: 30%;">Change Card</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}