.group{
    width: 400px;
    text-align:center;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 15rem;
}
a{
    text-decoration: none;
    padding: 8px;
    background-color: #a52a2a63;
    border-radius: 12px;
    color: black;
}
table{
    border-collapse: collapse;
}
th, td {
    border:1px solid black;
    border-collapse: collapse;
}
.mainTable{
    width:100%;
    max-width: 1069px;
    margin:auto;
    background-color: #f1eace;
}
.c1{
    width: 124px;
    text-align: center;
}
.c2{
    width: 177px;
    text-align: center;
}
.c3{
    width: 90px;
    text-align: center;
}
.c4{
    width: 90px;
    text-align: center;
}
.c5{
    width: 145px;
    text-align: center;
}
.c6{
    width: 90px;
    text-align: center;
}
.c7{
    width: 11rem;
    text-align: center;
}
.c8{
    width: 4rem;
    text-align: center;
}
.c9{
    width: 4rem;
    text-align: center;
}
.colHeader{
    border-bottom: none;
}
.contentBox{
    border-top: none;
    text-align:center;
    padding: 2rem;
}
.machine{
    width:88rem;
}
.rowHeight{
    height: 7rem;
    width: 2rem;
}
.priceHeader{
    padding: 8px 35px;
    font-size: 24px;
    width: 4rem;
}
.priceData{
    text-align: center;
    border-top: none;
    padding: 16px 20px;
}
.priceProduct{
    text-align: center;
    border-bottom: none;
}
.priceInventory{
    text-align: center;
    border-bottom: none;
    border-top: none;
}
.prodInput{
    width: 50px;
}
.prodInputSize{
    width: 120px;
    text-align:center;
    visibility: hidden;
}
.addProdButton{
    text-decoration: none;
    padding: 8px;
    background-color: #a52a2a63;
    border-radius: 12px;
    color: black;
}
.soldProdButton{
    text-decoration: none;
    padding: 8px;
    background-color: #a52a2a63;
    border-radius: 12px;
    color: black;
}
#logList td{
    padding: 7px;
}
.logLine:hover{
    background-color: #a6a08c;
}