{% load static %}
<script defer src="{% static 'ees_forms/script/deletePacket.js' %}"></script>
<div id="edit{{packID}}" class="modalHolder" style="display:none;">
    <div id="cancelReg" class="modal-content">
        <span onclick="exit_modal({{packID}}, 'edit')" class="closeAdd">&times;</span>
        <div class='modalHeader'>
            <h1><span class="registerName">{{packet.name}} Settings</span></h1>
        </div>
        <div class='modalContent'>
            <form action="" method="POST">
                {% csrf_token %}
                <div style="color:black;text-align:justify;">
                    <p>Facility: {{info.0.facility_name}}</p><br>
                    <p>Packet Name: <input value="{{packet.name}}" type="text" name="name" placeholder="Enter packet name..." maxlength="70" required id="id_name">
                        <input type="hidden" name="packID" value="{{packet.id}}"></p><br>
                    <p>Frequency: <select name="frequency" id="id_frequency">
                        <option value="Daily" {% if packet.frequency == 'Daily' %}selected{% endif %}>Daily</option>
                        <option value="Weekly" {% if packet.frequency == 'Weekly' %}selected{% endif %}="">Weekly</option>
                        <option value="Monthly" {% if packet.frequency == 'Monthly' %}selected{% endif %}>Monthly</option>
                        <option value="Quarterly" {% if packet.frequency == 'Quarterly' %}selected{% endif %}>Quarterly </option>
                        <option value="Semi-Annual" {% if packet.frequency == 'Semi-Annual' %}selected{% endif %}>Semi-Annual</option>
                        <option value="Annual" {% if packet.frequency == 'Annual' %}selected{% endif %}>Annual</option>
                      
                      </select></p><br>
                    {% comment %} <select name="existingForms">
                        <option value="">------</option>
                        {% for forms in info.1 %}
                        <option value="{{forms.3.id}}">EQUIPMENT_NAME - {{forms.2}}</option>
                        {% endfor %}
                    </select> {% endcomment %}
                    <br>
                    <div style="text-align: right;">
                        <input id="submit{{packID}}" name="pack_settings" type="submit" value="Update">
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>