{% load static %}
<script defer src="{% static 'ees_forms/script/deletePacket.js' %}"></script>
<div id="deletePacForm{{fsID}}" class="modalHolder" style="display:none;">
    <div id="cancelReg" class="modal-content">
        <span onclick="exit_modal({{fsID}}, 'deletePacForm')" class="closeAdd">&times;</span>
        <div class='modalHeader'>
            <h1>Delete <span class="registerName">{{x.id}}</span>?</h1>
        </div>
        <div class='modalContent'>
            <form action="" method="POST">
                {% csrf_token %}
                <div style="color:black;text-align:justify;">
                    Are you sure you would like to remove the following form from the {{packet.name}} packet:<br><br>
                    <p style="padding-left: 24px;font-size: 13px;font-family: monospace;">
                        Form Title: {{x.formChoice.header}}-{{x.formChoice.title}}<br>
                        Form ID: {{fsID}}
                    </p>
                    <br>
                    <p>Please type "delete" below and confirm</p><br>
                    <input id="deletePacket{{packID}}" oninput="checkDeletePacket(this, {{fsID}}, 'pf')" type="text" name="theTextSubmitted" style="width: 250px;" required/>
                    <input id="facFormID" type="hidden" name="facFormID{{fsID}}" value="{{fsID}}"/>
                    <input id="pacID" type="hidden" name="pacID{{fsID}}" value="{{packet.id}}"/>
                    <br>
                    <div style="text-align: right;">
                        <input id="pfSubmit{{fsID}}" name="pacForm_delete" type="submit" value="Confirm Delete{{fsID}}" disabled>
                    </div>
                </div>  
            </form>
        </div>
    </div>
</div>