{% load static %}{% load sup_tags %}
<script defer src="{% static 'ees_forms/script/formSettings.js' %}"></script>
<link href="{% static 'ees_forms/style/forms_settings.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/secondary_form.css' %}" rel="stylesheet" />
{% comment %} {% with isBreak=1 %}{% for key, x in packetQuery.items %}{% if x.formID == form.id %}{{ isBreak|add:'1' }}{% endif %}{% endfor %}{% if isBreak == 2 %}display:block;{% else %}display:none;{% endif %}{% endwith %} {% endcomment %}
<div id="formID" style="display: none;" data-formid="{{formID}}"></div>
<div id="settings{{formID}}" class="formCont" style="{% if form_add == 'true' %}margin-left: 32px;display:none;{% endif %}" data-selector="{{selector}}">
    <div class="innerFormCont">
        {% if formID == "1" %}
            <li class="form-line">    
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Larry Car quantity: <input name="{{formID}}-larry_car_quantity" value="{% if formSettings.settings.larry_car_quantity %}{{formSettings.settings.larry_car_quantity}}{% endif %}" type="number"><br>
            </li>
            <li class="form-line">
                Larry Car organized by: 
                <select name="{{formID}}-organize_larry_car">
                    <option value="">------</option>
                    <option value="numbered" {% if formSettings.settings.organize_larry_car == "numbered"  %}selected{% endif %}>Numbered</option>
                    <option value="lettered" {% if formSettings.settings.organize_larry_car == "lettered" %}selected{% endif %}>Lettered</option>
                </select><br>
            </li>
            <li class="form-line">
                Order of ovens: <select name="{{formID}}-organize_ovens">
                    <option value="">------</option>
                    <option value="sequential" {% if formSettings.settings.organize_ovens == "sequential"  %}selected{% endif %}>Sequential</option>
                    <option value="every_other" {% if formSettings.settings.organize_ovens == "every_other"  %}selected{% endif %}>Every-Other</option>
                    <option value="alternating" {% if formSettings.settings.organize_ovens == "alternating"  %}selected{% endif %}>Alternating</option>
                </select>
            </li>
        {% elif formID == "2" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
        {% elif formID == "3" %}
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% for key, x in packetQuery.items %}{% if x.formID == form.id %}{% for settings in formSettingsModel %}{% if settings.id == x.settingsID %}{{settings.settings.custom_name}}{% endif %}{% endfor %}{% endif %}{% endfor %}"><br>
                One pass option: <select name="{{formID}}-one_pass">
                    <option value="">------</option>
                    <option value="yes" {% for key, x in packetQuery.items %}{% if x.formID == form.id %}{% for settings in formSettingsModel %}{% if settings.id == x.settingsID %}{% if settings.settings.one_pass == 'yes' %}selected{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}>Yes</option>
                    <option value="no" {% for key, x in packetQuery.items %}{% if x.formID == form.id %}{% for settings in formSettingsModel %}{% if settings.id == x.settingsID %}{% if settings.settings.one_pass == 'no' %}selected{% endif %}{% endif %}{% endfor %}{% endif %}{% endfor %}>No</option>
                </select><br>
        {% elif formID == "4" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
        {% elif formID == "5" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% for key, x in packetQuery.items %}{% if x.formID == form.id %}{% for settings in formSettingsModel %}{% if settings.id == x.settingsID %}{{settings.settings.custom_name}}{% endif %}{% endfor %}{% endif %}{% endfor %}"><br>
            </li>
            <li class="form-line">
                Larry Car Quantity: <input name="{{formID}}-larry_car_quantity" type="number"><br>
            </li>
        {% elif formID == "6" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
        {% elif formID == "7" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line" id="areaNumberCont" data-count={{formID}}>
                How many areas?(1-4) <input type="number" name="{{formID}}-number_of_areas" max="4" min="1" value="{% if formSettings.settings.number_of_areas != 0 %}{{formSettings.settings.number_of_areas}}{% endif %}"><button type="button" onclick="displayAreaFields(this, {{formID}})">Change</button><br>
            </li>
            <li class="form-line">
                <div id="7-areaNames" style="display: block;"></div>
            </li>
            <script>
                function displayAreaFields(elem, count){
                    let areas = elem.previousSibling.value;
                    console.log(areas)
                    if (areas > 4){
                        areas = 4;
                        elem.value = areas;
                    }
                    console.log(areas)
                    console.log(count)
                    const htmlDIV = document.getElementById(String(count)+"-areaNames");
                    console.log(htmlDIV)
                    let buildHTML = "";
                    for(i=0; i<areas; i++){
                        buildHTML += `<div style="padding-bottom:25px;">`
                        buildHTML += `Name of area ${i+1}: <input class='input_text' name='${String(count)}-area${i+1}' type='text' required value=""><br>`
                        buildHTML += `How many options: <input class='input_number' name='${String(count)}-area${i+1}-optionsQty' type='number' required><button id="${String(count)}-area${i+1}-button" type="button" onclick='createAreaChoices(this, ${count}, "area${i+1}")'>Change</button>`
                        buildHTML += `<div class="choiceCont" id="${String(count)}-area${i+1}-choicesDiv" style="display:none;"></div></div>`
                    } 
                    htmlDIV.innerHTML = buildHTML;
                    htmlDIV.style.display = 'block';
                }
                function createAreaChoices(elem, count, area){
                    let choices = elem.previousSibling.value
                    let destinationDiv = document.getElementById(String(count)+ "-" + area + "-choicesDiv");
                    let oldOptions = destinationDiv.querySelectorAll('input').length;
                    console.log(oldOptions)
                    if (oldOptions == 0){
                        let buildHTML = "";
                        for(let i=0; i<choices; i++){
                            buildHTML += `<div id='${String(count)}-${area}-choiceCont${i+1}'>Option ${i+1}: <input name='${String(count)}-${area}-choice${i+1}' type='text' required></div>`
                        } 
                        destinationDiv.innerHTML = buildHTML;
                        destinationDiv.style.display = 'block';
                        oldOptions = destinationDiv.querySelectorAll('input').length;
                        console.log('fuck')
                    }
                    console.log('-------')
                    console.log(choices)
                    console.log(oldOptions)
                    console.log('-------')
                    if (choices > oldOptions){
                        let buildHTML = "";
                        for(let z=oldOptions+1; z<=choices; z++){
                            buildHTML += `<div id='${String(count)}-${area}-choiceCont${z}'>Option ${z}: <input name='${String(count)}-${area}-choice${z}' type='text' required></div>`
                        } 
                        destinationDiv.insertAdjacentHTML('beforeend', buildHTML);
                        destinationDiv.style.display = 'block';
                    } else if (oldOptions > choices) {
                        for(let e=parseInt(choices); e<=oldOptions; e++){
                            choiceNumber = parseInt(e)+1;
                            let lastInput = document.getElementById(`${String(count)}-${area}-choiceCont${choiceNumber}`)
                            console.log(`${String(count)}-${area}-choiceCont${choiceNumber}`)
                            destinationDiv.removeChild(lastInput);
                        } 
                        console.log('la;sdklafjkl')
                        if (choices == 0){
                            destinationDiv.style.display = 'none';
                        }
                    }
                }
                window.onload = function initial_form7() {
                    let settingsDict = JSON.parse("{{formSettings.settings|escapejs}}".replaceAll("'", '"'))
                    const formIDjs = String("{{formData.id}}")
                    if (document.getElementById('areaNumberCont').childNodes[1].value > 0 && document.getElementById('areaNumberCont').childNodes[1].value) {
                        let areaElem = document.getElementById('areaNumberCont');
                        displayAreaFields(areaElem.childNodes[2], areaElem.dataset.count)
                        for (let x in settingsDict){
                            if (x.slice(0,4) == 'area'){
                                let areaNameInput = document.getElementsByName(formIDjs + "-" + x)[0];
                                let areaOptionsInput = document.getElementsByName(formIDjs + "-" + x + "-optionsQty")[0];
                                let optionsButton = document.getElementById(formIDjs + "-" + x + "-button");
                                areaNameInput.value = settingsDict[x]['name'];
                                areaOptionsInput.value = settingsDict[x]['number_of_options'];
                                createAreaChoices(optionsButton, areaElem.dataset.count, x)
                                let optionsCont = document.getElementById(formIDjs + "-" + x + "-choicesDiv");
                                for (let y in settingsDict[x]["options"]){
                                    let singOps = settingsDict[x]["options"][y]
                                    document.getElementsByName(formIDjs + "-" + x + "-choice" + y)[0].value = singOps;
                                }
                            }
                        }
                    }
                }
                
            </script>
        {% elif formID == "8" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line" id="optionNumberCont" data-count={{formID}}>
                How many different material options? <input type="number" name="{{formID}}-number_of_options" min="1" style="width:48px;" value="{% if formSettings.settings.number_of_options != 0 %}{{formSettings.settings.number_of_options}}{% endif %}"><button type="button" onclick="displayOptionsFields(this, {{formID}})">Change</button><br>
            </li>
            <li class="form-line">
                <div id="8-optionNames" style="display: block;"></div>
            </li>
            <script>
                const settingsDict = JSON.parse("{{formSettings.settings|escapejs}}".replaceAll("'", '"'))
                const formIDjs = String("{{formData.id}}")
                function displayOptionsFields(elem, count){
                    let options = elem.previousSibling.value;
                    console.log(options)
                    console.log(count)
                    const htmlDIV = document.getElementById(String(count)+"-optionNames");
                    console.log(htmlDIV)
                    let buildHTML = "";
                    for(i=0; i<options; i++){
                        buildHTML += `<div style="padding-bottom:25px;">`
                        buildHTML += `Option ${i+1}: <input class='input_text' name='${String(count)}-option${i+1}' type='text' required value=""><br>`
                        buildHTML += `</div>`
                    } 
                    htmlDIV.innerHTML = buildHTML;
                    htmlDIV.style.display = 'block';
                }
                window.onload = function initial_form8() {
                    console.log('play')
                    if (document.getElementById('optionNumberCont').childNodes[1].value > 0 && document.getElementById('optionNumberCont').childNodes[1].value) {
                        let optionElem = document.getElementById('optionNumberCont');
                        displayOptionsFields(optionElem.childNodes[2], optionElem.dataset.count)
                        for (let x in settingsDict['options']){
                            let optionNameInput = document.getElementsByName(formIDjs + "-option" + x)[0];
                            optionNameInput.value = settingsDict['options'][x];
                        }
                    }
                }
            </script>
        {% elif formID == "9" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
        {% elif formID == "17" %}
            <li class="form-line">    
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Height of of equipment/stack: <input name="{{formID}}-height_above_ground_level" type="number" value="{% if formSettings.settings.height_above_ground_level %}{{formSettings.settings.height_above_ground_level}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point start: <input name="{{formID}}-describe_emissions_point_start" type="text" value="{% if formSettings.settings.describe_emissions_point_start %}{{formSettings.settings.describe_emissions_point_start}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point stop:  <input name="{{formID}}-describe_emissions_point_stop" type="text" value="{% if formSettings.settings.describe_emissions_point_stop %}{{formSettings.settings.describe_emissions_point_stop}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip1" type="text" value="{% if formSettings.settings.process_equip1 %}{{formSettings.settings.process_equip1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode1" type="text" value="{% if formSettings.settings.operating_mode1 %}{{formSettings.settings.operating_mode1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip2" type="text" value="{% if formSettings.settings.process_equip2 %}{{formSettings.settings.process_equip2}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode2" type="text" value="{% if formSettings.settings.operating_mode2 %}{{formSettings.settings.operating_mode2}}{% endif %}"><br>
            </li>
        {% elif formID == "18" %}
            <li class="form-line">    
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Height of of equipment/stack: <input name="{{formID}}-height_above_ground_level" type="number" value="{% if formSettings.settings.height_above_ground_level %}{{formSettings.settings.height_above_ground_level}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point start: <input name="{{formID}}-describe_emissions_point_start" type="text" value="{% if formSettings.settings.describe_emissions_point_start %}{{formSettings.settings.describe_emissions_point_start}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point stop:  <input name="{{formID}}-describe_emissions_point_stop" type="text" value="{% if formSettings.settings.describe_emissions_point_stop %}{{formSettings.settings.describe_emissions_point_stop}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip1" type="text" value="{% if formSettings.settings.process_equip1 %}{{formSettings.settings.process_equip1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode1" type="text" value="{% if formSettings.settings.operating_mode1 %}{{formSettings.settings.operating_mode1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip2" type="text" value="{% if formSettings.settings.process_equip2 %}{{formSettings.settings.process_equip2}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode2" type="text" value="{% if formSettings.settings.operating_mode2 %}{{formSettings.settings.operating_mode2}}{% endif %}"><br>
            </li>
        {% elif formID == "19" %}
            <li class="form-line">    
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Height of of equipment/stack: <input name="{{formID}}-height_above_ground_level" type="number" value="{% if formSettings.settings.height_above_ground_level %}{{formSettings.settings.height_above_ground_level}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point start: <input name="{{formID}}-describe_emissions_point_start" type="text" value="{% if formSettings.settings.describe_emissions_point_start %}{{formSettings.settings.describe_emissions_point_start}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Decribe emissions point stop:  <input name="{{formID}}-describe_emissions_point_stop" type="text" value="{% if formSettings.settings.describe_emissions_point_stop %}{{formSettings.settings.describe_emissions_point_stop}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip1" type="text" value="{% if formSettings.settings.process_equip1 %}{{formSettings.settings.process_equip1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode1" type="text" value="{% if formSettings.settings.operating_mode1 %}{{formSettings.settings.operating_mode1}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Process equipment: <input name="{{formID}}-process_equip2" type="text" value="{% if formSettings.settings.process_equip2 %}{{formSettings.settings.process_equip2}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Operating Mode: <input name="{{formID}}-operating_mode2" type="text" value="{% if formSettings.settings.operating_mode2 %}{{formSettings.settings.operating_mode2}}{% endif %}"><br>
            </li>
        {% elif formID == "20" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                How many days per week: 
                <select name="{{formID}}-days_weekly" class="customName" class="selectInput" id="id_freeboard{{forloop.counter}}" required>
                    <option value="5" {% if formSettings.settings.days_weekly == 5 %}selected{% endif %}>5</option>
                    <option value="6" {% if formSettings.settings.days_weekly == 7 %}selected{% endif %}>7</option>
                </select><br>
            </li>
        {% elif formID == "21" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
        {% elif formID == "29" %}
            <li class="form-line">
                Custom Title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} <input type='text' placeholder="{{formData.title}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line" id="spill-kit-input-options" data-count={{formID}}>
                Inputs for Spill Kits?<br>
                <label for="{{formID}}-input_tag_on">
                    <input type="checkbox" id="{{formID}}-input_tag_on" name="{{formID}}-input_tag_on" {% if formSettings.settings.input_tag_on %}checked{% endif %}>
                    Tag On
                </label>
                <label for="{{formID}}-input_tag_id">
                    <input type="checkbox" id="{{formID}}-input_tag_id" name="{{formID}}-input_tag_id" {% if formSettings.settings.input_tag_id %}checked{% endif %}>
                    Tag ID
                </label>
                <label for="{{formID}}-input_complete">
                    <input type="checkbox" id="{{formID}}-input_complete" name="{{formID}}-input_complete" {% if formSettings.settings.input_complete %}checked{% endif %}>
                    Complete Kit
                </label>
                <label for="{{formID}}-input_inventory">
                    <input type="checkbox" id="{{formID}}-input_inventory" name="{{formID}}-input_inventory" {% if formSettings.settings.input_inventory %}checked{% endif %}>
                    Inventory Sheet
                </label>
                <label for="{{formID}}-input_comments">
                    <input type="checkbox" id="{{formID}}-input_comments" name="{{formID}}-input_comments" {% if formSettings.settings.input_comments %}checked{% endif %}>
                    Comments
                </label>
            </li>
            <li class="form-line" id="areaNumberCont" data-count={{formID}}>
                Amount of Spill Kits onsite? <input type="number" id="{{formID}}-number_of_areas" name="{{formID}}-number_of_areas" class="numb-of" min="1" value="{% if formSettings.settings.number_of_areas != 0 %}{{formSettings.settings.number_of_areas}}{% endif %}">
            </li>
            <li class="form-line">
                Spill Kit Labels: 
                <select name="{{formID}}-label_style" onchange="displaySpillKits(this, {{formID}})">
                    <option value="">------</option>
                    <option value="Numbered" {% if formSettings.settings.label_style == "Numbered" %}selected{% endif %}>Numbered</option>
                    <option value="Lettered" {% if formSettings.settings.label_style == "Lettered" %}selected{% endif %}>Lettered</option>
                    <option value="Custom" {% if formSettings.settings.label_style == "Custom" %}selected{% endif %}>Custom</option>
                </select>
            </li>
            <li class="form-line">
                <div id="{{formID}}-areaNames" style="display: block;"></div>
            </li>
            <script>
                function displaySpillKits(elem, count){
                    console.log(document.getElementById(`${count}-input_tag_on`).value)
                    const htmlDIV = document.getElementById(String(count)+"-areaNames"),
                    label_style = elem.value,
                    areas = document.getElementById(`${count}-number_of_areas`).value;
                    console.log(elem.value)
                    if (label_style == 'Custom'){
                        let buildHTML = "";
                        for(i=0; i<areas; i++){
                            buildHTML += `<div id="spill-kit-labels" style="padding-bottom:25px;">`
                            buildHTML += `Label for Spill Kit ${i+1}: <input class='input_text' name='${String(count)}-area${i+1}' type='text' required value=""><br>`
                            buildHTML += `</div>`
                        } 
                        htmlDIV.innerHTML = buildHTML;
                        htmlDIV.style.display = 'block';
                    } else {
                        htmlDIV.innerHTML = "";
                        htmlDIV.style.display = 'none';
                    }
                }
                window.onload = function initial_form29() {
                    let settingsDict = JSON.parse("{{formSettings.settings|escapejs}}".replaceAll("'", '"'))
                    const formIDjs = String("{{formData.form}}")
                    if (document.getElementById('areaNumberCont').childNodes[1].value > 0 && document.getElementById('areaNumberCont').childNodes[1].value) {
                        let areaElem = document.getElementById('areaNumberCont');
                        displaySpillKits(document.getElementById(`${count}-number_of_areas`), {{formID}})
                    }
                }
            </script>
        {% elif formID == "30" %}
            <li class="form-line">
                Custom title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} 
                <input type='text' placeholder="{{formData.header}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <li class="form-line">
                Number of areas:{% include 'shared/components/helpPack.html' with data="form30_num_of_areas" popupCounter=1 %} 
                <input type='number' placeholder="" class="num_of_areas" name="{{formID}}-num_of_areas" value="{% if formSettings.settings.num_of_areas %}{{formSettings.settings.num_of_areas}}{% endif %}"><br>
            </li>
            
            {{ formSettings.settings|json_script:"formSettingsData" }}
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    let numOfAreasInput = document.querySelector(".num_of_areas");
            
                    if (numOfAreasInput) {
                        showOldData(numOfAreasInput)
                        updateWasteAreas(numOfAreasInput, "{{formID}}")
                        numOfAreasInput.addEventListener("input", function () {
                            updateWasteAreas(this, "{{formID}}");
                        });
                    }
                });
            
                function updateWasteAreas(elem, count) {
                    let areas = parseInt(elem.value) || 0;  // Ensure valid number
            
                    const htmlDIV = document.getElementById(`${count}-areaNames`);
                    if (!htmlDIV) return;
            
                    let existingAreas = htmlDIV.querySelectorAll(".area-block").length;
            
                    // If increasing, add new fields
                    if (areas > existingAreas) {
                        for (let i = existingAreas; i < areas; i++) {
                            let areaBlock = document.createElement("div");
                            areaBlock.classList.add("area-block");
                            areaBlock.setAttribute("id", `${count}-areaBlock-${i + 1}`);
                            areaBlock.innerHTML = `
                                <div style="padding-bottom:25px;">
                                    Name of area ${i + 1}: <input class='input_text' name='${count}-area${i + 1}' type='text' required value=""><br>
                                </div>
                            `;
                            htmlDIV.appendChild(areaBlock);
                        }
                    }
                    // If decreasing, remove the last added inputs
                    else if (areas < existingAreas) {
                        for (let i = existingAreas; i > areas; i--) {
                            let lastBlock = document.getElementById(`${count}-areaBlock-${i}`);
                            if (lastBlock) {
                                lastBlock.remove();
                            }
                        }
                    }
            
                    htmlDIV.style.display = areas > 0 ? "block" : "none"; // Hide if no areas
                }
                function showOldData(numOfAreasInput){
                    let settingsElement = document.getElementById("formSettingsData");
                    if (!settingsElement) {
                        console.error("Error: formSettingsData element not found.");
                        return;
                    }

                    try {
                        let settingsDict = JSON.parse(settingsElement.textContent);
                        console.log("Parsed JSON:", settingsDict);
                
                        updateWasteAreas(numOfAreasInput, "{{formID}}"); // Update UI
                
                        for (let x in settingsDict) {
                            if (x.startsWith("area")) {
                                let areaNameInput = document.getElementsByName("{{formID}}" + "-" + x)[0];
                                if (areaNameInput) {
                                    areaNameInput.value = settingsDict[x]; // Assign value correctly
                                }
                            }
                        }
                    } catch (error) {
                        console.error("Error parsing JSON:", error, settingsElement);
                    }
                }
            </script>
            <li class="form-line">
                <div id="30-areaNames" style="display: none; padding-left: 40px;"></div>
            </li>
            <li class="form-line">
                Number of Waste Categories:{% include 'shared/components/helpPack.html' with data="form30_num_of_waste_cat" popupCounter=2 %} 
                <input type='number' placeholder="" class="num_of_waste_cat" name="{{formID}}-num_of_waste_cat" value="{% if formSettings.settings.num_of_waste_cat %}{{formSettings.settings.num_of_waste_cat}}{% endif %}"><br>
            </li>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    let numOfWasteCatInput = document.querySelector(".num_of_waste_cat");
            
                    if (numOfWasteCatInput) {
                        showOldCatData(numOfWasteCatInput)
                        updateWasteCats(numOfWasteCatInput, "{{formID}}")
                        numOfWasteCatInput.addEventListener("input", function () {
                            updateWasteCats(this, "{{formID}}");
                        });
                    }
                });
            
                function updateWasteCats(elem, count) {
                    let cats = parseInt(elem.value) || 0;  // Ensure valid number
            
                    const htmlDIV = document.getElementById(`${count}-wasteCatNames`);
                    if (!htmlDIV) return;
            
                    let existingCats = htmlDIV.querySelectorAll(".cat-block").length;
            
                    // If increasing, add new fields
                    if (cats > existingCats) {
                        for (let i = existingCats; i < cats; i++) {
                            let catBlock = document.createElement("div");
                            catBlock.classList.add("cat-block");
                            catBlock.setAttribute("id", `${count}-catBlock-${i + 1}`);
                            catBlock.innerHTML = `
                                <div style="padding-bottom:25px;">
                                    Name of Category ${i + 1}: <input class='input_text' name='${count}-cat${i + 1}' type='text' required value=""><br>
                                </div>
                            `;
                            htmlDIV.appendChild(catBlock);
                        }
                    }
                    // If decreasing, remove the last added inputs
                    else if (cats < existingCats) {
                        for (let i = existingCats; i > cats; i--) {
                            let lastBlock = document.getElementById(`${count}-catBlock-${i}`);
                            if (lastBlock) {
                                lastBlock.remove();
                            }
                        }
                    }

                    htmlDIV.style.display = cats > 0 ? "block" : "none"; // Hide if no cats
                }
                function showOldCatData(numOfWasteCatInput){
                    let settingsElement = document.getElementById("formSettingsData");
                    if (!settingsElement) {
                        console.error("Error: formSettingsData element not found.");
                        return;
                    }

                    try {
                        let settingsDict = JSON.parse(settingsElement.textContent);
                        console.log("Parsed JSON:", settingsDict);
                
                        updateWasteCats(numOfWasteCatInput, "{{formID}}"); // Update UI
                
                        for (let x in settingsDict) {
                            if (x.startsWith("cat")) {
                                let catNameInput = document.getElementsByName("{{formID}}" + "-" + x)[0];
                                if (catNameInput) {
                                    catNameInput.value = settingsDict[x]; // Assign value correctly
                                }
                            }
                        }
                    } catch (error) {
                        console.error("Error parsing JSON:", error, settingsElement);
                    }
                }
            </script>
            <li class="form-line">
                <div id="30-wasteCatNames" style="display: none; padding-left: 40px;"></div>
            </li>
        {% elif formID == "31" %}
            {{ formSettings.settings|json_script:"formSettingsData" }}
            <li class="form-line">
                Custom title:{% include 'shared/components/helpPack.html' with data="customTitleInput" popupCounter=0 %} 
                <input type='text' placeholder="{{formData.header}}" class="customName" name="{{formID}}-custom_name" value="{% if formSettings.settings.custom_name %}{{formSettings.settings.custom_name}}{% endif %}"><br>
            </li>
            <div style="justify-self: center;">
                <table class="tank-table" style="border: #0000006e 1px solid; border-radius: 5px;">
                    <thead>
                        <tr>
                            <th>Tank ID</th>
                            <th>Tank Name</th>
                            <th>Tank Class</th>
                            <th>Contents</th>30-tank1-id
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tankTableBody">
                        <tr id="row1">
                            <td><input style="width: 90px;" type="text" name="{{formID}}-tank1-id" class="tank-input" placeholder="Enter Tank ID"></td>
                            <td><input style="width: 230px;" type="text" name="{{formID}}-tank1-name" class="tank-input" placeholder="Enter Tank Name"></td>
                            <td><input style="width: 150px;" type="text" name="{{formID}}-tank1-class" class="tank-input" placeholder="Enter Tank Class"></td>
                            <td><input style="width: 150px;" type="text" name="{{formID}}-tank1-contents" class="tank-input" placeholder="Enter Contents"></td>
                            <td><button type="button" class="deleteRow">🗑️</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" id="addRow">+ Add Row</button>
            <script>
                showOldData();
                let tableBody = document.getElementById("tankTableBody");
                document.getElementById("addRow").addEventListener("click", function() {
                    let tableLastRowNumber = tableBody.lastElementChild.id.slice(3)
                    console.log(tableBody.lastElementChild.id.slice(3))
                    let newRow = document.createElement("tr");
                    newRow.id = "row" + String(Number(tableLastRowNumber) + 1)
                    newRow.innerHTML = `
                        <td><input style="width: 90px;" type="text" name="{{formID}}-tank${String(Number(tableLastRowNumber) + 1)}-id" class="tank-input" placeholder="Enter Tank ID"></td>
                        <td><input style="width: 230px;" type="text" name="{{formID}}-tank${String(Number(tableLastRowNumber) + 1)}-name" class="tank-input" placeholder="Enter Tank Name"></td>
                        <td><input style="width: 150px;" type="text" name="{{formID}}-tank${String(Number(tableLastRowNumber) + 1)}-class" class="tank-input" placeholder="Enter Tank Class"></td>
                        <td><input style="width: 150px;" type="text" name="{{formID}}-tank${String(Number(tableLastRowNumber) + 1)}-contents" class="tank-input" placeholder="Enter Contents"></td>
                        <td><button type="button" class="deleteRow">🗑️</button></td>
                    `;
            
                    tableBody.appendChild(newRow);
                    attachDeleteEvent(newRow);
                });
            
                function attachDeleteEvent(row) {
                    row.querySelector(".deleteRow").addEventListener("click", function() {
                        row.remove();
                    });
                }
            
                // Attach event listener to existing row
                document.querySelectorAll(".deleteRow").forEach(button => {
                    button.addEventListener("click", function() {
                        this.closest("tr").remove();
                    });
                });

                function showOldData(){
                    let tableBody = document.getElementById("tankTableBody");
                    let settingsElement = document.getElementById("formSettingsData");
                    if (!settingsElement) {
                        console.error("Error: formSettingsData element not found.");
                        return;
                    }

                    try {
                        let settingsDict = JSON.parse(settingsElement.textContent);
                        console.log("Parsed JSON:", settingsDict);
                        dataLength = Object.keys(settingsDict).length-1;
                        console.log(dataLength)
                        if (dataLength > 0){
                            let child = tableBody.firstElementChild
                            tableBody.removeChild(child)
                            let count = 1;
                            for (theKey in settingsDict){
                                //for (x=1; x<=dataLength; x++){
                                if (theKey != "custom_name"){
                                    let tank_data = settingsDict[theKey];
                                    let newRow = document.createElement("tr");
                                    newRow.id = "row" + String(count);
                                    newRow.innerHTML = `
                                        <td><input value="${tank_data['id']}" style="width: 90px;" type="text" name="{{formID}}-tank${String(count)}-id" class="tank-input" placeholder="Enter Tank ID"></td>
                                        <td><input value="${tank_data['name']}" style="width: 230px;" type="text" name="{{formID}}-tank${String(count)}-name" class="tank-input" placeholder="Enter Tank Name"></td>
                                        <td><input value="${tank_data['class']}" style="width: 150px;" type="text" name="{{formID}}-tank${String(count)}-class" class="tank-input" placeholder="Enter Tank Class"></td>
                                        <td><input value="${tank_data['contents']}" style="width: 150px;" type="text" name="{{formID}}-tank${String(count)}-contents" class="tank-input" placeholder="Enter Contents"></td>
                                        <td><button type="button" class="deleteRow">🗑️</button></td>
                                    `;
                            
                                    tableBody.appendChild(newRow);
                                    count++;
                                }
                            }
                        }  
                    } catch (error) {
                        console.error("Error parsing JSON:", error, settingsElement);
                    }
                }
            </script>
        {% endif %}
    </div>
</div>