{% load static %}
<form method="POST" action="">
    {% csrf_token %}
    <div style="text-align:left;width: 33rem;margin: auto;">
        {% if page == 'faci' %}
        <li class="form-line">
            <div class="label">Facility Name</div>
            <div class="inputCont">
                <div style="display:block;">
                    <span style="width: 290px;display: inline-block;padding-bottom: 10px;">
                        <span>{{facilityInfo.facility_name}}</span>
                        <label class="sub_label">Name</label>
                    </span>
                </div>
            </div>
        </li>
        <li class="form-line">
            <div class="label">Address</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <span style="width: 290px;display: inline-block;padding-bottom: 10px;">
                        <span>
                            {{facilityInfo.address}}
                        </span>
                        <label class="sub_label">Street Address</label>
                    </span>
                </div>
                <div style="display:block;">
                    <span style="width: 290px;display: inline-block;padding-bottom: 10px;">
                        <span>
                            <input type="text" name="address2" class="input" style="width:100%;" id="id_address2">
                        </span>
                        <label class="sub_label">Street Address Line 2</label>
                    </span>
                </div>
                <div style="display:block;">
                    <div style="width: 290px;">
                        <span style="display: inline-block;padding-bottom: 10px;width: 10rem;">
                            <span>{{facilityInfo.city}}</span>
                            <label class="sub_label">City</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 5rem;">
                            <span>{{facilityInfo.state}}</span>
                            <label class="sub_label">State</label>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="form-line">
            <div class="label">Is this facility a Coke Battery?</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 12px;width: 9rem;">
                            <span>
                                <select class="input" style="height:24px; width:81px;" name="is_battery" id="cokeBattery" onchange="batteryInformation()">
                                    <option value="">------</option>
                                    <option value="Yes" {% if facInfoMain.is_battery == 'Yes' %}selected{% endif %}>Yes</option>
                                    <option value="No" {% if facInfoMain.is_battery == 'No' %}selected{% endif %}>No</option>
                                </select>
                            </span>
                            <label class="sub_label"></label>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="batteryInfo" class="form-line" style="display:none;">
            <div class="label">Battery Information</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facilityInfo.district}}</span>
                            <label class="sub_label">District</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facilityInfo.county}}</span>
                            <label class="sub_label">County</label>
                        </span>
                    </div>
                </div>
                <div style="display:block;">
                    <span style="width: 7rem;;display: inline-block;padding-bottom: 10px;">
                        <span>{{facilityInfo.bat_num}}</span>
                        <label class="sub_label">Battery Number</label>
                    </span>
                    <span style="width: 11rem;display: inline-block;padding-bottom: 10px;">
                        <span>{{facilityInfo.estab_num}}</span>
                        <label class="sub_label">Establishment Number</label>
                    </span>
                </div>
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 12px;width: 9rem;">
                            <span>{{facilityInfo.equip_location}}</span>
                            <label class="sub_label">Equipment Location</label>
                        </span>
                    </div>
                </div>
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 10px;width: 5rem;">
                            <span>{{facilityInfo.bat_main}}</span>
                            <label class="sub_label">Battery Main</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 6rem;">
                            <span>{{facilityInfo.total_ovens}}</span>
                            <label class="sub_label">Number of Ovens</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 6rem;">
                            <span>{{facilityInfo.bat_lids}}</span>
                            <label class="sub_label">Lids Per Oven</label>
                        </span>
                    </div>
                </div>
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 10px;width: 6rem;">
                            <span>{{facilityInfo.bat_height}}</span>
                            <label class="sub_label">Height of Battery</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facilityInfo.bat_height_label}}</span>
                            <label class="sub_label">ft/m</label>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <script src="{% static 'ees_forms/script/settings_facilityInfo_form.js' %}"></script>
        {% else %}
        <li class="form-line">
            <div class="label">Facility Name</div>
            <div class="inputCont">
                <div style="display:block;">
                    <span style="width: 290px;display: inline-block;padding-bottom: 10px;">
                        <span>{{facInfoMain.facility_name}}</span>
                    </span>
                </div>
            </div>
        </li>
        <li class="form-line">
            <div class="label">Address</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <span style="width: 290px;display: inline-block;padding-bottom: 10px;">
                        <span>
                            {{facInfoMain.address}}<br>
                            {{facInfoMain.city}}, {{facInfoMain.state}} ZIPCODE
                        </span>
                    </span>
                </div>
            </div>
        </li>
        <li class="form-line">
            <div class="label">Is this facility a Coke Battery?</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 12px;width: 9rem;">
                            <span>
                                {{facInfoMain.is_battery}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="batteryInfo" class="form-line" {% if facInfoMain.is_battery == 'No' %}style="display:none;"{% endif %}>
            <div class="label">Battery Information</div>
            <div class="inputCont" style="width: 294px;">
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facInfoMain.district}}</span>
                            <label class="sub_label">District</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facInfoMain.county}}</span>
                            <label class="sub_label">County</label>
                        </span>
                    </div>
                </div>
                <div style="display:block;">
                    <span style="display: inline-block;padding-bottom: 12px;width: 9rem;">
                        <span>{{facInfoMain.equip_location}}</span>
                        <label class="sub_label">Equipment Location</label>
                    </span>
                    <span style="width: 9rem;display: inline-block;padding-bottom: 10px;">
                        <span>{{facInfoMain.estab_num}}</span>
                        <label class="sub_label">Establishment Number</label>
                    </span>
                </div>
                <div style="display:block;">
                    <div style="width: 294px;">
                        <span style="width: 9rem;;display: inline-block;padding-bottom: 10px;">
                            <span>{{facInfoMain.bat_num}}</span>
                            <label class="sub_label">Battery Number</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 9rem;">
                            <span>{{facInfoMain.bat_main}}</span>
                            <label class="sub_label">Battery Main</label>
                        </span>
                    </div>
                </div>
                <div style="display:block;">
                    <div style="width: 294px;">
                        
                        <span style="display: inline-block;padding-bottom: 10px;width: 5rem;">
                            <span>{{facInfoMain.total_ovens}}</span>
                            <label class="sub_label">Total Ovens</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 5rem;">
                            <span>{{facInfoMain.bat_lids}}</span>
                            <label class="sub_label">Lids Per Oven</label>
                        </span>
                        <span style="display: inline-block;padding-bottom: 10px;width: 6rem;">
                            <span>{{facInfoMain.bat_height}}{{facInfoMain.bat_height_label}}</span>
                            <label class="sub_label">Height of Battery</label>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        {% endif %}
    </div>
    <center>
    {% if page == 'faci' %}
        <input type="submit" name="facilityInfoSave" value="save">
    {% else %}
        <a href="{% url 'selectedFacilitySettings' facility facilityID 'faci' %}">edit</a>
    {% endif %}
    </center>
</form>