{% load static %}
<script defer src="{% static 'ees_forms/script/settings_dashboard_select.js' %}"></script>
<form method="POST" name="DashForm" id="DashForm">
    {% csrf_token %}
    <table id="DashSettings" name="DashSettings" class="tableClass">
        <tr class='tableSpacer'>
            <td colspan="2" class="labelClass"><hr></td>
        </tr>
        <tr class='tableSpacer'>
            <th colspan="2" style="text-align: left;">
                Dashboard Settings:
            </th>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass" style="padding: 0px 55px;">
                Choose dashboard:
                <select id="dashSelect" onchange="changeOptions(this)" name="dashSelect" data-dashops="{{dashDict}}" {% if selector == "main" %}disabled{% endif %}>
                    {% for key, name in dashDict.items %}
                    <option value="{{name}}" {% if facilityInfo.settings.graphs.graphFrequencyData.frequency == 'weekly' %}selected{% endif %}>{{name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <div id="batteryDashCont" style="display:none;">
        {% include '../components/settings_batteryDash_form.html' with page=page %}
    </div>
    <div id="formsDashCont" style="display:none;">
        {% include '../components/settings_formsDash_form.html' with page=page %}
    </div>
    {% comment %} <div style="text-align:right;">
        <button type="button" class="input">Cancel</button>
        <input type="submit" class="input" name="batteryDashSave" value="save">
    </div> {% endcomment %}
</form>