<form method="POST" name="formForm" id="formForm">
    {% csrf_token %}
    {% if page == 'noti' %}
    <table id="formSettings" name="formSettings" class="tableClass">
        <tr class='tableSpacer'>
            <td colspan="2" class="labelClass"><hr></td>
        </tr>
        <tr class='tableSpacer'>
            <th colspan="2" style="width: 30%;">
                Form Settings:
            </th>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass">
                Reset default settings: <span style="cursor:pointer;" onclick="setdefault()">click here</span>
                <input id="defaultNotif" type="hidden" name="defaultNotif" value=false>
                <script>
                    function setdefault(){
                        document.getElementById('defaultNotif').value = true;
                        document.getElementById('notifForm').submit();
                    }
                </script>
            </td>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass">Send me notifications for:</td>
        </tr>
        <tr class='tableSpacer'>
            <td colspan="2" style="width: 30%;">
                <div>
                    <label class="container">Deviations - Out of Compliance
                        <input id="compliance" type="checkbox" value="true" {% if facilityInfo.notifications.compliance %}checked{% endif %} name="compliance">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Deviations
                        <input id="deviations" type="checkbox" value="true" {% if facilityInfo.notifications.deviations %}checked{% endif %} name="deviations">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Submitted Forms
                        <input id="submitted" type="checkbox" value="true" {% if facilityInfo.notifications.submitted %}checked{% endif %} name="submitted">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">10 Day Push Travel Warnings
                        <input id="10_day_pt" type="checkbox" value="true" {% if facilityInfo.notifications.10_day_pt %}checked{% endif %} name="10_day_pt">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">5 Day Push Travel Warnings
                        <input id="5_day_pt" type="checkbox" value="true" {% if facilityInfo.notifications.5_day_pt %}checked{% endif %} name="5_day_pt">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </td>
        </tr>
    </table>
    {% else %}
    <table name="notifSettings" class="tableClass">
        <tr class='tableSpacer'>
            <td colspan="2" class="labelClass"><hr></td>
        </tr>
        <tr class='tableSpacer'>
            <th colspan="2" class='' style="width: 30%;">
                Notification Settings:
            </th>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass">Send me notifications for:</td>
        </tr>
        <tr class='tableSpacer'>
            <td colspan="2" class='' style="width: 30%;">
                <div>
                    <label class="container">Deviations - Out of Compliance
                        <input disabled id="compliance" type="checkbox" value="true" {% if facilityInfo.notifications.compliance %}checked{% endif %} name="compliance">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Deviations
                        <input disabled id="deviations" type="checkbox" value="true" {% if facilityInfo.notifications.deviations %}checked{% endif %} name="deviations">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Submitted Forms
                        <input disabled id="submitted" type="checkbox" value="true" {% if facilityInfo.notifications.submitted %}checked{% endif %} name="submitted">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">10 Day Push Travel Warnings
                        <input disabled id="10_day_pt" type="checkbox" value="true" {% if facilityInfo.notifications.10_day_pt %}checked{% endif %} name="10_dayPush">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">5 Day Push Travel Warnings
                        <input disabled id="5_day_pt" type="checkbox" value="true" {% if facilityInfo.notifications.5_day_pt %}checked{% endif %} name="5_dayPush">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </td>
        </tr>
    </table>
    {% endif %}
    <center>
    {% if page == 'noti' %}
    <input type="submit" name="notifSettingsForm" value="save">
    {% else %}
    <a href="{% url 'selectedFacilitySettings' facility facilityID 'noti' %}#notifSettings">edit</a>
    {% endif %}
    </center>
</form>