{% load static %}
<link href="{% static 'ees_forms/style/sup_sideBar.css' %}" rel="stylesheet" />
<div id="sideBar">
    <div class='menuItems'>
        <ul>
            <li>
                <p id='adminLabel' style="color:white;" href=#>{% if client %}Directory{% elif supervisor %}Supervisor{% endif %}</p>
                <ul id='adminGroup' style='display:block;'>
                    <li>
                        <a href="{% if client %}{% url 'c_dashboard' facility %}{% elif supervisor %}{% url 'sup_dashboard' facility %}{% endif %}">
                            Dashboard
                        </a>
                    </li>
                    {% if client %}
                    {% elif supervisor %}
                        <li>
                            <a href="{% url 'Register' facility 'form'%}">
                                Register New Profile
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'Contacts'  facility %}">
                            Profiles/Contacts
                        </a>
                    </li>
                    {% if supervisor %}
                        <li>
                            <a href="{% url 'facilityList' facility %}">
                                Client Forms
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'Schedule' facility %}">
                            Calendar
                        </a>
                    </li>
                </ul>
            </li>
            {% if unlock %}
            <li>
                <a href=#>Completion Progress</a>
                <ul>
                    <li><a href=#>Daily</a></li>
                    <li><a href=#>Weekly</a></li>
                    <li><a href=#>Monthly</a></li>
                    <li><a href=#>Quartery</a></li>
                    <li><a href=#>Anually</a></li>
                </ul>
            </li>{% endif %}
            {% comment %} <li><a id='calendarLabel' href=#>Schedule</a>
                <ul id='calendarGroup' style='display: block;'>
                    <li><a href="{% url 'Schedule' facility %}">Calendar</a></li>
                    {% if client %}{% elif supervisor %}<li><a href="{% url 'Add Event' facility %}">Add Events</a></li>{% endif %}
                </ul>
            </li> {% endcomment %}
            {% if client %}
                <li>
                    <a href=#>
                        Records/Data
                    </a>
                    <ul style='display: block;'>
                        <li><a href="{% url 'archive' facility %}">Archive</a></li>
                        <li><a href="{% url 'Corrective-Action' facility %}">Corrective Actions</a></li>
                        <li><a href="{% url 'PrintSelect' facility %}">Print Forms</a></li>
                        {% comment %} <li><a href=#>Weekly Reports</a></li>
                        <li><a href="{% url 'rolling_avg' facility %}">Rolling Averages</a></li> {% endcomment %}
                        <li><a href="{% url 'Sop' facility %}">SOP's</a></li>
                        <li><a href="{% url 'pt_admin1' facility %}">90 Day Push/Travel</a></li>
                    </ul>
                </li>
            {% elif supervisor %}
                {% if facility != "supervisor" %}
                    <li>
                        <a id='sbClient' href=#>
                            {{facility}}
                        </a>
                        <ul id='sbClientGroup' style="display: block;">
                            <li><a href="{% url 'archive' facility %}">Archive</a></li>
                            <li><a href="{% url 'Corrective-Action' facility %}">Corrective Actions</a></li>
                            <li><a href="{% url 'Sop' facility %}">SOP's</a></li>
                            <li><a href="{% url 'PrintSelect' facility %}">Print Forms</a></li>
                            <li><a href="{% url 'Schedule' facility %}">Schedule</a></li>
                            <li><a href="{% url 'Add Event' facility %}">Add Events</a></li>
                            {% comment %} <li><a href=#>Weekly Reports</a></li>
                            <li><a href="{% url 'rolling_avg' facility %}">Data Records</a></li> {% endcomment %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>