{% load static %}
<link href="{% static 'ees_forms/style/sup_sideBar.css' %}" rel="stylesheet" />
    <div class='menuItems'>
        <ul>
            <li>
                <p id='adminLabel' style="color:white;">
                    {% if client %}
                        Directory
                    {% elif supervisor %}
                        Supervisor
                    {% endif %}
                </p>
                <ul id='adminGroup' style='display:block;'>
                    <li>
                        <a href="{% url 'Schedule' %}">
                            Calendar
                        </a>
                    </li>
                    {% if supervisor %}
                        <li>
                            <a href="{% url 'facilityList' %}">
                                Client Forms
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% if client %}{% url 'c_dashboard' %}{% elif supervisor %}{% url 'sup_dashboard' %}{% endif %}">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'Contacts' %}">
                            Profiles/Contacts
                        </a>
                    </li>
                    {% if supervisor %}
                        <li>
                            <a href="{% url 'Register' 'form'%}">
                                Register New Profile
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {% if unlock %}
                <li>
                    <a href=#>Completion Progress</a>
                    <ul>
                        <li><a href=#>Daily</a></li>
                        <li><a href=#>Weekly</a></li>
                        <li><a href=#>Monthly</a></li>
                        <li><a href=#>Quartery</a></li>
                        <li><a href=#>Anually</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if client %}
                <li>
                    <a href=#>
                        Records/Data
                    </a>
                    <ul style='display: block;'>
                        <li><a href="{% url 'archive' %}">Archive</a></li>
                        <li><a href="{% url 'Corrective-Action' %}">Corrective Actions</a></li>
                        <li><a href="{% url 'data_records' %}">Data Records</a></li>
                        <li><a href="{% url 'PrintSelect' %}">Print Forms</a></li>
                        <li><a href="{% url 'Sop' %}">SOP's</a></li>
                    </ul>
                </li>
            {% elif supervisor %}
                {% if facility %}
                    <li>
                        <a id='sbClient'>
                            {{facility}}
                        </a>
                        <ul id='sbClientGroup' style="display: block;">
                            <li><a href="{% url 'Add Event' %}">Add Events</a></li>
                            <li><a href="{% url 'archive' %}">Archive</a></li>
                            <li><a href="{% url 'Corrective-Action' %}">Corrective Actions</a></li>
                            <li><a href="{% url 'data_records' %}">Data Records</a></li>
                            <li><a href="{% url 'PrintSelect' %}">Print Forms</a></li>
                            <li><a href="{% url 'Schedule' %}">Schedule</a></li>
                            <li><a href="{% url 'Sop' %}">SOP's</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch(`../ajax/sidebar/{{facility}}/`)
            .then(res => res.json())
            .catch(err => {
                console.error("Error loading sidebar", err);
            });

    });
</script>