<div class="centerFlex">
    <table class="tableClass">
        <tr class='tableSpacer'>
            <th colspan=2 class='' style="width: 30%;">Select Facility:</th>
        </tr>
        <tr class='tableSpacer'>
            <td colspan="2" class="cellData">
                {% for facilities in sortedFacilityData %}
                    {% if client %}
                        {% if facility == facilities.facility_name %}
                            <a href="{% url 'selectedFacilitySettings' facilities.id 'main' %}" style="text-decoration: underline;">{{ facilities.facility_name }} - {{ facilities.city|title }}, {{ facilities.state|title }}</a><br>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'selectedFacilitySettings' facilities.id 'main' %}" style="text-decoration: underline;">{{ facilities.facility_name }} - {{ facilities.city|title }}, {{ facilities.state|title }}</a><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
</div>