<div class="centerFlex">
    <table class="tableClass">
        <tr class='tableSpacer'>
            <td class="labelClass">Company Name:</td>
            <td class="labelClass2">{{accountData.company.company_name}}</td>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass">Company Address:</td>
            <td class="labelClass2">{{accountData.company.address}}</td>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass"></td>
            <td class="labelClass2">{{accountData.company.city}}, {{accountData.company.state}} {{accountData.company.zipcode}}</td>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass">Company Phone:</td>
            <td class="labelClass2">{{accountData.company.phone}}</td>
        </tr>
    </table>
</div>