{% load static %}{% load sup_tags %}
<script defer src="{% static 'ees_forms/script/sop_modal.js' %}"></script>
<script defer src="{% static 'ees_forms/script/settings_subscription.js' %}"></script>
<link href="{% static 'ees_forms/style/sop_modal.css' %}" rel="stylesheet" />
<div class="centerFlex">
    <div id="addModal" class="modalAdd">
        <div id="cancelReg" class="modal-content" style="width: 64%;">
            <span class="closeAdd">&times;</span>
            <div class='modalHeader'>
                <h1>Cancel Registration for <span class="registerName"></span>?</h1>
            </div>
            <div class='modalContent'>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="color:black;text-align:justify;">
                        Are you sure you would like to cancel your registration for <span class="registerName"></span>? Once cancelled, <span class="registerName"></span> will only have access to the features described in your subscription until the end of the current billing period (<span id="registerEnding"></span>). Once you confirm the cancellation, you will not be able to activate <span class="registerName"></span>'s account until after the current billing period is over.
                        <br><br>
                        <p>Please type "cancel" below and confirm</p><br>
                        <input id="cancelText" oninput="checkCancelText(this)" type="text" name="theTextSubmitted" style="width: 250px;" required/>
                        <input id="registerID" type="hidden" name="registerID" value=""/>
                        <br>
                        <div style="text-align: right;">
                            <input id="submit" name="cancelReg" type="submit" value="Confirm Cancellation" disabled>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    {% include "supervisor/components/settings_subscription_activate_modal.html" %}
    <table class="tableClass">
        <tr class='tableSpacer'>
            <td class="labelClass">Manage Subscription:</td>
            <td class="labelClass2">
                {% if stripeData.status == "active" %}
                    {{stripeData.plan.name}} <br>
                    {{stripeData.settings.extra_users}} Extra Registration(s)
                {% else %}
                    <a href="{% url 'stripe_customer_portal' %}">Click to start new subscription!</a>
                {% endif %}
            </td>
        </tr>
        {% if stripeData.status == "active" %}
            <tr class='tableSpacer'>
                <td class="labelClass">Monthly Amount:</td>
                <td class="labelClass2">${{amount_paid_dollars|floatformat:"2"}}</td>
            </tr>
            <tr class='tableSpacer'>
                <td class="labelClass">Status:</td>
                <td class="labelClass2">{{stripeData.status|title}}</td>
            </tr>
            {% if not stripeData.settings.cancel_at_period_end %}
                <tr class='tableSpacer'>
                    <td class="labelClass">Next Billing Date:</td>
                    <td class="labelClass2">{% if stripeData.settings.next_billing_date and stripeData.settings.next_billing_date != "None" %}{{stripeData.settings.next_billing_date|dateParse|date:"N j, Y"}}{% else %}INSERT NEXT BILLING DATE{% endif %}</td>
                </tr>
            {% else %}
                <tr class='tableSpacer'>
                    <td class="labelClass">Subscription Expires:</td>
                    <td class="labelClass2">{{today.1}}</td>
                </tr>
            {% endif %}
            <tr class='tableSpacer'>
                <td class="labelClass">Active Accounts:</td>
                <td class="labelClass2">( {{active_registrations}} / {{stripeData.settings.extra_users|add:"2"}} ) <a id="seeAll" href=# onclick="seeEmployees()" style="text-decoration: underline;">see all</a></td>
            </tr>
            {% if not stripeData.settings.cancel_at_period_end %}
                <tr id="employeesCont" class='tableSpacer' style="display:none;">
                    <td colspan=2 class="labelClass2" style="text-align:left; padding-left:60px;">
                        {% for employee in listOfEmployees %}
                            <p style="{% if not employee.user.is_active %}color:gray;{% endif %}">
                                {{ forloop.counter }}) {{ employee.user.first_name }} {{ employee.user.last_name }} - {{ employee.position|title }}/
                                {% if employee.settings.position == "supervisor-m" %}
                                    Active
                                {% else %}
                                    {% if employee.user.is_active %}
                                        Active 
                                        {% if employee.user.id != accountData.user.id %}
                                            <span id="cancelButton" onclick="triggerButton(this); registerCancel(this)" data-name="{{employee.user.first_name}} {{employee.user.last_name}}" data-ending="{{stripeData.settings.next_billing_date}}" data-regid="{{employee.id}}" style="text-decoration: underline; cursor: pointer;">
                                                (cancel)
                                            </span>
                                        {% endif %}
                                    {% elif not employee.user.is_active %}
                                        {% if reactivationQuery|length > 0 %}
                                            {% for activateUser in reactivationQuery %}
                                                {% if activateUser.user == employee.user %}
                                                    Pending
                                                    {% if employee.user.id != accountData.user.id %}
                                                        <span id="cancelButton" onclick="triggerButton(this); registerCancel(this)" data-name="{{employee.user.first_name}} {{employee.user.last_name}}" data-ending="{{stripeData.settings.next_billing_date}}" data-regid="{{employee.id}}" style="text-decoration: underline; cursor: pointer;">
                                                            (cancel)
                                                        </span>
                                                    {% endif %}
                                                {% else %}
                                                    Inactive
                                                    {% if employee.user.id != accountData.user.id %}
                                                        <span id="cancelButton" onclick="activateModal(this); registerActivate(this)" data-name="{{employee.user.first_name}} {{employee.user.last_name}}" data-ending="{{stripeData.settings.next_billing_date}}" data-regid="{{employee.id}}" style="text-decoration: underline; cursor: pointer;" data-secondid="activateModal">
                                                            (activate)
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}    
                                        {% else %}
                                            Inactive
                                            {% if employee.user.id != accountData.user.id %}
                                                <span id="cancelButton" onclick="activateModal(this); registerActivate(this)" data-name="{{employee.user.first_name}} {{employee.user.last_name}}" data-ending="{{stripeData.settings.next_billing_date}}" data-regid="{{employee.id}}" style="text-decoration: underline; cursor: pointer;" data-secondid="activateModal">
                                                    (activate)
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr id="employeesCont" class='tableSpacer' style="display:none;">
                    <td colspan=2 class="labelClass2" style="text-align:left; padding-left:60px;">
                        {% for employee in listOfEmployees %}
                            <p style="{% if not employee.user.is_active %}color:gray;{% endif %}">
                                {{ forloop.counter }}) {{ employee.user.first_name }} {{ employee.user.last_name }} - {{ employee.position|title }}/
                                Active 
                                {% if employee.user.id != accountData.user.id %}
                                    <a id="cancelButton" href=# onclick="triggerButton(this); registerCancel(this)" data-name="{{employee.user.first_name}} {{employee.user.last_name}}" data-ending="{{stripeData.settings.next_billing_date}}" data-regid="{{employee.id}}" style="text-decoration: underline;">
                                        (cancel)
                                    </a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr class='tableSpacer'>
            <td colspan="2" class="labelClass"><hr></td>
        </tr>
        <tr class='tableSpacer'>
            <th colspan=2 class='' style="width: 30%;">Subscription Options</th>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass" colspan=2 style="text-align: center;">
                {% if stripeData.status == "active" %}
                    <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">
                        Change Subscription
                    </a><br>
                {% endif %}
                {% if stripeData.status == "active" and stripeData.settings.cancel_at_period_end  %}
                    <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">
                        Reactivate/Continue Subscription
                    </a><br>
                {% endif %}
                <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">
                    See Billing History
                </a><br>
                {% if stripeData.status == "active" %}
                    <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">
                        Cancel Subscription
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr class='tableSpacer'>
            <td colspan="2" class="labelClass"><hr></td>
        </tr>
        <tr class='tableSpacer'>
            <th colspan=2 class='' style="width: 30%;">Card Options</th>
        </tr>
        <tr class='tableSpacer'>
            <td class="labelClass2" style="text-align: center;" colspan=2>
                <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">Update Billing Address</a><br>
                <a href="{% url 'stripe_customer_portal' %}" style="text-decoration: underline;">Add/Change Payment Method</a><br>
            </td>
        </tr>
    </table>
</div>