{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% load static %}{% block list%}
<script defer src="{% static 'ees_forms/script/accountSettings.js' %}"></script>
<link href="{% static 'ees_forms/style/contacts.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/accountSettings.css' %}" rel="stylesheet">
<div style='margin:auto; width: 42rem;'>
    <div class="card" style='margin-bottom: 50px;'>
        <div class="cardHeader methodPlusBlue">
            {% include "shared/components/backArrow.html" with destination="dashboard"%}
            Account Settings
        </div>
        <div style="padding: 15px 32px;">
            <div class="tabCont">
                <div id="account" class="settingsTab" onclick='openInformation(this)'>
                    Account Information
                </div>
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_account.html" %}
                </div>
            </div>
            {% if supervisor %}
            <hr>
            <div class="tabCont">
                <div id="company" class="settingsTab" onclick='openInformation(this)'>
                    Company Settings
                </div>
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_company.html" %}
                </div>
            </div>
            <hr>
            <div class="tabCont">
                <div id="subscription" class="settingsTab" onclick='openInformation(this)'>
                    Subscription Settings
                </div>   
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% if accountData.settings.profile.position == "supervisor-m" %}
                        {% include "supervisor/settings/settings_subscription.html" %}
                    {% else %}
                        <p style="width: 81%; margin: auto; text-align: justify;">
                            Subscription settings can only be modified by a <em>Primary Supervisor</em>. 
                            Please contact one to make changes or request a permissions update.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="tabCont">
                <div id="facility2" class="settingsTab" onclick='openInformation(this)'>
                    Facility Settings
                </div>   
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_facility.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}