{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% load static %}{% block list%}
<script defer src="{% static 'ees_forms/script/accountSettings.js' %}"></script>
<link href="{% static 'ees_forms/style/contacts.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/accountSettings.css' %}" rel="stylesheet">
<div style='margin:auto; width: 42rem;'>
    <div class="card" style='margin-bottom: 50px;'>
        <div class="cardHeader methodPlusBlue">
            {% include "shared/components/backArrow.html" with destination="dashboard"%}
            Account Settings
        </div>
        <div style="padding: 15px 32px;">
            <div class="tabCont">
                <div id="account" class="settingsTab" onclick='openInformation(this)'>
                    Account Information
                    <svg id="account_down" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    <svg id="account_up" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
                    </svg>
                </div>
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_account.html" %}
                </div>
            </div>
            {% if supervisor %}
            <hr>
            <div class="tabCont">
                <div id="company" class="settingsTab" onclick='openInformation(this)'>
                    Company Settings
                    <svg id="company_down" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    <svg id="company_up" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
                    </svg>
                </div>
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_company.html" %}
                </div>
            </div>
            <hr>
            <div class="tabCont">
                <div id="subscription" class="settingsTab" onclick='openInformation(this)'>
                    Subscription Settings
                    <svg id="subscription_down" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    <svg id="subscription_up" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
                    </svg>
                </div>   
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% if accountData.settings.profile.position == "supervisor-com" %}
                        {% include "supervisor/settings/settings_subscription.html" %}
                    {% else %}
                        <p style="width: 81%; margin: auto; text-align: justify;">
                            Subscription settings can only be modified by a <em>Primary Supervisor</em>. 
                            Please contact one to make changes or request a permissions update.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <div class="tabCont">
                <div id="facility2" class="settingsTab" onclick='openInformation(this)'>
                    Facility Settings
                    <svg id="facility2_down" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                    <svg id="facility2_up" style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/>
                    </svg>
                </div>   
                <div class="tabInfoCont" style="padding: 20px 0px; height: fit-content;">
                    {% include "supervisor/settings/settings_facility.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}