{% extends unlock|yesno:"ees_forms/layout.html,admin/admin_layout.html" %}
{% block list%}
{% load static %}
    <style>
        #boxc1{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            width: 140px;
            height: 35px;
        }
        #formM_box2{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            width: 60px;
            height: 35px;
        }
        #boxTitle{
            font-size: 30px;
            text-align: center;
        }
        .formM_time_box{
            text-align: center; 
            font-size: 15px; 
        }
    
    </style>

    <script defer src="{% static 'ees_forms/script/formM.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/color_total_averages.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/check_time.js' %}"></script>
    {% if not unlock %}
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
    {% endif %}

    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
    <div>
        <a href="{% if selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}">
            <svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
            </svg>
        </a>
        {% if selector == 'form' %}
        {% else %}
            <a href="../../printIndex/{{formName}}/{{selector}}" target="_blank" style='position: absolute;right: 553px;top: 143px;'>
                <button style='height:25px;'>PRINT</button>
            </a>
        {% endif %}
</div>
    
    <form action="" method=POST>
        {% csrf_token %}
        <div class="card" id="card_fitter">
            <div class="paper_fitter">
                <div style="width:100%; text-align: right;">
                    <a href="../../Monthly/formN/form">
                        Form N - List
                    </a>
                </div>
                <table style="border-collapse: collapse; margin: auto;">
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
           
                    <tr>
                        <th id="boxTitle" colspan="5">Method 9D Observation - (M)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align: center;">Facility Name: EES Coke Battery LLC</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th>
                            Date: {{ form.date }}
                        </th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <tr>
                        <th style="text-decoration: underline; text-align: left;" colspan="3">
                            Observe one unpaved road, one paved road, one pile, and one paring lot per day
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="text-decoration: underline; text-align: left;" colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                
                
                <table style="border-collapse: collapse; margin-left: 1rem; margin-right: 1rem;">
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="5" class="formM_box1">
                            PAVED: {{ form.paved }}&nbsp; &nbsp;&nbsp; &nbsp;Start Time:{{ form.pav_start }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.pav_stop }}
                            <span class="pav_popup_class" id="pav_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.pav_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_4 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.pav_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_8 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.pav_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_12 }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.pav_total }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 35px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="5" class="formM_box1">
                            UNPAVED: {{ form.unpaved }} &nbsp; &nbsp; &nbsp; &nbsp;
                            Start Time:{{ form.unp_start }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.unp_stop }}
                            <span class="unp_popup_class" id="unp_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.unp_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.unp_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.unp_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.unp_total}}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="5" class="formM_box1">
                            PARKING LOT: {{ form.parking }} &nbsp; &nbsp; &nbsp; &nbsp;
                            Start Time:{{ form.par_start }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.par_stop }}
                            <span class="par_popup_class" id="par_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.par_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.par_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.par_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.par_total }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="text-align: center;">
                        <td colspan="6" style="font-size: 25px;">
                            Observer:{{ form.observer }} Certified Date:{{ form.cert_date }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="text-align: center; font-size: 20px;">
                        <td colspan="6">
                            <strong>
                                If 3-minute average opacity > 5%,
                            </strong> <br>
                            notify Enviornmental Engineer and contact Fugitive Dust Supplier for Dust Supression
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="font-size: 20px;">
                        <td>
                            Comments:
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="font-size: 20px;text-align: center;">
                        <td colspan="6">
                            {{ form.comments }}
                        </td>
                    </tr>
                </table>
                {% if admin or client %}{% elif unlock and not search %}
                <br><br><br>
                <input type="submit" value="Submit Form" class="submit_button" />
                {% endif %}
            </div>
        </div>
    </form>  


{% endblock %}