{% extends "ees_forms/layout.html" %} {% block list%} {% load static %}
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formA4.js' %}"></script>
<link href="{% static 'ees_forms/style/formA4.css' %}" rel="stylesheet" />

<body>
    <div id="formName" style="display: hidden" data-form="{{formName}}"></div>
    <div id="paperSize">
        <div>
            <a href="{% if selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}">
              <svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
              </svg>
            </a>
            {% if selector == 'form' %}
            {% else %}
            <a href="../../printIndex/{{formName}}/{{selector}}" target="_blank" style='position: absolute;right: 553px;top: 143px;'>
              <button style='height:25px;'>PRINT</button>
            </a>
            {% endif %}
        </div>
        <div>
            <form action="" method="POST" style="width: fit-content; margin: auto; margin-bottom: 100px">
                {% csrf_token %}
                    <div class="card" id="card_fitter">
                        <div class="paper_fitter" style="padding: 3rem">
                            <table style="border-collapse: collapse; margin: auto">
                                <tr>
                                    <th id="boxTitle" colspan="7" style="text-align: center">
                                        Method 303 Collection Main - Form (A-4)
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="7" style="text-align: center">
                                      Facility Name: EES Coke Battery LLC
                                    </th>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                                <tr>
                                    <th colspan="7">
                                      Inspectors Name: &nbsp; &nbsp;{{ data.observer }} &nbsp; &nbsp;
                                      &nbsp; &nbsp; &nbsp; &nbsp; Date: &nbsp; &nbsp;{{ data.date }}
                                    </th>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                                <tr>
                                    <th colspan="7">
                                      Battery No. 5 &nbsp; &nbsp; &nbsp; Crew: &nbsp; &nbsp; &nbsp;
                                      &nbsp; {{ data.crew }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                      Battery Foreman: &nbsp; &nbsp;{{ data.foreman }}
                                    </th>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                                <tr>
                                    <th colspan="7">
                                      Start Time:{{ data.main_start }} &nbsp; &nbsp; &nbsp; &nbsp;
                                      &nbsp; &nbsp; End Time:{{ data.main_stop }}
                                    </th>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <th colspan="2" style="text-align: right">Colletions Main #1</th>
                                    <th colspan="1" style="text-align: center">{{ data.main_1 }}</th>
                                    <th colspan="2" style="text-align: left">INWC</th>
                                </tr>
                                <tr>
                                    <th colspan="2" style="text-align: right">Colletions Main #2</th>
                                    <th colspan="1" style="text-align: center">{{ data.main_2 }}</th>
                                    <th colspan="2" style="text-align: left">INWC</th>
                                </tr>
                                <tr>
                                    <th colspan="2" style="text-align: right">Colletions Main #3</th>
                                    <th colspan="1" style="text-align: center">{{ data.main_3 }}</th>
                                    <th colspan="2" style="text-align: left">INWC</th>
                                </tr>
                                <tr>
                                    <th colspan="2" style="text-align: right">Colletions Main #4</th>
                                    <th colspan="1" style="text-align: center">{{ data.main_4 }}</th>
                                    <th colspan="2" style="text-align: left">INWC</th>
                                </tr>
                                <tr>
                                    <th colspan="2" style="text-align: right">
                                      Suction Main Pressure
                                    </th>
                                    <th colspan="1" style="text-align: center">
                                      {{ data.suction_main }}
                                    </th>
                                    <th colspan="2" style="text-align: left">
                                      INWC(note: should be a negative value)
                                    </th>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                </tr>
                            </table>

                            <input id="pushSide" type="hidden" value="{}" data-resulttable="" />
                            <table style='border-collapse: collapse; width: 100%;'>
                              {% if existing %}
                                  {% if not leak_JSON %}
                                  {% else %}
                                <tr>
                                    <th colspan="7" class='mainHeader'>
                                      PUSH SIDE COLLECTION MAIN - Leak Observation Detail
                                    </th>
                                </tr>
                                <tr>
                                    <th class='headerMiddle'>
                                      Ovens
                                    </th>
                                    <th class='headerMiddle'>
                                      Time
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Temporarily<br/>sealed
                                    </th>
                                    <th class='headerMiddle'>
                                      By
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Final Repair<br/>Initiated
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Final Repair<br/>Completed
                                    </th>
                                    <th class='headerMiddle'>
                                      By
                                    </th>
                                </tr>
                                {% endif %}
                              {% else %}
                                <tr>
                                  <th colspan="7" class='mainHeader'>
                                    PUSH SIDE COLLECTION MAIN - Leak Observation Detail
                                  </th>
                                </tr>
                                <tr>
                                    <th class='headerMiddle'>
                                      Ovens
                                    </th>
                                    <th class='headerMiddle'>
                                      Time
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Temporarily<br/>sealed
                                    </th>
                                    <th class='headerMiddle'>
                                      By
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Final Repair<br/>Initiated
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                      Time/Date<br/>Final Repair<br/>Completed
                                    </th>
                                    <th class='headerMiddle'>
                                      By
                                    </th>
                                </tr>
                              {% endif %}
                              {% if existing %}
                                  {% if not leak_JSON %}
                                      <tr>
                                          <td colspan="7" id="formE_box1" style='border: 2px solid black;'>
                                              <center style='padding-top: 20px; padding-bottom: 20px;'>
                                                  No Leaks Found During Observation
                                              </center>
                                          </td>
                                      </tr>
                                  {% else %}
                                      {% for item in leak_JSON %}
                                          <tr>
                                            <th class='rowsMiddle'>
                                              {{ data.oven_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.time_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.date_temp_seal_leak_1 }}, {{ data.time_temp_seal_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.temp_seal_by_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.date_init_repair_leak_1 }}, {{ data.time_init_repair_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.date_comp_repair_leak_1 }}{{ data.time_comp_repair_leak_1 }}
                                            </th>
                                            <th class='rowsMiddle'>
                                              {{ data.comp_by_leak_1 }}
                                            </th>
                                          </tr>
                                      {% endfor %}
                                  {% endif %}
                              {% else %}
                                <tbody id="pushSide_tableBody"></tbody>
                              {% endif %}
                                <tr>
                                    <td style="height: 40px"></td>
                                </tr>
                                <tr style="font-size: 20px">
                                    <td>Notes:</td>
                                </tr>
                                <tr style="font-size: 20px; text-align: center">
                                    <td colspan="7">{{ data.notes }}</td>
                                </tr>
                                <tr>
                                    <td style="height: 40px"></td>
                                </tr>
                            </table>
                        {% if admin or client %} {% elif unlock and not search %}
                        <br /><br /><br />
                        <input type="submit" value="Submit Form" class="submit_button" />
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
