{% extends unlock|yesno:"ees_forms/layout.html,admin/admin_layout.html" %}
{% block list%}
{% load static %}

<link href="{% static 'ees_forms/style/formC.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formC.js' %}"></script>
<script defer src="{% static 'ees_forms/script/check_time.js' %}"></script>
<script defer src="{% static 'ees_forms/script/color_total_averages.js' %}"></script>
{% if not unlock %}
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
    {% endif %}
<div id="formName" style="display: hidden;" data-form="{{formName}}"></div>

<div id="paperSize">
    <div>
        {% include "ees_forms/backArrow.html" %}
        {% if selector == 'form' %}
        {% else %}
        <a href="../../printIndex/{{formName}}/{{selector}}" target="_blank" style='position: absolute;right: 553px;top: 143px;'>
            <button style='height:25px;'>PRINT</button>
        </a>
        {% endif %}
    </div>
    <form action="" method="POST" style="margin: auto; width: fit-content; margin-bottom: 100px;">
        {% csrf_token %}
        <div class="card" id="card_fitter">
            <div class="paper_fitter" style="padding: 3rem;">
                <table style="border-collapse: collapse; margin: auto;">
                    <!-- Header Information -->
                    <!-- vvvvvv Header Information vvvvvvvvv -->
                    <tr>
                        <th id="boxTitle" colspan="6" style="text-align: center;">
                            Method 9D Fugitive Dust Inspections - Coal Field - Form (C)
                        </th>
                    </tr>
                    <tr>
                        <th colspan="6" style="text-align: center;">
                            Facility Name: EES Coke Battery LLC
                        </th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th colspan="6" style="text-align: center;">
                            Date: {{ form.date }}
                        </th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <!--   ^^^^^^^^Header Information  ^^^^^^ -->
                    <!--   Header Information -->
                    <tr>
                            <th style="text-decoration: underline; text-align: left;" colspan="3">Observe one vehicle per day traveling on Coal Field Road or in the coal field</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    <tr>
                            <th style="text-decoration: underline; text-align: left;" colspan="2">Observe one coal pile per day</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td style='border-left: 1px black solid; border-top: 1px black solid; padding-left: 6px;'>
                            Truck:
                        </td>
                        <td style="border-top: 1px black solid;">
                            {{ form.truck_sel }}
                        </td>
                        <td colspan="3" style="text-align: center; font-size: 15px; border-top: 1px black solid; border-right: 1px black solid;">
                            Start Time:{{ form.truck_start_time }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.truck_stop_time }}
                            <span class="truck_popup_class" id="truck_timePopup">Please Change Time</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.TRead1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead4 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.TRead5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead8 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.TRead9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.TRead12 }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="boxc1">{{ form.average_t }}</td>
                    </tr>
                    <tr>
                        <td style="height: 35px" > </td>
                    </tr> 
                    <tr>
                        <td style='border-left: 1px black solid; border-top: 1px black solid; padding-left: 6px;'>
                            Coal Storage Area:
                        </td>
                        <td style="border-top: 1px black solid;">
                            {{ form.area_sel }}
                        </td>
                        <td colspan="3" style="text-align: center; font-size: 15px; border-top: 1px black solid; border-right: 1px black solid;">
                            Start Time:{{ form.area_start_time }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.area_stop_time }}
                            <span class="area_popup_class" id="area_timePopup">Please Change Time</span>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.ARead1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead4 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.ARead5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead8 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.ARead9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.ARead12 }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="boxc1">{{ form.average_p }}</td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="4">
                            <div id='areaLabel' onclick='add_areas()'>Area B Coke Storage Area (Click to add)</div>
                        </td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td colspan="5" style='border-left: 1px black solid; border-top: 1px black solid; padding-left: 6px; border-right: 1px black solid;'>
                            <div style="display: inline-flex;">Area B Coke Storage Area: &nbsp; &nbsp; &nbsp; &nbsp;
                            Start Time:{{ form.sto_start_time }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.sto_stop_time }}
                            <p onclick='remove_area()' class='remove_link'>remove</p></div>
                            <span class="storage_popup_class" id="storage_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.storage_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.storage_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.storage_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.storage_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr id="areasGrab" class='area_table'{% if form.sto_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">
                            3-minute Average Opacity (sum of the 12 readings above/12)
                        </td>
                        <td id="boxc1">{{ form.average_storage }}</td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="4">
                            <div id='saltLabel' onclick='add_salts()'>Monthly Salt Pile Inspection (Click to add)</div>
                        </td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td colspan="5" style='border-left: 1px black solid; border-top: 1px black solid; padding-left: 6px; border-right: 1px black solid;'>
                            <div style="display: inline-flex;">Monthly Salt Pile Inspection: &nbsp; &nbsp; &nbsp; &nbsp;
                            Start Time:{{ form.salt_start_time }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.salt_stop_time }}
                            <p onclick='remove_salt()' class='remove_link'>remove</p></div>
                            <span class="storage_popup_class" id="salt_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.salt_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.salt_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.salt_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.salt_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr class='salt_table'{% if form.salt_start_time %}style='display: table-row;'{% else %}{% endif %}>
                        <td colspan="5" style="font-size: 20px; border: 1px solid black;">
                            3-minute Average Opacity (sum of the 12 readings above/12)
                        </td>
                        <td id="boxc1">
                            {{ form.average_salt }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="text-align: center;">
                        <td colspan="6" style="font-size: 25px;">Observer:{{ form.observer }} Certified Date:{{ form.cert_date }}</td>
                    </tr>
                    <tr>
                        <td style="height: 40px"> </td>
                    </tr> 
                    <tr style="text-align: center; font-size: 20px;">
                        <td colspan="6"><strong>If 3-minute average opacity > 5%,</strong> notify Enviornmental Engineer and contact Fugitive Dust Supplier for Dust Supression</td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="font-size: 20px;">
                        <td>Comments:</td>
                    </tr>
                    <tr style="font-size: 20px;text-align: center;">
                        <td colspan="6">{{ form.comments }}</td>
                    </tr>
                </table>
                {% if admin or client %} {% elif unlock and not search %}
                <br><br><br>
                <input type="submit" value="Submit Form" class="submit_button" />
                {% endif %}
            </div>
        </div>
    </form> 
</div>
{% endblock %}