{% extends unlock|yesno:"ees_forms/layout.html,supervisor/sup_layout.html" %}
{% block list%} {% load static %}
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formA4.js' %}"></script>
<link href="{% static 'ees_forms/style/formA4.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden" data-form="{{formName}}"></div>
<div id="paperSize">
    <div class="mainCont">
        <form action="" method="POST" style="width: fit-content; margin: auto; margin-bottom: 100px">
            {% csrf_token %}
                <div class="card" id="card_fitter">
                    {% include "ees_forms/print_button.html" %}
                    <div class="paper_fitter" style="padding: 3rem">
                        {% include "ees_forms/backArrow.html" with destination="dashboard" %}
                        <table style="border-collapse: collapse; margin: auto">
                            <tr>
                                <th id="boxTitle" colspan="7" style="text-align: center">
                                    Method 303 Collection Main - Form (A-4)
                                </th>
                            </tr>
                            <tr>
                                <th colspan="7" style="text-align: center">Facility Name: {{facility}}</th>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;" colspan="7">
                                    <b>Inspectors Name:</b> &nbsp; {{ data.observer }} &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; <b>Date:</b> &nbsp;{{ data.date }}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;" colspan="7">
                                    <b>Battery No.</b> &nbsp;{{options.bat_num}} &nbsp; &nbsp; &nbsp; <b>Crew:</b>
                                    &nbsp; {{ data.crew }} &nbsp;  &nbsp; &nbsp;
                                    <b>Battery Foreman:</b> &nbsp; {{ data.foreman }}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;" colspan="7">
                                    <b>Start Time:</b> &nbsp;{{ data.main_start }} &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; <b>End Time:</b> &nbsp;{{ data.main_stop }}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th colspan="2" style="text-align: right;">Colletions Main #1:</th>
                                <td colspan="1" style="text-align: center; width: 80px;">{{ data.main_1 }}</td>
                                <td colspan="2" style="text-align: left;">INWC</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: right;">Colletions Main #2:</th>
                                <td colspan="1" style="text-align: center;">{{ data.main_2 }}</td>
                                <td colspan="2" style="text-align: left;">INWC</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: right;">Colletions Main #3:</th>
                                <td colspan="1" style="text-align: center;">{{ data.main_3 }}</td>
                                <td colspan="2" style="text-align: left;">INWC</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: right;">Colletions Main #4:</th>
                                <td colspan="1" style="text-align: center;">{{ data.main_4 }}</td>
                                <td colspan="2" style="text-align: left;">INWC</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: right;">
                                    Suction Main Pressure:
                                </th>
                                <td colspan="1" style="text-align: center;">
                                    &nbsp; {{ data.suction_main }}
                                </td>
                                <td colspan="2" style="text-align: left;">
                                    INWC  (note: should be a negative value)
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                        </table>
                        <center {% if selector != 'form' %}hidden="True"{% endif %}>
                            <label for="leaksYN">Leaks?</label>
                            <select name="leaksYN" id="leaksYN" required>
                                <option value="">------</option>
                                <option value="yes"{% if leaks == 'yes' %}selected{% endif %}>Yes</option>
                                <option value="no"{% if leaks == 'no' %}selected{% endif %}>No</option>
                            </select>
                        </center><br>
                        <div hidden='True'>{{data.leak_data}}</div>
                        <table hidden="True" id='leakCont' style='border-collapse: collapse; width: 100%;'>
                            <tbody >
                                <tr>
                                    <th colspan="7" class='mainHeader'>
                                    PUSH SIDE COLLECTION MAIN - Leak Observation Detail
                                    </th>
                                </tr>
                                <tr>
                                    <th class='headerMiddle'>
                                        Ovens
                                    </th>
                                    <th class='headerMiddle'>
                                        Time
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                        Time/Date<br/>Temporarily<br/>sealed
                                    </th>
                                    <th class='headerMiddle'>
                                        By
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                        Time/Date<br/>Final Repair<br/>Initiated
                                    </th>
                                    <th class='headerMiddle' style='width:235px;'>
                                        Time/Date<br/>Final Repair<br/>Completed
                                    </th>
                                    <th class='headerMiddle'>
                                        By
                                    </th>
                                </tr>
                            </tbody>
                            <tbody>
                            {% for item in collect_json %}
                                <tr>
                                    <td class="boxa6" colspan="1">
                                        {{ item.oven }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.time }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.tempSealed }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.repairInit }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.tempSealedBy }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.repairComplete }}
                                    </td>
                                    <td class="boxa6" colspan="1">
                                        {{ item.repairBy }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tbody id="collection_ctableBody" data-numRows="1"></tbody>
                            <tr>
                                <td style="height: 40px"></td>
                            </tr>
                        </table>
                        <table style='border-collapse: collapse; width: 100%;'>
                            <tr style="font-size: 20px">
                                <td>Notes:</td>
                            </tr>
                            <tr style="font-size: 15px; text-align: center; {% if selector != 'form' %}background-color:#eaeaea;{% else %}{% endif %}">
                                <td colspan="7">{{ data.notes }}</td>
                            </tr>
                            <tr>
                                <td style='text-align: center;'>*If no visual emissions were observed please input "NO VE" for Notes*</td>
                            </tr>
                            <tr>
                                <td style="height: 40px"></td>
                            </tr>
                        </table>
                    {% if sup or client %} {% elif unlock and not search %}
                    <br /><br /><br />
                    <input type="submit" value="Submit Form" class="submit_button" />
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
