{% extends unlock|yesno:"ees_forms/layout.html,supervisor/sup_layout.html" %}
{% block list%} {% load static %}
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
<body>
    <div id="formName" style="display: hidden" data-form="{{formName}}"></div>
    <div>
        {% include "ees_forms/backArrow.html" %}
    </div>

    <form class="mainCont" action="" method='POST'>
        {% csrf_token %}
        <div class="card" id="card_fitter">
            {% include "ees_forms/print_button.html" %}
            <div class="paper_fitter">
                <table style="border-collapse: collapse; margin: auto; font-size: 1.3rem;">
                    <tr>
                        <th style="text-align: center;">
                            Facility: {{facility}}
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: right;">
                            Daily Observation - Form (P)
                        </th>
                    </tr>
                    <tr>
                        <th style="height: 15px;"></th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">
                            Outfall 008 - {% if selector != 'form'  %}{% if weekend_day == '5' %}Saturday{% elif weekend_day == '6' %}Sunday{% endif %}{% else %}{{ data.weekend_day }}{% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th style="height: 15px;"></th>
                    </tr>
                    <tr style="">
                        <th style="text-align: center;">
                            Observer: {{ data.observer }}
                        </th>
                    </tr>
                </table>
                <br><br>
                <table style="border-collapse: collapse; margin: auto; font-size: 1.2rem;">
                    <tr>
                        <td style="border: 1px solid black; width: 100px; text-align: center; font-size: .9rem;">
                            Month:<br>{{ data.month }}
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Flow observed at <br>monitoring location?&nbsp; &nbsp;</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have an <br>unnatural turbidity?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have an <br>unnatural color?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have an oil film?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have floating solids?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have foams?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have settleable <br>solids?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have suspended <br>solids?</span>
                        </td>
                        <td class="td_head_style">
                            <span class="span_head_style">Does the observed <br>flow have deposits?</span>
                        </td>
                        <td style="text-align: center; border: 1px solid black; padding-left: .4rem; padding-right: .4rem;">
                            Comments:
                            <h4 style="font-size: .9rem; text-align: center;">(Describe any problems<br> or conditions found <br>during inspections)</h4>
                        </td>
                        <td style="text-align: center; border: 1px solid black; padding-left: .4rem; padding-right: .4rem;">
                            Actions Taken:<br>
                            <h4 style="font-size: .9rem; text-align: center;">(Include date mitigated)</h4>
                        </td>
                    </tr>
                    <tr>
                        <td class="data_rows_water">
                            {{ data.date }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_1 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_2 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_3 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_4 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_5 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_6 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_7 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_8 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.Q_9 }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.comments }}
                        </td>
                        <td class="data_rows_water">
                            {{ data.actions_taken }}
                        </td>
                    </tr>
                </table>
                {% if supervisor or client %} {% elif unlock and not search %}
                <br><br><br>
                <input type="submit" value="Submit Form" class="submit_button" />
                {% endif %}
            </div>
        </div>
    </form>
</body>
{% endblock %}