{% extends "ees_forms/layout.html" %}{% block list%}{% load static %}
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/formG1.js' %}"></script>
    <link href="{% static 'ees_forms/style/formG1.css' %}" rel="stylesheet" />
    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
    <div id="paperSize">    
        <div>
            <a href="{% if client %}{% url 'c_dashboard' %}{% elif admin %}{% url 'admin_dashboard' %}{% elif selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}"><svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card" id="card_fitter">
                <div class="paper_fitter" style="padding: 3rem;">
                    <div id="ptInfo">
                        <div id="ptInfoInner">
                            <div id="newName">
                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th id="boxTitle" colspan="15" style="text-align: center;">
                                        Visible Emission Observation Form - (G-1)<br>
                                        Method 9 Non-Certified Observations<br>
                                        PECS Baghouse Stack
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="15" style="text-align: center;">Facility Name: EES Coke Battery LLC</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td style="height: 25px;" > </td>
                                </tr> 
                            </table>
                                </div>
                            <br><br>
                            <div id="ptInfoInner2">
                             <table style="border-collapse: collapse;">
                                 <tr>
                                     <th style="width: 240px;"></th>
                                     <th style="width: 112px;"></th>
                                     <th style="width: 80px;"></th>
                                     <th style="width: 48px;"></th>
                                     <th style="width: 200px;"></th>
                                     <th style="width: 40px;"></th>
                                     <th style="width: 200px;"></th>
                                     <th style="width: 48px;"></th>
                                     <th style="width: 220px;"></th>
                                 </tr>
                                <tr>
                                    <td id="boxa4" colspan="5" >
                                        ESTABLISHMENT<br>{{ data.estab }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        COUNTY <br>{{ data.county }}
                                    </td>
                                    <td id="boxa4" colspan="2" >
                                        ESTABLISHMENT NO. <br>{{ data.estab_no }}
                                    </td>
                                </tr>
                               <tr>
                                    <td id="boxa4" colspan="5" >
                                        EQUIPMENT LOCATION<br>{{ data.equip_loc }}
                                   </td>
                                    <td id="boxa4" colspan="2" >
                                        DISTRICT <br>{{ data.district }}
                                   </td>
                                    <td id="boxa4" colspan="2" >
                                        DATE <br>{{ data.date }}
                                   </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="1" >
                                        CITY<br>{{ data.city }}
                                     </td>
                                    <td id="boxa4" colspan="6" >
                                        OBSERVER<br>{{ data.observer }}
                                     </td>
                                    <td id="boxa4" colspan="2" >
                                        CERTIFIED DATE<br>{{ data.cert_date }}
                                     </td>
                                </tr>
                                  <tr>
                                    <td id="boxa4" colspan="4" >
                                        PROCESS EQUIPMENT<br>{{ data.process_equip1 }}
                                      </td>
                                    <td id="boxa4" colspan="2" >
                                        OPERATING MODE<br>{{ data.op_mode1 }}</td>
                                    <td id="boxa4" colspan="2" >
                                        BACKGROUND COLOR<br>Start:{{ data.background_color_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.background_color_stop }}
                                      </td>
                                    <td id="boxa4" colspan="1" >
                                        SKY CONDITION<br>{{ data.sky_conditions }}
                                      </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="4" >
                                        PROCESS EQUIPMENT<br>{{ data.process_equip2 }}
                                     </td>
                                    <td id="boxa4" colspan="2">
                                        OPERATING MODE<br>{{ data.op_mode2 }}
                                     </td>
                                    <td id="boxa4" colspan="2" >
                                        WIND SPEED<br>Start:{{ data.wind_speed_start }}mph &nbsp; Stop:{{ data.wind_speed_stop }}mph
                                    </td>
                                    <td id="boxa4" colspan="1">
                                        WIND DIRECTION<br>{{ data.wind_direction }}
                                     </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE EMISSION POINT<br>Start:{{ data.emission_point_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.emission_point_stop }}
                                     </td>
                                    <td id="boxa4" colspan="2" >
                                        AMBIENT TEMP<br>Start:{{ data.ambient_temp_start }}<sup>o</sup> &nbsp; &nbsp; &nbsp; Stop:{{ data.ambient_temp_stop }}<sup>o</sup>
                                     </td>
                                    <td id="boxa4" colspan="1" >
                                        HUMIDITY<br>{{ data.humidity }}%
                                     </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="2" >
                                        HEIGHT ABOVE GROUND LEVEL<br>{{ data.height_above_ground }}ft.
                                     </td>
                                    <td id="boxa4" colspan="4" >
                                        HEIGHT RELATIVE TO OBSERVER<br>{{ data.height_rel_observer }}ft.
                                     </td>
                                     <td id="boxa4" colspan="3" rowspan="7">
                                     </td>
                                </tr>
                                  <tr>
                                    <td id="boxa4" colspan="2" >
                                        DISTANCE FROM OBSERVER<br>{{ data.distance_from }}ft.
                                      </td>
                                    <td id="boxa4" colspan="4" >
                                        DIRECTION FROM OBSERVER<br>{{ data.direction_from }}
                                    </td>
                                </tr>
                                  <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE EMISSIONS<br>Start:{{ data.describe_emissions_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.describe_emissions_stop }}
                                    </td>
                                </tr>
                                  <tr>
                                    <td id="boxa4" colspan="3" >
                                        EMISSIONS COLOR<br>Start:{{ data.emission_color_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.emission_color_stop }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        PLUME TYPE:
                                        {{ data.plume_type }}
                                    </td>
                                </tr>
                                  <tr>
                                    <td id="boxa4" colspan="3" >
                                        WATER DROPLET PRESENT:<br>
                                        {{ data.water_drolet_present }}
                                    </td>
                                    <td id="boxa4" colspan="3" >
                                        IF WATER DROPLET PLUME:<br>
                                        {{ data.water_droplet_plume }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="6" >
                                        POINT IN PLUME WERE OPACITY WAS DETERMINED<br>Start:{{ data.plume_opacity_determined_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.plume_opacity_determined_stop }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td id="boxa4" colspan="6" >
                                        DESCRIBE BACKGROUND<br>Start:{{ data.describe_background_start }} &nbsp; &nbsp; &nbsp; Stop:{{ data.describe_background_stop }}
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <center>
                        Type of Visible Emissions Observation (select once and complete form below): <span id='method9' class='type_buttons'>Method 9</span><span id='nonCert' class='type_buttons'>Non-Certified</span>
                    </center>    
                    <br><br>
                    <div id='pushTravels'>
                        <div id="bothTables">
                            <div>
                                <table id='formG1method9' style="border-collapse: collapse; width: 30rem; display: none;">
                                    <tr>
                                        <th colspan="7" style="text-align: center;">
                                            Method 9 Observation
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="7" style="text-align: left;">
                                           Read for 6 minutes at 15 second intervals DURING PUSHING
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           Pushing - Oven #'s / Times
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                           input
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           blank
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                           input
                                        </th>
                                    </tr><tr>
                                        <th colspan="3" style="text-align: left;">
                                           blank
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                           input
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           blank
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                           input
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="1" style="text-align: left;">
                                           Start Time:
                                        </td>
                                        <td colspan="2" style="text-align: left;">
                                            {{ readings_form.PEC_start }}
                                        </td>
                                        <td colspan="1" style="text-align: left;">
                                           Stop Time:
                                        </td>
                                        <td colspan="2" style="text-align: left;">
                                            {{ readings_form.PEC_stop }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">

                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                           0
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                           15
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                           30
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                           45
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           0
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_1 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_2 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_3 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_4 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           1
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_5 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_6 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_7 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_8 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           2
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_9 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_10 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_11 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_12 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           3
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_13 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_14 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_15 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_16 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           4
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_17 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_18 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_19 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_20 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           5
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_21 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_22 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_23 }}
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_read_24 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" id="formG1_box2">
                                           Average:
                                        </td>
                                        <td colspan="1" id="formG1_box1">
                                            {{ readings_form.PEC_average }}
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <table id='formG1Non' style="border-collapse: collapse; width: 31rem; display: none;">
                                    <tr>
                                        <th colspan="7" style="text-align: center;">
                                            Non-Certified Observation
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <td colspan="9" style="text-align: left;">
                                           One (1) instantaneous observation during pushing.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           Pushing - Oven # and Time:
                                        </th>
                                        <th colspan="4" style="text-align: left;">
                                            {{ readings_form.PEC_push_oven }} - {{ readings_form.PEC_push_time }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           Time of observation:
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                            {{ readings_form.PEC_observe_time }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <th colspan="3" style="text-align: left;">
                                           Visible Emissions Present?
                                        </th>
                                        <th colspan="3" style="text-align: left;">
                                            {{ readings_form.PEC_emissions_present }}
                                        </th>
                                    </tr>
                                    <tr>
                                        <td style="height: 25px;" > </td>
                                    </tr> 
                                    <tr>
                                        <th colspan="7" style="text-align: left;">
                                            If visible emissions are present during during the non-certified 
                                            <br> observation perform method 9B readings for three consecutive 
                                            <br> pushes and document the observation using form G-2.
                                         </th>
                                    </tr> 
                                </table>
                            </div>    
                            <br>
                        </div>
                        <br><br><br><br>
                        <div style="text-align: left;">
                            <br><br><br>
                            <input type="submit" value="Submit Form" class="submit_button">
                        </div>    
                    </div>
                </div>
            </div>
        </form>   
   {% endblock %}