{% load static %}
{% if sideLetter == "om" %}
    {{ omSide_json|json_script:"omSide_json" }}
{% else %}
    {{ lSide_json|json_script:"lSide_json" }}
{% endif %}
<div class="leaks-table-wrapper">
    <div class="methodplus-header" style="background-color: #ffffff; color: black; font-size: 1rem;">Leaks</div>
    <table class="methodplus-table" id="{{sideLetter}}LeaksTable">
        <thead id="{{sideLetter}}LeaksSubHeader">
            <tr class="methodplus-subheader">
                <th>Oven</th>
                <th>Location{% if sideLetter != 'l' %}{% include 'shared/components/helpPack.html' with data="form3LeakLocation" popupCounter=0 %}{% endif %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="{{sideLetter}}LeaksTableBody" {% if exisiting %}data-leaklist="{{sideLetter}}Side_json"{% endif %}>
            {% if not search %}
                <tr id="{{sideLetter}}_leakRow_0">
                    <td style="width: 122px;">
                            <input type="number" id="{{sideLetter}}_oven_0" name="{{sideLetter}}_oven_0" placeholder="Oven #" style="width:90px;" required oninput="check_dampered_inoperable('{{sideLetter}}')">
                    </td>
                    <td>
                        <select id="{{sideLetter}}_zoneSelect_0" name="{{sideLetter}}_location_0" placeholder="Location" multiple required onchange="set_not_observed('{{sideLetter}}'); total_leaking_doors('{{sideLetter}}')">
                            <option value="D">D</option>
                            <option value="C">C</option>
                            <option value="F">F</option>
                            <option value="S">S</option>
                            <option value="B">B</option>
                            <option value="P">P</option>
                            <option value="O">O</option>
                            <option value="MS">MS</option>
                        </select>
                        <script>
                            var selectElem = document.getElementById('{{sideLetter}}_zoneSelect_0');
                            var zoneChoices = new Choices(selectElem, {
                                removeItemButton: true,
                                placeholderValue: 'Location',
                                searchEnabled: false,
                                shouldSort: false,
                                duplicateItemsAllowed: false,
                                itemSelectText: '',
                            });

                            // Save instance on the element for access in fillForm
                            selectElem.choicesInstance = zoneChoices;
                        </script>
                    </td>
                    <td>
                        {% if not search %}
                            <span class="remove-row-btn" onclick="removeLeakRow(this);" data-side="{{sideLetter}}">✖</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {% if sideLetter == 'om' %}
                    {% for row in data.om_leak_json %}
                        <tr id="{{sideLetter}}_leakRow_0">
                            <td style="width: 122px;">
                                {{row.oven}}
                            </td>
                            <td>
                                {{row.location}}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% elif sideLetter == 'l' %}
                    {% for row in data.l_leak_json %}
                        <tr id="{{sideLetter}}_leakRow_0">
                            <td style="width: 122px;">
                                {{row.oven}}
                            </td>
                            <td>
                                {{row.location}}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody>
    </table>

    <div class="no-leaks-message" id="no{{sideLetter}}LeaksMsg" style="display: none; background: #acacac;">
        No Leaks Found
    </div>
    {% if not search %}
        <div class="methodplus-controls">
            <button type="button" class="add-row-btn" onclick="addLeakRow(this)" data-side="{{sideLetter}}">+ Add Row</button>
            <label>
                <input type="checkbox" id="no{{sideLetter}}LeaksCheckbox" onchange="toggleLeaksMode(this); total_leaking_doors('{{sideLetter}}'); set_not_observed('{{sideLetter}}');" data-side="{{sideLetter}}"> No Leaks Found
            </label>
        </div>
    {% endif %}
</div>