{% load static %}
<link href="{% static 'ees_forms/style/helpBoxes.css' %}" rel="stylesheet" />
<div id="help-popup{{popupCounter}}" class="popupCont">
    {% if selector == "packets" %}
        <h5 class="left">HELP: Packets</h5><br>
        <p class="left description">
            Packets are an easy way to put forms into 
            organized groups. These packets can be 
            used to print off groups of "submitted"
            inspection forms. To add a new packet, 
            enter in a new "Packet Name" and click "save". 
            Once saved, you will see a blue bar appear
            with the new packet name. You can drag-and-drop forms from the top into the packets or you can click "add" to
            to advance to the add page. You can click the blue bar to expand the packet
            and see the existing forms within. To the right of the packet you will see
            the settings or delete icons.
        </p>
    {% elif selector == "accountSettings" %}
        <h5 class="left">HELP: Packets</h5><br>
        <p class="left description">
            Packets are an easy way to put forms 
            into organized groups. These packets 
            can be used to print off groups of 
            filled out inspection forms.
        </p>
    {% elif selector == "password" %}
        <h5 class="left">HELP: Password</h5><br>
        <p class="left description">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </p>
    {% elif selector == "customTitleInput" %}
        <h5 class="left">HELP: Custom Title</h5><br>
        <p class="left description">
            Leave this input empty if you would like to use the default title shown.
        </p>
    {% elif selector == "frequencyInput" %}
        <h5 class="left">HELP: Frequency Input</h5><br>
        <p class="left description">
            This input allows you to specify the time interval at which forms 
            should be selected for printing. Based on the selected frequency:
        </p>
        <p>
            <ul>
                <li>Daily: All forms due within each day will be included for that day's selection.</li>
                <li>Weekly: Forms due within the week (Monday to Sunday) will be included for that week's selection.</li>
                <li>Monthly: Forms that are due within the specified month will be included for that month's selection.</li>
                <li>Custom Range: Select a specific date range to include all forms due within that period.</li>
            </ul>
        </p>
        <p>
            The frequency setting ensures that forms are grouped by the chosen 
            interval, making it easier to manage and print the relevant forms 
            for the specified time frame.
        </p>
    {% elif selector == "weeklyStartDayInput" %}
        <h5 class="left">HELP: Weekly Start Day Inpur</h5><br>
        <p class="left description">
            This input allows you to select the starting day of the calendar week for the
            selected packet.
        </p>
    {% endif %}
</div>
