{% load static %}
<link href="{% static 'ees_forms/style/print_button.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/facilityList.css' %}" rel="stylesheet" />
{% if selector == 'form' or selector == 'formL' %}
{% else %}
    <script defer src="{% static 'ees_forms/script/print_modal.js' %}"></script>
    <div style='float: right;'>
        <div id="printButton" onclick="openClose_modal()" class="button-8" role="button" style='height:25px;'>PRINT</div>
    </div>
    <div id="print_modal" style="display: none;">
        {% include "shared/components/print_modal.html" %}
    </div>
{% endif %}