{% extends "admin/sup_layout.html" %}
{% block list%}{% load static %}
<link href="{% static 'ees_forms/login_style.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/register.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/register.js' %}"></script>
<body>
    <input id='access_page' type='hidden' value={{access_page}} />
    {% if access_page == 'form' or access_page == 'facility' or access_page == 'client' or access_page == 'observer'%}
    <div id='card'>
        <div class='tabContainer'>
            <div id='tab1' class='tabs topLeftCont start'>Observer/Supervisor</div>
            <div id='tab2' class='tabs middleCont'>Facility</div>
            <div id='tab3' class='tabs topRightCont'>Client</div>
        </div>
        <div id="login" class='dataCont' style='display: block;'>
            <h1>Register New Observer/Supervisor</h1>
            </br>
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form%}
                    {{ field.label }}:
                    {{ field }}<br><br>
                {% endfor %}
                {{ profile_form.phone.label }}:
                {{ profile_form.phone }}<br><br>
                Work Position:
                <select name="position" oninput="cert_date1()" style="width: 160px;" required id="id_position">
                    <option value="" selected="">---------</option>
                    <option value="observer">Observer</option>
                    <option value="supervisor">Supervisor</option>
                </select><br><br>
                <div id='certDateDiv' style='display: none;'>{{ profile_form.cert_date.label }}:
                {{ profile_form.cert_date }}
                <br><br></div>
                <div id='facilityNameDiv' style='display: none;'>{{ profile_form.facilityChoice.label }}:
                {{ profile_form.facilityChoice }}
                <br><br></div>
                <input type="submit" name="create_user">
            </form>

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor%}
        </div>
        <div id="newFacility" class='dataCont' style='display: none;'>
            <center><h1>Register New Facility</h1></center>
            </br>
            <form method="POST" action="">
                {% csrf_token %}
                <table style="margin: auto; border-collapse: collapse; text-align: left;">
                    <tr>
                        <th colspan="2" class='sectionHeader'>
                            Battery Information/Specifics
                        </th>
                    </tr>
                    <tr>
                        <th class='label'>
                            Facility Name:
                        </th>
                        <td class='answer'>
                            {{data.facility_name}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Facility Address:
                        </th>
                        <td class='answer'>
                            {{data.address}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            City:
                        </th>
                        <td class='answer'>
                            {{data.city}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            District:
                        </th>
                        <td class='answer'>
                            {{data.district}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            State:
                        </th>
                        <td class='answer'>
                            {{data.state}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            County:
                        </th>
                        <td class='answer'>
                            {{data.county}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Establishment Number:
                        </th>
                        <td class='answer'>
                            {{data.estab_num}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Battery Number:
                        </th>
                        <td class='answer'>
                            {{data.bat_num}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                        Equipment Location:
                        </th>
                        <td class='answer'>
                            {{data.equip_location}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                        Total Number of Ovens:
                        </th>
                        <td class='answer'>
                            {{data.total_ovens}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Height of Battery:
                        </th>
                        <td class='answer'>
                            {{data.bat_height}} {{data.bat_height_label}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Battery Main:
                        </th>
                        <td class='answer'>
                            {{data.bat_main}}
                        </td>
                    </tr>
                    <tr>
                        <th class='label'>
                            Lids Per Oven:
                        </th>
                        <td class='answer'>
                            {{data.bat_lids}}
                        </td>
                    </tr>
                </table><br>
                <center><input type="submit" name="create_facility"></center>
            </form>

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor%}
        </div>
        <div id="newClient" class='dataCont' style='display: none;'>
            <h1>Register New Client</h1>
            </br>
            <form method="POST" action="">
                {% csrf_token %}
                Username:
                <input type="text" name="username" placeholder="Username" maxlength="150" autofocus="" required="" id="id_2_username"><br><br>
                Email address:
                <input type="email" name="email" placeholder="E-mail" maxlength="254" id="id_2_email"><br><br>
                Password1:
                <input type="password" name="password1" placeholder="Password" maxlength="16" required="" id="id_2_password1"><br><br>
                Password2:
                <input type="password" name="password2" placeholder="Confirm Password" maxlength="16" required="" id="id_2_password2"><br><br>
                First name:
                <input type="text" name="first_name" placeholder="First Name" maxlength="150" id="id_2_first_name"><br><br>
                Last name:
                <input type="text" name="last_name" placeholder="Last Name" maxlength="150" id="id_2_last_name"><br><br>
                Phone:
                <input type="text" name="phone" style="width: 150px;" placeholder="(123)456-7890" maxlength="75" required="" id="id_2_phone"><br><br>
                Work Position: Client
                <br><br>
                Choose Facility:
                <select name="facilityChoice" id="id_2_facilityChoice" required>
                    <option value="" selected="">---------</option>
                    {% for place in data2 %}
                    <option value="{{place.id}}">{{place.facility_name}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input type="submit" name="create_client">
            </form>

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor%}
        </div>
    </div>
    {% else %}
    <div id='card2'>
        <div id="login" class='dataCont' style='display: block;'>
            <div class='cardHeader' style='display:flex;'>
                <a href="{% url 'Contacts' facility %}">
                    <svg style="color: white; width: 2rem; text-align: left;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg>
                </a>
                <h1 style='margin: auto; padding-right: 30px;'>Edit {{ userInfo.first_name }}'s Profile</h1>
            </div>
            <form method="POST" action="" enctype="multipart/form-data" style='padding:22px;'>
                {% csrf_token %}
                {% if pic %}
                <div style="text-align: center; width: 300px; height: 300px; margin: auto;">
                    <img class="prof_pic_view" style='height:100%;width:100%;' src="../../../media/{{pic}}"/>
                    <br><br>
                </div>
                <br>
                <div>
                    <a style='color:red; font-size:10px;' href={% url 'DeleteProf' facility userProfileInfo.id %}>delete</a>
                </div>
                <br>
                {% else %}
                <div style="text-align: center; ">
                    <svg style='width: 5rem;' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
                    </svg>
                    <br>
                </div>
                {% endif %}
                
                <div class='formCont'>
                    {{ userData2.profile_picture }}<br><br>
                    {{ userData2.phone.label }}: {{ userData2.phone }}<br><br>
                    Work {{ userData2.position.label }}: {{ userData2.position }}<br><br>
                    <div id='certDateDiv' style='display: none;'>
                        {{ userData2.cert_date.label }}: {{ userData2.cert_date }}<br><br>
                    </div>
                    <div id='certs'>
                        Certifications: {{ userData2.certs }}<br>
                        <p>(Separate each certification with a comma ",")</p>
                    </div>
                </div>
                <br>
                <input type="submit" name="edit_user">
            </form>

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor%}
        </div>
    </div>
    {% endif %}
</body>
{% endblock %}