{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
<link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/register.css' %}" rel="stylesheet">
<div class='mainCont' style="max-width:unset;">
    <div class="card">
        <div class='cardHeader methodPlusBlue'>
            {% include "shared/components/backArrow.html" with destination="accountSettings" %}
            Change Password
        </div>
        <div style='padding: 15px 32px;'>
            <form style='width: 31rem; margin: auto;' name="change_pass" method="POST">
                {% csrf_token %}
                <div style="text-align:left;width: 33rem;margin: auto;">
                    <li class="form-line">
                        <div class="label"style="width: 180px;">Old Password</div>
                        <div class="inputCont">
                            <div style="display:block;">
                                <span style="width: 250px;display: inline-block;padding-bottom: 10px;">
                                    <span>
                                        <input class="input" type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="form-line">
                        <div class="label" style="width: 180px;">
                            New Password
                            {% include 'shared/components/helpPack.html' with data="password" popupCounter="0" %}
                        </div>
                        <div class="inputCont">
                            <div style="display:block;">
                                <span style="width: 250px;display: inline-block;padding-bottom: 10px;">
                                    <span>
                                        <input class="input" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="label" style="width: 180px;">Password Confirmation</div>
                        <div class="inputCont">
                            <div style="display:block;">
                                <span style="width: 250px;display: inline-block;padding-bottom: 10px;">
                                    <span>
                                        <input class="input" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                </div>
                <div style="text-align: center;">
                {% include "shared/components/submitButton.html" with label="password" selector="change" %}<br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}