{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list %}{% load static %}
<link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet">
<div class="mainCont" style="width: 600px;">
    <div class="card">
        <div class="cardHeader">
            <h2>Safety Information and Contacts</h2>
        </div>
        <div class="contentCont">
            <h4>Office Staff</h4><br>
            <h5>Enviornmental</h5>
            Brenna Harden - (734)320-5255<br>
            Laura Harris - (920)585-5245
            
            <br><br>
            
            <h5>Bi-Products</h5>
            Shaun Stamps - (248)416-6531
            
            <br><br>
            
            <h5>Boilerhouse #2</h5>
            Chris Abraham - (734)934-5659
            
            <br><br><br><br>
            
            <h4>Battery Staff</h4><br>
            <h5>Crew A</h5>
            Gabe Zajas - (313)450-5026<br>
            Leo - (313)980-4007
            
            <br><br>
            
            <h5>Crew B</h5>
            Matthew Folding - (734)231-8385<br>
            Jon Barley - (313)974-9532
            
            <br><br>
            
            <h5>Crew C</h5>
            Mike Cooper - (313)999-1618<br>
            Brian Zapella - (810)834-6666
            
            <br><br>
            
            <h5>Crew D</h5>
            Gary Rice - (734)309-1275<br>
            Nick Slatinsky - (313)358-5954
            
            <br><br><br>

            <h3>Radio Channels</h3>
            Channel 1 - Coal Field/Trucks<br>
            Channel 2 - Battery<br>
            Channel 3 - Bi-Products<br>
            Channel 4 - Boilerhouse #2
        </div>
    </div>
</div>


{% endblock %}