{% extends unlock|yesno:"ees_forms/layout.html,supervisor/sup_layout.html" %}
{% block list %}{% load static %}
<link href="{% static 'ees_forms/style/searchForms.css' %}" rel="stylesheet">
{% comment %} <link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet"> {% endcomment %}
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}
<div>
    {% include "ees_forms/backArrow.html" %}
</div>
<center>
    <div class="container" style="min-width: 400px; min-height: 500px;">
        {% if facility != 'supervisor' %}
        <form action="search_forms/search" method="POST" class='archiveHeader'>
            {% csrf_token %}
            <input class='searchInput' type='search' placeholder="Type Search Here" name="searched" required="True">
            <button type="submit" class='searchButton'>Search</button>
        </form>
        {% else %}
        NO FACILITY SELECTED
        {% endif %}
    </div>
</center>

{% endblock %}