{% extends unlock|yesno:"ees_forms/layout.html,admin/admin_layout.html" %}
{% block list %}{% load static %}
<link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
<div>
    {% include "ees_forms/backArrow.html" %}
</div>
<center>
    <div class="card" style="min-width: 400px; min-height: 500px;">
        <form action="search_forms/search" method="POST" style="padding: 2rem; ">
            {% csrf_token %}
            <input type='search' placeholder="Search Forms" name="searched" required="True">
            <button type="submit" >Search</button>
        </form>
    </div>
</center>

{% endblock %}