{% extends "admin/admin_layout.html" %}

{% block list%}
{% load static %}

    <head>
       <link href="{% static 'ees_forms/login_style.css' %}" rel="stylesheet">
    </head>
    <div id="login">
    </br>
        <h1>Register New Observer</h1>
    </br>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form%}
                {{ field.label }}:
                {{ field }}<br><br>
            {% endfor %}
            {{ profile_form.cert_date.label }}:
            {{ profile_form.cert_date }}<br>
            {{ profile_form.phone.label }}:
            {{ profile_form.phone }}<br>
            Work {{ profile_form.position.label }}:
            {{ profile_form.position }}
            <br><br>
            <input type="submit" name="create_user">
        </form>

        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor%}
    </div>
{% endblock %}