{% extends "supervisor/sup_layout.html" %}{% block list%}{% load static %}
<div class="mainCont">
    <div class="card">
        <div class="cardHeader">
            {% include "ees_forms/backArrow.html" with destination="calendar"%}
            Create New Event
        </div>
        <div class="contentCont">
            <form action="" method="POST">
                {% csrf_token %}
                Observer:<select name="observer" id="observers">
                    <option value="">-----</option>
                    {% for observer in listOfObservers %}
                        <option value="{{observer.user.last_name}}">{{observer.user.last_name}}</option>
                    {% endfor %}
                </select><br><br>
                {% comment %} Observer: {{ form.observer }}<br> {% endcomment %}
                Title/Task: {{ form.title }}<br>
                <br>
                Date: {{ form.date }}<br>
                <br>
                Starting Time: {{ form.start_time }}<br>
                Final Time: {{ form.end_time }}<br>
                <br>
                Description: <br>
                {{ form.notes }}<br>
                <input type="submit" value="Request">
            </form>
        </div>
    </div>
</div>




{% endblock %}