{% extends context.parent_template %}

{% block list%}
{% load static %}
<a href="../../schedule/{{today_year}}/{{today_month}}">Back To Calendar</a>
<center>
    {% if access_page == 'view' %}
    <div style="padding-top: 30px;">
        <div style="padding-top: 25px; padding-bottom: 25px; margin: auto;" class="eventAdd">
            <h3>View Event Details</h3><br>
            
            Observer: {{ my_event.observer }}<br>
            Title: {{ my_event.title }}<br>
            Date: {{ my_event.date }}<br>
            Description: {{ my_event.notes }}<br>
            <br>
            <div>
                <a href="../../event_detail/{{ event_id }}/edit">Edit</a>
            </div>
        </div>
    </div>
    {% elif access_page == 'edit' %}
    <div style="padding-top: 30px;">
        <div style="padding-top: 25px; padding-bottom: 25px; margin: auto; text-align: left" class="eventAdd">
            <form action="" method="POST">
                {% csrf_token %}
            <center>
            <h3>Edit Event Details</h3><br>
            
            Observer: {{ my_event.observer }}<br><br>
            Title: {{ my_event.title }}<br><br>
            Date: {{ my_event.date }}<br><br>
            Start: {{ my_event.start_time }}<br><br>
            End: {{ my_event.end_time }}<br><br>
                
            Description:<br> {{ my_event.notes }}<br>
            <br>
             <input type="submit" value="Save">
            </center>  
                </form>
            <div>
                <a href="../../event_detail/{{ event_id }}/view">Back</a>
            </div>
        </div>
    </div>
    {% endif %}
</center>



{% endblock %}