{% extends "ees_forms/layout.html" %}{% block list%}{% load static %}

<link href="{% static 'ees_forms/login_style.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet">

<body>
    <div class="mainCont" style="margin-top:6rem; width: 29rem;">
        <div class="card">
            <div class="cardHeader">Select Client/Facility</div>
            <div class="contentCont">
                <form method="POST" action="">
                    {% csrf_token %}
                    Facility: <select id='facility_id' name='facility'>
                        <option value=''>-------</option>
                        {% for option in options %}
                        <option value="{{option.facility_name}}">{{option.facility_name}}</option>
                        {% endfor %}
                    </select><br><br><br>

                    <input type="submit" name="submit_bat_info">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}