.topSection{
    /* padding: 2rem 17rem; */
    /* max-height: 28rem; */
    height: 27rem;
}
.cover{
    width: 64rem;
    margin: auto;
}
/* #cover1{
    display:flex;
}
#cover2{
    display:flex;
}
#cover3{
    display:flex;
} */
.coverMedia{
    /* width: 145rem; */
}
.coverTitle{
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 7rem;
}
.coverBody{
    margin-top: 41px;
    font-family: sans-serif;
    text-align: justify;
    font-weight: 400;
    color: #334143;
}
.unselectedDot{
    position: relative;
    background-color: #c1d5da;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    border-radius: 20px;
}
.selectedDot{
    position: relative;
    background-color: #29333691;
    height: 20px;
    width: 20px;
    margin-right: 7px;
    border-radius: 20px;
}
.dotHolder{
    display: flex;
    padding-top: 5rem;
    justify-content: center;
}
.perkCont{
    width: 15rem;
    margin: 0px auto;
}
.perkHeader{
    font-size: 22px;
    font-weight: bolder;
}
.perkPara{
    font-size: 13px;
    font-weight: 100;
}
.categ1{
    font-weight: bolder;
    font-size: 29px;
    padding: 6rem 0px 0px 0px;
}
.icons{
    width:105px;
    margin: 2rem 0px;
}
.button{
    margin: auto;
    width: 8rem;
    padding: 11px 0px;
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    color: #39739d;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.buttonShadow{
    margin: auto;
    /* width: 210px;
    border-radius: 6px;
    box-shadow: #0000006b 1px 2px 3px 0px;
    position: relative;
    left: 50%;
    margin-left: -105px;
    top: 36px; */
}
.sectionA{
    box-shadow: #0000004f -1px 19px 14px -20px;
    background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
    width: 43rem;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 14px;
    font-size: 30px;
    text-align: center;
  }