body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea;
    color: #333;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.footerFont{
    font-family: 'Arial', sans-serif;
}
main {
    width: 100%;
    min-height: 50vh;
}
header {
    color: #fff;
    padding: 14px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: background-color 0.3s;
}
.container {
    /* max-width: 960px; */
    margin: 0 auto;
    padding: 0 20px;
}
.minWidth{
    min-width: 360px;
}
.footerContent{
    width: 100%;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
}
.footerTiles{
    width: 21%;
}
.footerTiles a{
    color: white;
    text-decoration: none;
}
.footerTiles li{
    display: block;
}