{% extends 'admin/components/admin_layout.html' %}{% load static %}
{% block body %}
<div>
    <div>Add FAQ</div>
    <form name="FAQ" method="POST" action="" style="padding:2rem;">
        {% csrf_token %}
        Section:<br>
        <select name="section">
            <option value="">------</option>
            <option value="About MethodPlus+">About MethodPlus+</option>
            <option value="All About Forms">All About Forms</option>
            <option value="Subscriptions and Plans">Subscriptions and Plans</option>
            <option value="MethodPlus+ Privacy">MethodPlus+ Privacy</option>
            <option value="Downloading Your Data">Downloading Your Data</option>
            <option value="For Best Results">For Best Results</option>
        </select><br><br>
        Question:<br>
        <textarea name="question" id="question" placeholder="Enter answer here..."></textarea><br><br>
        Answer:<br>
        <textarea name="answer" id="answer" placeholder="Enter answer here..."></textarea><br><br>
        {% include 'shared/components/submitButton.html' with label="Submit" %}
    </form>
</div>
{% endblock %}