

{% for keys, cats in freq.settings.settings.items %}
{% if keys|slice:":4" == 'area' %}
    <tr>
        <td style='border-left: 1px black solid; border-top: 1px black solid; padding-left: 6px;'>
            {{cats}}:
        </td>
        <td style="border-top: 1px black solid;">
            {{ form.truck_sel }}
        </td>
        <td colspan="3" style="text-align: center; font-size: 15px; border-top: 1px black solid; border-right: 1px black solid;">
            Start Time:{{ form.truck_start_time }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End Time:{{ form.truck_stop_time }}
            <span class="truck_popup_class" id="truck_timePopup">Please Change Time</span>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td id="boxc1">MIN/SEC</td>
        <td id="boxc1">0</td>
        <td id="boxc1">15</td>
        <td id="boxc1">30</td>
        <td id="boxc1">45</td>
    </tr>
    <tr>
        <td id="boxc1">0</td>
        <td id="boxc1">
            {{ read.TRead1 }}
        </td>
        <td id="boxc1">
            {{ read.TRead2 }}
        </td>
        <td id="boxc1">
            {{ read.TRead3 }}
        </td>
        <td id="boxc1">
            {{ read.TRead4 }}
        </td>
    </tr>
    <tr>
        <td id="boxc1">1</td>
        <td id="boxc1">
            {{ read.TRead5 }}
        </td>
        <td id="boxc1">
            {{ read.TRead6 }}
        </td>
        <td id="boxc1">
            {{ read.TRead7 }}
        </td>
        <td id="boxc1">
            {{ read.TRead8 }}
        </td>
    </tr>
    <tr>
        <td id="boxc1">2</td>
        <td id="boxc1">
            {{ read.TRead9 }}
        </td>
        <td id="boxc1">
            {{ read.TRead10 }}
        </td>
        <td id="boxc1">
            {{ read.TRead11 }}
        </td>
        <td id="boxc1">
            {{ read.TRead12 }}
        </td>
    </tr>
    <tr>
        <td colspan="5" style="font-size: 20px; border: 1px solid black;">3-minute Average Opacity (sum of the 12 readings above/12) </td>
        <td id="boxc1">{{ form.average_t }}</td>
    </tr>
    <tr>
        <td style="height: 35px" > </td>
    </tr> 
{% endif %}
{% endfor %}













