{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
<style>
    #boxc1{
        align-content: center;
        text-align: center;
        border: 1px solid black;
        width: 140px;
        height: 35px;
    }
    #formM_box2{
        align-content: center;
        text-align: center;
        border: 1px solid black;
        width: 60px;
        height: 35px;
    }
    #boxTitle{
        font-size: 30px;
        text-align: center;
    }
    .formM_time_box{
        text-align: center; 
        font-size: 15px; 
    }
    .opacityLabel{
        font-size: 15px;
        text-align: right;
        border: 1px solid black;
        padding-right: 13px;
    }
    .bold{
        font-weight: bold;
    }
</style>
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/formM.css' %}" rel="stylesheet" />
<script defer src="{% static 'ees_forms/script/formM.js' %}"></script>
<script defer src="{% static 'ees_forms/script/3minAutoFil.js' %}"></script>
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/color_total_averages.js' %}"></script>
<script defer src="{% static 'ees_forms/script/check_time.js' %}"></script>
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
<form action="" method=POST>
    <div class="mainCont">
        {% csrf_token %}
        <div class="card" id="card_fitter">
            {% include "shared/components/print_button.html" with formGroup=freq %}
            <div class="paper_fitter" style="padding: 3rem;">
                {% include "shared/components/backArrow.html" with destination="form" %}
                <div style="width:100%; text-align: right;">
                    
                    <a href="{% if search %}../../Monthly/formN/{{THEmonth}}{% elif unlock and not search %}../../Monthly/formN/form{% endif %}">
                        Form N - List
                    </a>
                </div>
                <table style="border-collapse: collapse; margin: auto;">
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
        
                    <tr>
                        <th id="boxTitle" colspan="5">Method 9D Observation - (M)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align: center;">Facility Name: {{facility}}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <tr>
                        <th>
                            Date: {{ form.date }}
                        </th>
                    </tr>
                    <tr>
                        <td style="height: 25px" > </td>
                    </tr> 
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <!------Header Information------_________________________---------______________________---------------------------_________-------------->
                    <tr>
                        <th style="text-decoration: underline; text-align: left;" colspan="3">
                            Observe one unpaved road, one paved road, one pile, and one paring lot per day
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="text-decoration: underline; text-align: left;" colspan="2"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                <table style="border-collapse: collapse; margin-left: 1rem; margin-right: 1rem; font-size: 15px;">
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="3" class="formM_box5">
                            <span class="bold">PAVED: </span>
                            {% if existing %} 
                                {% if selector == "form" %}
                                    {{ form.paved }}
                                {% else %}
                                    {% for pair in paved_roads %}
                                        {% if pair.0 == form.paved %}
                                            {{ pair.1 }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{form.paved}}
                            {% endif %}
                        </td>
                        <td colspan="3" class="formM_box1">
                            <span class="bold">Start Time: </span>{{ form.pav_start }} &nbsp; &nbsp; <span class="bold">End Time: </span>{{ form.pav_stop }}
                            <span class="pav_popup_class" id="pav_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.pav_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_4 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.pav_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_8 }}
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.pav_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.pav_12 }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="opacityLabel">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.pav_total }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 35px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="3" class="formM_box5">
                            <span class="bold">UNPAVED: </span>
                            {% if existing %}
                                {% if selector == "form" %}
                                    {{ form.unpaved }}
                                {% else %}
                                    {% for pair in unpaved_roads %}
                                        {% if pair.0 == form.unpaved %}
                                            {{ pair.1 }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{form.unpaved}}
                            {% endif %} 
                        </td>
                        <td colspan="3" class="formM_box1">
                            <span class="bold">Start Time: </span>{{ form.unp_start }} &nbsp; &nbsp; <span class="bold">End Time: </span>{{ form.unp_stop }}
                            <span class="unp_popup_class" id="unp_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.unp_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.unp_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.unp_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.unp_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="opacityLabel">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.unp_total}}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr>
                        <td colspan="3" class="formM_box5">
                            <span class="bold">PARKING LOT: </span>
                            {% if existing %} 
                                {% if selector == "form" %}
                                    {{ form.parking }}
                                {% else %}
                                    {% for pair in parking_lots %}
                                        {% if pair.0 == form.parking %}
                                            {{ pair.1 }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                {{form.parking}}
                            {% endif %} 
                        </td>
                        <td colspan="3" class="formM_box1">
                            <span class="bold">Start Time: </span>{{ form.par_start }} &nbsp; &nbsp; <span class="bold">End Time: </span>{{ form.par_stop }}
                            <span class="par_popup_class" id="par_timePopup">Please Change Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td id="boxc1">MIN/SEC</td>
                        <td id="boxc1">0</td>
                        <td id="boxc1">15</td>
                        <td id="boxc1">30</td>
                        <td id="boxc1">45</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">0</td>
                        <td id="boxc1">
                            {{ read.par_1 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_2 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_3 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_4 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">1</td>
                        <td id="boxc1">
                            {{ read.par_5 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_6 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_7 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_8 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td id="boxc1">2</td>
                        <td id="boxc1">
                            {{ read.par_9 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_10 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_11 }}
                        </td>
                        <td id="boxc1">
                            {{ read.par_12 }}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="opacityLabel">3-minute Average Opacity (sum of the 12 readings above/12) </td>
                        <td id="formM_box2">
                            {{ read.par_total }}
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="text-align: center;">
                        <td colspan="6" style="font-size: 17px; font-weight: bold;">
                            Observer: <span style="font-weight: normal;">{{ form.observer }}</span> &nbsp;&nbsp;&nbsp;Certified Date: <span style="font-weight: normal;">{{ form.cert_date }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="text-align: center; font-size: 17px;">
                        <td colspan="6">
                            <strong>
                                If 3-minute average opacity > 5%,
                            </strong> <br>
                            Notify environmental engineer and contact Fugitive Dust Supplier for Dust Supression
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px" > </td>
                    </tr> 
                    <tr style="font-size: 17px;">
                        <td>
                            Comments:
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="font-size: 20px;text-align: center;">
                        <td colspan="6">
                            {{ form.comments }}
                        </td>
                    </tr>
                </table>
                {% if supervisor or client %}{% elif unlock and not search %}
                {% include "shared/components/submitButton.html" with label="form" %}
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
</form>  


{% endblock %}