{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
<link href="{% static 'ees_forms/style/formI.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formI.js' %}"></script>
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden" data-form="{{formName}}"></div>
<div class="mainCont">
    <form action="" method="POST" style="margin: auto;">
        {% csrf_token %}
        <div class="card" id="card_fitter">
            {% include "shared/components/print_button.html" with formGroup=freq %}
            <div class="paper_fitter" style="padding: 3rem;">
                {% include "shared/components/backArrow.html" with destination="form" %}
                <table style="border-collapse: collapse; margin: auto;">
                <tr>
                    <th id="boxTitle" colspan="5" style="text-align: center;">
                        {% include "shared/components/formHeader.html" with main="Weekly Water Sample Form"%}
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="3" style="text-align: center;">
                        Facility Name: {{facility}}
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="height: 15px;" ></td>
                </tr>
                <tr>
                    <th colspan="3" style="text-align: center;">
                    Week Of:    
                        {{ empty.week_start }} - {{ empty.week_end }}
                                
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td style="height: 25px;" ></td>
                </tr>
            </table>
                <div id="alltrucks" >
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                            <tr style="height: 50px;">
                                <th id="formI_box1"></th>
                                <th id="formI_box1">Monday</th>
                                <th id="formI_box1">Tuesday</th>
                                <th id="formI_box1">Wednesday</th>
                                <th id="formI_box1">Thursday</th>
                                <th id="formI_box1">Friday</th>
                            </tr>
                            <tr style="height: 50px;">
                                <th id="formI_box1">Sampling Time</th>
                                <td id="formI_box1">{{ empty.time_0 }}</td>
                                <td id="formI_box1">{{ empty.time_1 }}</td>
                                <td id="formI_box1">{{ empty.time_2 }}</td>
                                <td id="formI_box1">{{ empty.time_3 }}</td>
                                <td id="formI_box1">{{ empty.time_4 }}</td>
                            </tr>
                            <tr style="height: 50px;">
                                <th id="formI_box1">
                                    Inspector's<br>
                                    Signature
                                </th>
                                <td id="formI_box1">
                                    
                                        {{ empty.obser_0 }}
                                
                                </td>
                                <td id="formI_box1">
                                    
                                        {{ empty.obser_1 }}
                        
                                </td>
                                <td id="formI_box1">
                                    
                                        {{ empty.obser_2 }}
                                
                                </td>
                                <td id="formI_box1">
                                    
                                        {{ empty.obser_3 }}
                                
                                </td>
                                <td id="formI_box1">
                                    
                                        {{ empty.obser_4 }}
                                
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 10px;" ></td>
                            </tr>
                            <tr>
                                <td style="height: 25px;" ></td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: center;">
                                    *Collect 100 mL each day (Monday - Friday)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% if supervisor or client %}
                {% elif unlock and not search %}
                {% include "shared/components/submitButton.html" with label="form" %}
                {% endif %}
            </div>
        </div>
        <br>
        {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
    </form>
</div>    
{% endblock %}
