{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% load static %}{% load dashboard_tags %}{% load formC_tags %}
{% block extra_head %}
    <link href="{% static 'ees_forms/style/form7.css' %}" rel="stylesheet">
    <link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
    <script defer src="{% static 'ees_forms/script/tempSave_form7.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/formC.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/3minAutoFil.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/check_time.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/color_total_averages.js' %}"></script>
    {% if not unlock %}
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}
{% block list%}
    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>
    <div id="areasFilled" style="display: hidden;" data-areas="{{areaFilled1}}"></div>
    <div id="selector" style="display: hidden;" data-selector="{{selector}}-{{existing}}"></div>
    <div id="tempSave_fsID" style="display: hidden;" data-tempsavefsid="{{fsID}}"></div>
    <div id="paperSize">
        <div class="mainCont">
            <form id="form" action="" method="POST" style="margin: auto; margin-bottom: 100px;">
                {% csrf_token %}
                <div class="card" id="card_fitter">
                    <div class="paper_fitter" style="padding: 3rem;">
                        {% include "shared/components/print_button.html" with formGroup=freq %}
                        {% include "shared/components/backArrow.html" with destination="form" %}
                        <table style="border-collapse: collapse; margin: auto;">
                            <tr>
                                <th id="boxTitle" colspan="6" style="text-align: center;">
                                    {% include "shared/components/formHeader.html" with main="Fugitive Dust Inspection Form"%}
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6" style="text-align: center;">
                                    Facility Name: {{facility}}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6" style="text-align: center;">
                                    Date: {{data.date}}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th style="text-decoration: underline; text-align: left;" colspan="3">
                                    Observe one vehicle per day traveling on Coal Field Road or in the coal field
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th style="text-decoration: underline; text-align: left;" colspan="2">
                                    Observe one coal pile per day
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                {% include "shared/components/stopWatchToggle.html" %}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px"></td>
                            </tr> 
                        </table>
                        {% for keys, cats in freq.settings.settings.items %}
                            {% with sliced_key=keys|slice:'4:' %}
                                {% if keys|slice:":4" == 'area' %}
                                    <section class="areaCont">
                                        <div style="padding: 15px 22px; {% if search %}display:none;{% else %}{% if sliced_key in areaFilled1 %}display:none;{% else %}display:block{% endif %}{% endif %}" id="areaLabel{{sliced_key}}" onclick="add_areas({{sliced_key}})">
                                            {{cats.name}} (Click to add)
                                        </div>
                                        <div id="areaCont{{sliced_key}}" style="display: block;">
                                            <div style="padding: 15px 22px; position: relative;">
                                                <input type="hidden" name="areaUsed_{{sliced_key}}" id="areaUsed_{{sliced_key}}" value="true">
                                                {{cats.name}}: {% get_area_attr data sliced_key "selection" %}
                                                <span style="margin-left: 30px;">
                                                    Start Time: {% get_area_attr data sliced_key "start" %}
                                                </span>
                                                <span style="margin-left: 30px;">
                                                    End Time: {% get_area_attr data sliced_key "stop" %}
                                                </span>
                                                <span class="truck_popup_class" id="area{{sliced_key}}_timePopup">Please Change Time</span>
                                                {% if selector == 'form' %}
                                                    <span style="float: right;" onclick="remove_area({{sliced_key}})" class='remove_link'>remove</span>
                                                {% endif %}
                                            </div>
                                            <div class="areaTableCont">
                                                <table class="areaTable">
                                                    <tr>
                                                        <td id="boxc2" style="font-size:13px;">MIN/SEC</td>
                                                        <td id="boxc1">0</td>
                                                        <td id="boxc1">15</td>
                                                        <td id="boxc1">30</td>
                                                        <td id="boxc1">45</td>
                                                    </tr>
                                                    <tr>
                                                        <td id="boxc2">0</td>
                                                        {% with base="eleven" %}
                                                            {% for i in base|custom_range:"13" %}
                                                                <td id="boxc1">
                                                                    {% get_reading_input data sliced_key i %}
                                                                </td>
                                                                {% if i == 4 %}
                                                                    </tr>
                                                                    <tr>
                                                                        <td id="boxc2">1</td>
                                                                {% elif i == 8 %}
                                                                    </tr>
                                                                    <tr>
                                                                        <td id="boxc2">2</td>
                                                                {% elif i == 12 %}
                                                                    </tr>
                                                                {% endif %} 
                                                            {% endfor %}
                                                        {% endwith %}
                                                    <tr>
                                                        <td colspan="4" class="boxc3">
                                                            3-minute Average Opacity (sum of the 12 readings above/12):
                                                        </td>
                                                        <td id="boxc1">
                                                            {% get_area_attr data sliced_key "average" %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        <table> 
                            <tr>
                                <td style="height: 40px" > </td>
                            </tr> 
                            <tr style="text-align: center;">
                                <td colspan="6" style="font-size: 25px;">
                                    <strong>Observer:</strong> {{ data.observer }}
                                    <strong>Certified Date:</strong> {{ data.cert_date }}
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 40px"> </td>
                            </tr> 
                            <tr style="text-align: center; font-size: 20px;">
                                <td colspan="6"><strong>If 3-minute average opacity > 5%,</strong> notify Enviornmental Engineer and contact Fugitive Dust Supplier for Dust Supression</td>
                            </tr> 
                            <tr>
                                <td style="height: 40px" > </td>
                            </tr> 
                            <tr style="font-size: 20px;">
                                <td colspan=2>Comments:</td>
                            </tr>
                            <tr style="font-size: 20px;text-align: center;">
                                <td colspan="6">
                                    {{ data.comments }}
                                </td>
                            </tr>
                        </table>
                        {% if supervisor or client %} {% elif unlock and not search %}
                        {% include "shared/components/submitButton.html" with label="form" %}
                        {% endif %}
                    </div>
                    {% include "shared/components/stopWatch.html" %}
                </div>
                <br>
                {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
            </form> 
        </div>
    </div>
{% endblock %}