{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
<script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
<script defer src="{% static 'ees_forms/script/formB.js' %}"></script>
<link href="{% static 'ees_forms/style/formB.css' %}" rel="stylesheet" />
<link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
{% if not unlock %}
    <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
{% endif %}

<div id="formName" style="display: hidden" data-form="{{formName}}"></div>
<input id="weather" type="hidden" value="{{weather}}"></div>
<div id="paperSize">
    <div class="mainCont">
        <form action="" method=POST style="margin: auto; margin-bottom: 100px;">
            {% csrf_token %}
            <div id="frequency" hidden="true" data-frequency="{{freq}}"></div>
            <div class="card" id="card_fitter">
                {% include "shared/components/print_button.html" %}
                <div class="paper_fitter" style="padding: 3rem;">
                    {% include "shared/components/backArrow.html" with destination="form" %}
                    <table style="border-collapse: collapse">
                        <tr>
                            <th id="boxTitle" colspan="6">
                                Fugitive Dust Inspection - Form (B)
                            </th>
                        </tr>
                        <tr>
                            <th colspan="6">
                                Facility Name: {{facility}}
                            </th>
                        </tr>
                        <tr>
                            <td style="height: 20px" > </td>
                        </tr> 
                        <tr>
                            <th colspan="6">
                                Week Of:    
                                        {{ data.week_start }} - {{ data.week_end }}
                            </th>
                        </tr>
                        <tr>
                            <td style="height: 40px" ></td>
                        </tr> 
                        <tr>
                            <th></th>
                            <th id="box2">Monday</th>
                            <th id="box2">Tuesday</th>
                            <th id="box2">Wednesday</th>
                            <th id="box2">Thursday</th>
                            <th id="box2">Friday</th>
                        </tr>
                        <tr>
                            <td id="box">Inspectors Initials</td>
                            <td id="box3">{{ data.observer_0 }}</td>
                            <td id="box3">{{ data.observer_1 }}</td>
                            <td id="box3">{{ data.observer_2 }}</td>
                            <td id="box3">{{ data.observer_3 }}</td>
                            <td id="box3">{{ data.observer_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Time</td>
                            <td id="box3">{{ data.time_0 }}</td>
                            <td id="box3">{{ data.time_1 }}</td>
                            <td id="box3">{{ data.time_2 }}</td>
                            <td id="box3">{{ data.time_3 }}</td>
                            <td id="box3">{{ data.time_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Weather Conditions</td>
                            <td id="box3">{{ data.weather_0 }}</td>
                            <td id="box3">{{ data.weather_1 }}</td>
                            <td id="box3">{{ data.weather_2 }}</td>
                            <td id="box3">{{ data.weather_3 }}</td>
                            <td id="box3">{{ data.weather_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Wind Speeds</td>
                            <td id="box3">{{ data.wind_speed_0 }} mph</td>
                            <td id="box3">{{ data.wind_speed_1 }} mph</td>
                            <td id="box3">{{ data.wind_speed_2 }} mph</td>
                            <td id="box3">{{ data.wind_speed_3 }} mph</td>
                            <td id="box3">{{ data.wind_speed_4 }} mph</td>
                        </tr>
                        <tr>
                            <td  id="box2" colspan="6"><strong>Raw Material Storage and Transportation -</strong> 5 days/week March-October, 1 day/week November-February</td>
                        </tr>
                        <tr>
                            <td id="box">Was fugitive dust observed in the raw material storage and transportation area?</td>
                            <td id="box3">{{ data.fugitive_dust_observed_0 }}</td>
                            <td id="box3">{{ data.fugitive_dust_observed_1 }}</td>
                            <td id="box3">{{ data.fugitive_dust_observed_2 }}</td>
                            <td id="box3">{{ data.fugitive_dust_observed_3 }}</td>
                            <td id="box3">{{ data.fugitive_dust_observed_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Has chemical dust supressant been applied to temporary roadways?</td>
                            <td id="box3">{{ data.supressant_applied_0 }}</td>
                            <td id="box3">{{ data.supressant_applied_1 }}</td>
                            <td id="box3">{{ data.supressant_applied_2 }}</td>
                            <td id="box3">{{ data.supressant_applied_3 }}</td>
                            <td id="box3">{{ data.supressant_applied_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Is surpressant being used in the active area of loading and unloading?</td>
                            <td id="box3">{{ data.supressant_active_0 }}</td>
                            <td id="box3">{{ data.supressant_active_1 }}</td>
                            <td id="box3">{{ data.supressant_active_2 }}</td>
                            <td id="box3">{{ data.supressant_active_3 }}</td>
                            <td id="box3">{{ data.supressant_active_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Does the working face of a pile where equipment in removing material exceed 120 linear or horizontal feet across the mouth of the opening?</td>
                            <td id="box3">{{ data.working_face_exceed_0 }}</td>
                            <td id="box3">{{ data.working_face_exceed_1 }}</td>
                            <td id="box3">{{ data.working_face_exceed_2 }}</td>
                            <td id="box3">{{ data.working_face_exceed_3 }}</td>
                            <td id="box3">{{ data.working_face_exceed_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Were any spills near piles or on roadways observed?</td>
                            <td id="box3">{{ data.spills_0 }}</td>
                            <td id="box3">{{ data.spills_1 }}</td>
                            <td id="box3">{{ data.spills_2 }}</td>
                            <td id="box3">{{ data.spills_3 }}</td>
                            <td id="box3">{{ data.spills_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">If <strong>YES</strong> was the material pushed back into pile or removed by vaccum sweeper?</td>
                            <td id="box3">{{ data.pushed_back_0 }}</td>
                            <td id="box3">{{ data.pushed_back_1 }}</td>
                            <td id="box3">{{ data.pushed_back_2 }}</td>
                            <td id="box3">{{ data.pushed_back_3 }}</td>
                            <td id="box3">{{ data.pushed_back_4 }}</td>
                        </tr>
                        <tr>
                            <td  id="box2" colspan="6"><strong>Loading and Unloading of Open Storage Piles -</strong> 5 days/week March-October, 1 day/week November-February</td>
                        </tr>
                        <tr>
                            <td id="box">Was there a coal vessel unloding at the time of the inspection?</td>
                            <td id="box3">{{ data.coal_vessel_0 }}</td>
                            <td id="box3">{{ data.coal_vessel_1 }}</td>
                            <td id="box3">{{ data.coal_vessel_2 }}</td>
                            <td id="box3">{{ data.coal_vessel_3 }}</td>
                            <td id="box3">{{ data.coal_vessel_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">If <strong>YES</strong>, was the coal vessel equipped with water sprays over the entire width of the boom?</td>
                            <td id="box3">{{ data.water_sprays_0 }}</td>
                            <td id="box3">{{ data.water_sprays_1 }}</td>
                            <td id="box3">{{ data.water_sprays_2 }}</td>
                            <td id="box3">{{ data.water_sprays_3 }}</td>
                            <td id="box3">{{ data.water_sprays_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Is the loader bucket lowered to within 12 inches of the pile before being tilted?</td>
                            <td id="box3">{{ data.loader_lowered_0 }}</td>
                            <td id="box3">{{ data.loader_lowered_1 }}</td>
                            <td id="box3">{{ data.loader_lowered_2 }}</td>
                            <td id="box3">{{ data.loader_lowered_3 }}</td>
                            <td id="box3">{{ data.loader_lowered_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Are water sprays at the end of the stacker boom operating if necessary?</td>
                            <td id="box3">{{ data.working_water_sprays_0 }}</td>
                            <td id="box3">{{ data.working_water_sprays_1 }}</td>
                            <td id="box3">{{ data.working_water_sprays_2 }}</td>
                            <td id="box3">{{ data.working_water_sprays_3 }}</td>
                            <td id="box3">{{ data.working_water_sprays_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box2" colspan="6"><strong>Sprayed Storage Piles -</strong> 1 days/week January-December</td>
                        </tr>
                        <tr>
                            <td id="box">Average barrier thickness on storage piles surfaces:</td>
                            <td id="box3">{{ data.barrier_thickness_0 }}</td>
                            <td id="box3">{{ data.barrier_thickness_1 }}</td>
                            <td id="box3">{{ data.barrier_thickness_2 }}</td>
                            <td id="box3">{{ data.barrier_thickness_3 }}</td>
                            <td id="box3">{{ data.barrier_thickness_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">Supressant surface quality:</td>
                            <td id="box3"> 
                                {{ data.surface_quality_0 }}
                            </td>
                            <td id="box3"> 
                                {{ data.surface_quality_1 }}
                            </td>
                            <td id="box3"> 
                                {{ data.surface_quality_2 }}
                            </td>
                            <td id="box3"> 
                                {{ data.surface_quality_3 }}
                            </td>
                            <td id="box3"> 
                                {{ data.surface_quality_4 }}
                            </td>
                        </tr>
                        <tr>
                            <td id="box">Does supressant on piles have a crust to prevent visible emissions?</td>
                            <td id="box3">{{ data.surpressant_crust_0 }}</td>
                            <td id="box3">{{ data.surpressant_crust_1 }}</td>
                            <td id="box3">{{ data.surpressant_crust_2 }}</td>
                            <td id="box3">{{ data.surpressant_crust_3 }}</td>
                            <td id="box3">{{ data.surpressant_crust_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box">If no, when was the additional supressant compound applied?</td>
                            <td id="box3">{{ data.additional_surpressant_0 }}</td>
                            <td id="box3">{{ data.additional_surpressant_1 }}</td>
                            <td id="box3">{{ data.additional_surpressant_2 }}</td>
                            <td id="box3">{{ data.additional_surpressant_3 }}</td>
                            <td id="box3">{{ data.additional_surpressant_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box"><strong>Comments regarding any of the above inspections:</strong></td>
                            <td id="box3">{{ data.comments_0 }}</td>
                            <td id="box3">{{ data.comments_1 }}</td>
                            <td id="box3">{{ data.comments_2 }}</td>
                            <td id="box3">{{ data.comments_3 }}</td>
                            <td id="box3">{{ data.comments_4 }}</td>
                        </tr>
                        <tr>
                            <td id="box2" colspan="6"><strong>Outdoor Conveying Transfer Points -</strong> 1 days/week January-December</td>
                        </tr>
                        <tr>
                            <td id="box">Wharf - General Housekeeping of Area (Good or Needs Housekeeping)? Any Spills?</td>
                            <td id="box3"> 
                                {{ data.wharf_0 }}
                            </td>
                            <td id="box3"> 
                                {{ data.wharf_1 }}
                            </td>
                            <td id="box3"> 
                                {{ data.wharf_2 }}
                            </td>
                            <td id="box3"> 
                                {{ data.wharf_3 }}
                            </td>
                            <td id="box3"> 
                                {{ data.wharf_4 }}
                            </td>
                        </tr>
                        <tr>
                            <td id="box">Breeze - General Housekeeping of Area (Good or Needs Housekeeping)? Any Spills?</td>
                            <td id="box3"> 
                                {{ data.breeze_0 }}
                            </td>
                            <td id="box3"> 
                                {{ data.breeze_1 }}
                            </td>
                            <td id="box3"> 
                                {{ data.breeze_2 }}
                            </td>
                            <td id="box3"> 
                                {{ data.breeze_3 }}
                            </td>
                            <td id="box3"> 
                                {{ data.breeze_4 }}
                            </td>
                        </tr>
                        <tr>
                            <td id="box"><strong>If any of the Outdoor Conveyances need housekeeping, inform Battery Personnel; Record name of person informed, date, and time</strong></td>
                            <td id="box3"></td>
                            <td id="box3"></td>
                            <td id="box3"></td>
                            <td id="box3"></td>
                            <td id="box3"></td>
                        </tr>
                        <tr>
                            <td colspan="6">Clear, Cloudy, Rain, Snow, and/or Excessive Wind.</td>
                        </tr>
                    </table>
                    {% if supervisor or client %} {% elif unlock and not search %}
                    {% include "shared/components/submitButton.html" with label="form" %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}