{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
    <link href="{% static 'ees_forms/style/formA2/formA2.css' %}" rel="stylesheet">
    <link href="{% static 'ees_forms/style/print_button.css' %}" rel="stylesheet" />
    <link href="{% static 'ees_forms/style/primaryForm.css' %}" rel="stylesheet" />
    <script defer src="{% static 'ees_forms/script/tempSave.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/formA2.js' %}"></script>
    <script defer src="{% static 'ees_forms/script/check_time.js' %}"></script>
    {% if not unlock %}
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
    {% endif %}
    {{ BASE_DIR }}
    <div id="formName" style="display: hidden;" data-form="{{formName}}"></div>

    <div id="paperSize">
        <div class="mainCont">
            <form action="" method="POST" style="margin: auto; margin-bottom: 100px;">
                {% csrf_token %}
                <div class="card" id="card_fitter">
                    {% include "shared/components/print_button.html" with formGroup=freq %}
                    <div class="paper_fitter" style="padding: 3rem;">
                        {% include "shared/components/backArrow.html" with destination="form" %}
                        <table style="border-collapse: collapse; margin: auto;">
                            <tr>
                                <th class="boxTitle" colspan="6" style="text-align: center;">
                                    {% include "shared/components/formHeader.html" with main="Visible Emission Observation Form"%}
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6" style="text-align: center;">Facility Name: {{facility}}</th>
                            </tr>
                            <tr>
                                <td style="height: 25px" > </td>
                            </tr> 
                            <tr>
                                <th colspan="6">Inspectors Name:&nbsp; &nbsp;{{ data.observer }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Date:&nbsp; &nbsp;{{ data.date }}
                            </tr>
                            <tr>
                                <th colspan="6">
                                    Battery No. {{ options.bat_num }} &nbsp; &nbsp; &nbsp; 
                                    Total No. Ovens: {{ options.total_ovens }} &nbsp; &nbsp; &nbsp;
                                    Total No. of Inoperable Ovens &nbsp; &nbsp;{{ data.inop_ovens }} <br>
                                    Inoperable Oven Number(s)&nbsp; &nbsp;{{ data.inop_numbs }}
                                </th>
                            </tr>
                            <tr>
                                <th colspan="6">
                                    Crew:
                                    &nbsp; &nbsp;{{ data.crew }}
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                    Battery Foreman:
                                    &nbsp; &nbsp;{{ data.foreman }}
                                </th>
                            </tr>
                            <tr>
                                <td style="height: 25px"></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                  {% include "shared/components/stopWatchToggle.html" %}
                                </td>
                            </tr>
                        </table>
                        {% include 'observer/components/inop_message.html' %}
                        <section class="readings_container">
                            <div class="readings_col" style="margin-right: 6rem;">
                                <div>
                                    Start Time:{{ data.p_start }} 
                                    <span class="push_popup_class" id="p_timePopup">
                                        Please Change End Time
                                    </span>
                                </div>
                                <div>End Time:{{ data.p_stop }}</div>
                                <div hidden='true'>{{ data.p_leak_data }}</div>
                                <table>
                                    <th class="boxa5" style="max-width: 100px;"colspan="3"> PUSH SIDE</th>
                                    <tr>
                                        <td class="boxa6" colspan="1">
                                            Oven
                                        </td>
                                        <td class="boxa6" colspan="1">
                                            Location
                                        </td>
                                        <td class="boxa6" colspan="1">
                                            Zone
                                        </td>
                                    </tr>
                                    {% for item in pSide_json %}
                                        <tr>
                                            <td class="boxa6" colspan="1">
                                                {{ item.oven }}
                                            </td>
                                            <td class="boxa6" colspan="1">
                                                {{ item.location }}
                                            </td>
                                            <td class="boxa6" colspan="1">
                                                {{ item.zone }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tbody id="pushSide_ctableBody" data-numRows="1">
                                    </tbody>
                                </table>
                                <div class="readings_col">
                                    <div>Temp. Blocked</div>
                                    <div>{{ data.p_temp_block_from }} to {{ data.p_temp_block_to}}</div>
                                </div>
                                <div style="text-align: center;">       Push Side Traverse Time:
                                    <br>
                                    {{ data.p_traverse_time_min }}min &nbsp; &nbsp;{{ data.p_traverse_time_sec }}sec 
                                </div>
                            </div>

                            <div class="readings_col">
                                <div>
                                    Start Time:{{ data.c_start }}
                                    <span class="push_popup_class" id="c_timePopup">
                                        Please Change End Time
                                    </span>
                                </div>
                                <div>End Time:{{ data.c_stop }}</div>
                                <div hidden='true'> {{ data.c_leak_data }}</div>
                                <table>
                                    <th class="boxa5" style="max-width: 100px;"colspan="3"> COKE SIDE</th>
                                    <tr>
                                        <td class="boxa6" colspan="1">
                                            Oven
                                        </td>
                                        <td class="boxa6" colspan="1">
                                            Location
                                        </td>
                                        <td class="boxa6" colspan="1">
                                            Zone
                                        </td>
                                    </tr>
                                    {% for item in cSide_json %}
                                        <tr>
                                            <td class="boxa6" colspan="1">
                                                {{ item.oven }}
                                            </td>
                                            <td class="boxa6" colspan="1">
                                                {{ item.location }}
                                            </td>
                                            <td class="boxa6" colspan="1">
                                                {{ item.zone }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tbody id="cokeSide_ctableBody" data-numRows="1"></tbody>
                                </table>
                                <div class="readings_col">
                                    <div>Temp. Blocked</div>
                                    <div>{{ data.c_temp_block_from }} to {{ data.c_temp_block_to}}</div>
                                </div>
                                <div style="text-align: center;">
                                    Coke Side Traverse Time:
                                    <br>
                                    {{ data.c_traverse_time_min }}min &nbsp; &nbsp; {{ data.c_traverse_time_sec }}sec
                                </div>
                            </div>
                        </section>

                        <section>
                            <table style="border-collapse: collapse; margin: auto;">
                                <tr>
                                    <td style="width: 120px; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                                        D = Door
                                    </td>
                                    <td style="width: 400px; text-align: center;">
                                        Total Traverse Time {{ data.total_traverse_time }}sec
                                    </td>
                                    <td></td>
                                </tr>    
                                <tr> 
                                    <td style="border-left: 1px solid black; border-right: 1px solid black;">
                                        C = Chuck Door
                                    </td>
                                    <td style="text-align: center;">
                                        Allowed Traverse Time:
                                    </td>
                                    <td style="border-left: 1px solid black; border-right: 1px solid black; border-top: 1px solid black;">Valid Run?</td>
                                </tr>    
                                <tr>  
                                    <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                                        M = Masonry
                                    </td>
                                    <td style="text-align: center;">
                                        T = 680 + (10 sec x #leaks) = {{ data.allowed_traverse_time }}
                                    </td>
                                    <td style="border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
                                        {{ data.valid_run }}
                                    </td>
                                </tr>
                            </table>    

                            <table style="border-collapse: collapse; margin: auto;">
                                <tr>
                                    <td style="height: 25px" > </td>
                                </tr> 
                                <tr>
                                    <td style="width: 100px;"></td>
                                    <td></td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L<sub>y</sub> X 100
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.leaking_doors }} x 100
                                    </td>
                                    <td></td>
                                    <td style="width: 75px"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: center; margin: auto; width: 133px;">
                                        % Leaking Doors = 
                                    </td>
                                    <td>
                                        ---------------------- = 
                                    </td>
                                    <td>
                                        --------------------------------- = 
                                    </td>
                                    <td>
                                        {{ data.percent_leaking }}%
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp; D<sub>t</sub> - D<sub>i</sub> - D<sub>no</sub>
                                    </td>
                                    <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;170 - {{ data.inop_doors_eq }} - {{ data.doors_not_observed }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="height: 25px" > </td>
                                </tr> 
                                <tr>
                                    <td style="text-align: center; margin: auto; " colspan="6">
                                        Where: L<sub>y</sub> = Leaking Doors Observed, D<sub>i</sub> = Inoperable Oven x 2, and D<sub>no</sub> = Door not observed
                                    </td>
                                </tr> 
                            </table>
                            <div id="noteBox">
                                Notes: <br>
                                {{ data.notes }}
                            </div>
                        </section>
                        {% if supervisor or client %} {% elif unlock and not search %}
                            {% include "shared/components/submitButton.html" with label="form" %}
                        {% endif %}
                    </div>
                    {% include "shared/components/stopWatch.html" %}
                </div>
                <br>
                {% if picker %}{% include 'shared/formIssueData.html' %}{% endif %}
            </form> 
        </div>    
    </div>
{% endblock %}

