{% load static %}{% load dashboard_tags %}
<div>
    {% for form in packet.forms|complete_check:complete %}
        {% if form.0.settings.active %}
            <a href="{% url form.0.formChoice.link form.0.id 'form' %}">
                <div class="card_Form" style="margin-left: 50px;">
                    <h3 class="card_Form_letter">{{form.1}}</h3>
                    <div class="card_Form_title">
                        <h3>{% if form.0.settings.settings.custom_name %}{{form.0.settings.settings.custom_name}}{% else %}{{ form.0.formChoice.title }}{% endif %}</h3>
                        <h4>{{ form.0.formChoice.frequency }}</h4>
                    </div>
                    <h4 class="card_Form_date">{{form.0.subChoice.dueDate}}</h4>       
                </div>      
            </a>
        {% endif %}
    {% empty %}
        <h2 class="card_empty no_forms"> No Forms </h2>
    {% endfor %} 
</div>