{% load static %}
{% if complete == 'false' %}
<div>
    {% for key, form in packet.formList.items %}
        {% for item in facFormList1 %}
            {% if item.id == form.settingsID %}
                {% if item.settings.active == 'true' and not item.subChoice.submitted %}
                    <a href="{{ item.formChoice.frequency }}/{{ item.formChoice.link }}/{{ item.id }}/form">
                        <div class="card_Form" style="margin-left: 50px;">
                            <h3 class="card_Form_letter">
                                {{key}}
                            </h3>
                            <div class="card_Form_title">
                                <h3>
                                    {{ item.formChoice.title }}
                                </h3>
                                <h4>
                                    {{ item.formChoice.frequency }}
                                </h4>
                            </div>
                            <h4 class="card_Form_date">
                                {{item.subChoice.dueDate}}
                            </h4>       
                        </div>      
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% empty %}
                <h2 class="card_empty"> No Forms </h2>
    {% endfor %}
</div>
{% else %}
    {% for key, form in packet.formList.items %}
        {% for item in facFormList1 %}
            {% if item.id == form.settingsID %}
                {% if item.settings.active == 'true' and item.subChoice.submitted %}
                    <a href="{{ item.formChoice.frequency }}/{{ item.formChoice.link }}/{{ item.id }}/form">
                        <div class="card_Form" style="margin-left: 50px;">
                            <h3 class="card_Form_letter">
                                {{key}}
                            </h3>
                            <div class="card_Form_title">
                                <h3>
                                    {{ item.formChoice.title }}
                                </h3>
                                <h4>
                                    {{ item.formChoice.frequency }}
                                </h4>
                            </div>
                            <h4 class="card_Form_date">
                                {{item.subChoice.dueDate}}
                            </h4>       
                        </div>      
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% empty %}
                <h2 class="card_empty"> No Forms </h2>
    {% endfor %}
{% endif %}