{% load static %}
<html>
    <head>
        <link rel="shortcut icon" href="#" />
        <link href="{% static 'ees_forms/style/obs_layout.css' %}" rel="stylesheet">
        <link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
        <link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
        <link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet">
    </head>
    <body class="primaryLightBackground">
        {% include "observer/components/obs_header.html" %}
        
        {% include "observer/components/obs_sideBar.html" %}
        
        <div class="headerSpace"></div>
    
        {% block list %}
        
        {% endblock %} 
    </body>
</html>