{% extends "supervisor/sup_layout.html" %}{% block list%}{% load static %}
<script defer src="{% static 'ees_forms/script/clientDash.js' %}"></script>
<div>
    <div class="grid-dashboard" style="overflow: scroll;">
        <div id="progress" class="card skinny">
            <div class="grid-sliders progress_bars_whole">
                <div class="skillBar progress_bar_div">
                    <p>Daily Progress</p>
                    <div class="container">
                        <div class="skills daily"></div>
                    </div>
                </div>
                <div class="skillBar progress_bar_div">
                    <p>Weekly Progress</p>
                    <div class="container">
                        <div class="skills weekly"></div>
                    </div>
                </div>

                <div class="skillBar progress_bar_div">
                    <p>Monthly Progress</p>
                    <div class="container">
                        <div class="skills monthly"></div>
                    </div>
                </div>

                <!-- <div class="skillBar progress_bar_div">
                    <p>Quarterly Progress</p>
                    <div class="container">
                        <div class="skills quarterly"></div>
                    </div>
                </div> -->

                <div class="skillBar progress_bar_div">
                    <p>Annually Progress</p>
                    <div class="container">
                        <div class="skills annually"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="fromAInfo" class="card longest">
            <div class="card-title">Todays Forms</div>
            <div class="nested">
                <a class="no_link_css" {% if form_enteredA1 %} href="Daily/formA1/{{ date }}" {% else %} {% endif %}>
                    <div class="inner-card">
                        <div class="card-title inner_font">Form A-1 - Charges</div>
                        <div class="dataHold">
                            {% if A1data %}
                            <div class="grid-dataMini2">
                                <p class="miniFont title number">1</p> 
                                <p class="miniFont">Oven #{{ A1data.c1_no }}</p> 
                                <p class="miniFont title">{{ A1data.c1_sec }} sec</p> 

                                <p class="miniFont title number">2</p> 
                                <p class="miniFont title">Oven #{{ A1data.c2_no }}</p> 
                                <p class="miniFont title">{{ A1data.c2_sec }} sec</p> 

                                <p class="miniFont title number">3</p> 
                                <p class="miniFont title">Oven #{{ A1data.c3_no }}</p> 
                                <p class="miniFont title">{{ A1data.c3_sec }} sec</p> 

                                <p class="miniFont title number">4</p> 
                                <p class="miniFont title">Oven #{{ A1data.c4_no }}</p> 
                                <p class="miniFont title">{{ A1data.c4_sec }} sec</p> 

                                <p class="miniFont title number">5</p> 
                                <p class="miniFont title">Oven #{{ A1data.c5_no }}</p> 
                                <p class="miniFont title">{{ A1data.c5_sec }} sec</p> 
                            </div>
                            <br>
                            <div class="dataSingle"> 
                                <p class="dataFont">{{ A1data.total_seconds }} Total Seconds</p> 
                            </div>
                            {% else %}
                            <p class="miniFont" style="text-align:center;">N/A</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
                <a class="no_link_css" {% if form_enteredA2 %} href="Daily/formA2/{{ date }}" {% else %} {% endif %}>
                    <div class="inner-card">
                        <div class="card-title inner_font">Form A-2 - Doors</div>
                        <div class="grid-double">
                            <div class="dataHold2" style="margin-top:0.3rem;">
                                <div class="dataSingle" style="justify-content: left;">
                                    <p class="dataFont" style="font-size:.74rem;">List of Leaking Doors - Push Side</p>
                                </div>
                                <hr>
                                <div class="gridLeaks dataSingle">
                                    <p class="miniFont" style="text-align: center;color: #9f9f9f;">oven:</p>
                                    <p class="miniFont" style="text-align: center;color: #9f9f9f;">location:</p>
                                    <p class="miniFont" style="text-align: center;color: #9f9f9f;">zone:</p>
                                </div>
                                {% if push.data %}
                                    {% for leaks in push.data %}
                                        <div class="gridLeaks">
                                            <p class="dataFont miniFont">#{{ leaks.oven }}</p>
                                            <p class="dataFont miniFont">{{ leaks.location }}</p>
                                            <p class="dataFont miniFont">{{ leaks.zone }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="miniFont" style="text-align:center;">N/A</p>
                                {% endif %}
                            </div>
                            <div class="dataHold2" style="margin-top:0.3rem;">
                                <div class="dataSingle" style="justify-content: left;">
                                    <p class="dataFont" style="font-size:.74rem;">List of Leaking Doors - Push Side</p>
                                </div>
                                <hr>
                                <div class="gridLeaks dataSingle">
                                    <p class="miniFont" style="text-align: center; color: #9f9f9f;">oven:</p>
                                    <p class="miniFont" style="text-align: center; color: #9f9f9f;">location:</p>
                                    <p class="miniFont" style="text-align: center; color: #9f9f9f;">zone:</p>
                                </div>
                                {% if coke.data %}
                                    {% for leaks in coke.data %}
                                        <div class="gridLeaks">
                                            <p class="dataFont miniFont">#{{ leaks.oven }}</p>
                                            <p class="dataFont miniFont">{{ leaks.location }}</p>
                                            <p class="dataFont miniFont">{{ leaks.zone }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="miniFont" style="text-align:center;">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                <a class="no_link_css" {% if form_enteredA3 %} href="Daily/formA3/{{ date }}" {% else %} {% endif %}>
                    <div class="inner-card">
                        <div class="card-title inner_font">Form A-3 - Lids  Standpipes</div>
                        <div class="grid-double">
                            <div class="dataHold2" style="margin-top: 0.3rem;">
                                <div class="dataSingle" style="justify-content: left;">
                                    <p class="dataFont" style="font-size:.74rem;">List of Leaking Lids</p>
                                </div>
                                <hr>
                                <div class="gridLeaks dataSingle">
                                    <p class="miniFont" style="text-align: center;color: #9f9f9f;">oven:</p>
                                    <p class="miniFont" style="text-align: center;color: #9f9f9f;">location:</p>
                                </div>
                                {% if lids.data %}
                                    {% for leaks in lids.data %}
                                        <div class="gridLeaks">
                                            <p class="dataFont miniFont">#{{ leaks.oven }}</p>
                                            {% for where in leaks.location %}
                                                <p class="dataFont miniFont">{{ where }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="miniFont" style="text-align:center;">N/A</p>
                                {% endif %}
                            </div>
                            <div class="dataHold2" style="margin-top: 0.3rem;">
                                <div class="dataSingle" style="justify-content: left;">
                                    <p class="dataFont" style="font-size:.74rem;">List of Leaking Standpipes</p>
                                </div>
                                <hr>
                                <div class="gridLeaks dataSingle">
                                    <p class="miniFont" style="text-align: center; color: #9f9f9f;">oven:</p>
                                    <p class="miniFont" style="text-align: center; color: #9f9f9f;">location:</p>
                                </div>
                                {% if offtakes.data %}
                                    {% for leaks in offtakes.data %}
                                        <div class="gridLeaks">
                                            <p class="dataFont miniFont">#{{ leaks.oven }}</p>
                                            {% for where in leaks.location %}
                                                <p class="dataFont miniFont">{{ where }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="miniFont" style="text-align:center;">N/A</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                <a class="no_link_css" {% if form_enteredA4 %} href="Daily/formA4/{{ date }}" {% else %} {% endif %}>
                    <div class="inner-card">
                        <div class="card-title inner_font">Form A-4 - Collection Main</div>
                        <div class="dataHold">
                            <div class="dataSingle"> 
                                <p class="dataFont">Pressures</p>
                            </div>
                            <hr>
                            <div class="grid-dataMini">
                                <p class="miniFont title">Collection Main #1:</p>
                                <p class="miniFont data">{% if A4data %}{{ A4data.main_1 }}{% else %}
                                    N/A
                                {% endif %}</p>
                            
                                <p class="miniFont title">Collection Main #2:</p>
                                <p class="miniFont data">{% if A4data %}{{ A4data.main_2 }}{% else %}
                                    N/A
                                {% endif %}</p>
                            
                                <p class="miniFont title">Collection Main #3:</p>
                                <p class="miniFont data">{% if A4data %}{{ A4data.main_3 }}{% else %}
                                    N/A
                                {% endif %}</p>
                            
                                <p class="miniFont title">Collection Main #4:</p>
                                <p class="miniFont data">{% if A4data %}{{ A4data.main_4 }}{% else %}
                                    N/A
                                {% endif %}</p>
                            
                                <p class="miniFont title">Suction Main Pressure:</p>
                                <p class="miniFont data">{% if A4data %}{{ A4data.suction_main }}{% else %}
                                    N/A
                                {% endif %}</p>
                            </div>
                            <hr>
                            <div class="dataSingle"> 
                                <p class="dataFont" style="padding-top:.24rem;">
                                    Notes:</br>
                                    {{ A4data.notes }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="no_link_css" {% if form_enteredA5 %} href="Daily/formA5/{{ date }}" {% else %} {% endif %}>
                    <div class="inner-card">
                        <div class="card-title inner_font">Form A-5 - Push Travels</div>
                        <div class="dataHold">
                            <div class="dataSingle"> 
                                <p class="dataFont">Push Travels</p>
                            </div>
                            <hr>
                            {% if A5data %}
                                <div class="grid-dataMini3">
                                    <p class="miniFont title number">1</p> 
                                    <p class="miniFont">Oven #{{ A5data.o1 }}</p> 
                                    <p class="miniFont title">{{ A5data.o1_highest_opacity }}%</p> 

                                    <p class="miniFont title number">2</p> 
                                    <p class="miniFont title">Oven #{{ A5data.o2 }}</p> 
                                    <p class="miniFont title">{{ A5data.o2_highest_opacity }}%</p> 

                                    <p class="miniFont title number">3</p> 
                                    <p class="miniFont title">Oven #{{ A5data.o3 }}</p> 
                                    <p class="miniFont title">{{ A5data.o3_highest_opacity }}%</p> 

                                    <p class="miniFont title number">4</p> 
                                    <p class="miniFont title">Oven #{{ A5data.o4 }}</p> 
                                    <p class="miniFont title">{{ A5data.o4_highest_opacity }}%</p> 
                                </div>
                            {% else %}
                                <p class="miniFont" style="text-align:center;">N/A</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="latestActivity3" class="card halfs">
            <div class="card-title">7 Day - Total Charges Graph</div>
            <div id='canvasHolder'>
                <canvas id="myChart" responsive="true" maintainAspectRatio='false' aria-label="big_chart" role="img" height="130%"></canvas>
            </div>
            <div id='graph-xaxis-data1' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.0.form.date.month }}/{{ recent_logs.0.form.date.day }}
            </div>
            <div id='graph-xaxis-data2' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.1.form.date.month }}/{{ recent_logs.1.form.date.day }}
            </div>
            <div id='graph-xaxis-data3' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.2.form.date.month }}/{{ recent_logs.2.form.date.day }}
            </div>
            <div id='graph-xaxis-data4' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.3.form.date.month }}/{{ recent_logs.3.form.date.day }}
            </div>
            <div id='graph-xaxis-data5' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.4.form.date.month }}/{{ recent_logs.4.form.date.day }}
            </div>
            <div id='graph-xaxis-data6' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.5.form.date.month }}/{{ recent_logs.4.form.date.day }}
            </div>
            <div id='graph-xaxis-data7' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.6.form.date.month }}/{{ recent_logs.4.form.date.day }}
            </div>
            <div id='graph-yaxis-data1' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.0.total_seconds }}
            </div>
            <div id='graph-yaxis-data2' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.1.total_seconds }}
            </div>
            <div id='graph-yaxis-data3' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.2.total_seconds }}
            </div>
            <div id='graph-yaxis-data4' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.3.total_seconds }}
            </div>
            <div id='graph-yaxis-data5' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.4.total_seconds }}
            </div>
            <div id='graph-yaxis-data6' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.5.total_seconds }}
            </div>
            <div id='graph-yaxis-data7' style="height:100%; width:100%;" hidden="true">
                {{ recent_logs.6.total_seconds }}
            </div>
        </div>
        <div id="corrective_actions" class="card quarters">
            <div class="card-title">Latest Issues/Corrective Actions</div>
            <div class="ca_holder">
                <ul>
                {% for x in ca_forms %}
                    <a href="issues_view/{{x.form}}/{{x.date.year}}-{% if x.date.month < 10 %}0{{x.date.month}}{%else%}{{x.date.month}}{% endif %}-{% if x.date.day < 10 %}0{{x.date.day}}{%else%}{{x.date.day}}{% endif %}/issue">
                        <li class="sideAlign" style="{% if not x.viewed %} background-color: #ebee17;{% else %} background-color: white;{% endif %}">
                            <div class="ca_indie">
                                <div style="width: 311px; padding-bottom:0.3rem; padding-left: 0.4rem;">
                                    {{ x.date }} - {{ x.form }}
                                </div>
                                <div style="text-align: left; width: 100%; font-size:.6rem; padding-left: 0.4rem;">
                                    {{ x.issues }}
                                </div>
                            </div>
                        </li>
                    </a>
                {% endfor %}
                </ul>    
            </div>
            <div class="ca_footer">
                <a href="{% url 'Corrective-Action' facility%}">
                    Show all issues
                    <svg style='height:1rem;' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="link_arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
                </a>
            </div>
        </div>
        <div id="battery_weather" class="card quarters">
            <div class="card-title">Todays Battery/Weather Info.</div>
            <div style="overflow: scroll;" class="grid-battery-weather battery_info center bat_weather_class">
                <p class="weather_battery_font">
                    <span>
                        Observer:
                    </span>
                    <br>
                    {{ todays_obser }}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Foreman:
                    </span>
                    <br>
                    {% if todays_log.foreman %}{{ todays_log.foreman }}{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Crew:
                    </span>
                    <br>
                    {% if todays_log.foreman %}{{ todays_log.crew }}{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        City:
                    </span>
                    <br>
                    {% if weather %}{{ weather.city }}{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Temperature:
                    </span>
                    <br>
                    {% if weather %}{{ weather.temperature|floatformat:"0" }}° F{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Description:
                    </span>
                    <br>
                    {% if weather %}{{ weather.description }}{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Wind:
                    </span>
                    <br>
                    {% if weather %}{{ weather.wind_speed|floatformat:"0" }}mph - {{ wind_direction }}{% else %}N/A{% endif %}
                </p>
                <p class="weather_battery_font">
                    <span>
                        Humidity:
                    </span>
                    <br>
                    {% if weather %}{{ weather.humidity|floatformat:"0" }}%{% else %}N/A{% endif %}
                </p>
            </div>
        </div>
        <div id="latestActivity4" class="card custom">
            <div class="card-title">90 Day Push Travel Evaluation</div>
            <div class="myTabs">
                <input type="radio" id="tab_5day" name="myTabs" checked="checked">
                <label for="tab_5day">Due 5 Days</label>
                <div class="tab">
                    <div class='dataPT'>
                    {% for x in od_recent %}
                        <div class='dataStyle'>
                            Oven #{{ x.0 }}
                            Due:&nbsp;&nbsp;{{ x.2 }}<br>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <input type="radio" id="tab_10day" name="myTabs">
                <label for="tab_10day">Due 10 Days</label>
                <div class="tab" style='display:none;'>
                    {% for x in od_10 %}
                    Oven #{{ x.0 }}
                    Due:&nbsp;&nbsp;{{ x.2 }}<br><br>
                    {% endfor %}
                </div>
                <input type="radio" id="tab_30day" name="myTabs">
                <label for="tab_30day">Due 30 Days</label>
                <div class="tab" style='display:none;'>
                    {% for x in od_30 %}
                    Oven #{{ x.0 }}
                    Due:&nbsp;&nbsp;{{ x.2 }}<br><br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="observers" class="card custom2">
            <div class="card-title">Observers</div>
            <div class="grid-observers">
                <div class="grid-observ_header">
                    <p></p>
                    <p class="contactHeader">Name</p>
                    <p class="contactHeader center">Phone</p>
                    <p class="contactHeader center">Email</p>
                    <p class="contactHeader center">Certification Date</p>
                </div>
                {% for person in profile %}
                    <div class="grid-observ_singles">
                        <span class="c_card_circle_oven c_circle_font_color">
                            {% if person.profile_picture %}
                                <img style="width: 40px;border-radius: 25px;" src="../../static/images/profile_pics/TJA.jpg">
                            {% else %}
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg>
                            {% endif %}
                        </span>
                        <p class="contactFont">{{ person.user.first_name }} {{ person.user.last_name }}</p>
                        <p class="contactFont center">{{ person.phone }}</p>
                        <p class="contactFont center">{{ person.user.email }}</p>
                        <p class="contactFont center">{{ person.cert_date }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
