{% extends "supervisor/components/sup_layout.html" %}
{% load static %}
{% block extra_head %}
    <script defer src="{% static 'ees_forms/script/clientDash.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}
{% block list %}
    {% with facilitySettings=request.user.user_profile.settings.facilities|get_category:facility.id %}
        {% if facilitySettings.dashboard == "Battery" %}
            <div class="grid-dashboard">
                <div id="dash-card-progress_bar" class="dash-card card skinny cardPadd progress" data-url="{% url 'card_progress_bar' %}">Loading...</div>
                <div id="dash-card-daily_battery_forms" class="dash-card card longest cardPadd" data-url="{% url 'card_daily_battery_forms' %}">Loading...</div>
                <div id="dash-card-graphs" class="dash-card card halfs cardPadd" data-url="{% url 'card_graphs' %}">Loading...</div>
                <div id="dash-card-corrective_actions" class="dash-card card quarters cardPadd" data-url="{% url 'card_corrective_actions' %}">Loading...</div>
                <div id="dash-card-info" class="dash-card card quarters cardPadd" data-url="{% url 'card_info' %}">Loading...</div>
                <div id="dash-card-90DayPushTravels" class="dash-card card halfs cardPadd" data-url="{% url 'card_90DayPushTravels' %}">Loading...</div>
                <div id="dash-card-contacts" class="dash-card card halfs cardPadd" data-url="{% url 'card_contacts' %}">Loading...</div>
                <div style="grid-column: span 1; width: 10px;"></div>
                <div style="grid-column: span 8; min-height: 6px;"></div>
            </div>
        {% else %}
            Display other Dashboard
        {% endif %}
    {% endwith %}
{% endblock %}
