{% extends "ees_forms/layout.html" %}

{% block list%}
    <style>
        #boxc1{
            align-content: center;
            text-align: center;
            border: 1px solid black;
            min-width: 200px;
            max-width: 200px;
            height: 35px;
        }
        #boxTitle{
            font-size: 30px;
        }
        #formDbox1{
            width: 130px; 
            text-align: right;
            border-left: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formDbox2{
            width: 100px; 
            text-align: center;
            
        }
        #formDbox3{
            width: 130px; 
            text-align: center;
            border-left: 3px solid black;
            border-right: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formCborder{
            width: 125px;
            border-right: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #formCborder2{
            width: 125px;
            border-right: 3px solid black;
            border-left: 3px solid black;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        #alltrucks{
            margin: auto;
            width: fit-content;
            display: flex;
        }
        #formCspace{
            padding: 10px;
        }
    </style>


<div id="paperSize">
    <div>
        <a href="{% if selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}"><svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg></a>
    </div>
    <form action="" method="POST" style="margin: auto; width: fit-content; margin-bottom: 100px;">
        {% csrf_token %}
        <div class="card" id="card_fitter">
            <div class="paper_fitter" style="padding: 3rem;">
                <table style="border-collapse: collapse; margin: auto;">
                    <tr>
                        <th id="boxTitle" colspan="5" style="text-align: center;">
                            Fugiative Dust Inspections - <br>Weekly Random Truck Inspection - Form (D)
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align: center;">
                            Facility Name: EES Coke Battery LLC
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 15px;" ></td>
                    </tr>
                    <tr>
                        <th colspan="3" style="text-align: center;">
                        Week Of:    
                                        {{ empty.week_start }} - {{ empty.week_end }}

                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td style="height: 25px;" ></td>
                    </tr>
                </table>
                <div id="alltrucks">
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                            <tr style="border: 3px solid black;" >
                                <th colspan="2" style="width: 150px; text-align: center;">
                                    Truck #1
                                </th>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    Observer:
                                </th>
                                <td id="formCborder">

                                        {{ empty.observer1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    Truck ID
                                </th>
                                <td id="formCborder">

                                        {{ empty.truck_id1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    Date: 
                                </th>
                                <td id="formCborder">

                                        {{ empty.date1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    Time:
                                </th>
                                <td id="formCborder">

                                        {{ empty.time1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    Contents:
                                </th>
                                <td id="formCborder">

                                        {{ empty.contents1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    6" or greater freeboard?
                                </th>
                                <td id="formCborder">

                                        {{ empty.freeboard1 }}

                                </td>
                            </tr>
                            <tr>
                                <th id="formDbox1">
                                    If NO, is material adequately wetted and stable?
                                </th>
                                <td id="formCborder">

                                        {{ empty.wetted1 }}

                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" id="formDbox3">
                                    Comments:
                                </th>
                            </tr>
                            <tr style="border-bottom: 3px solid black; text-align: center;">
                                <td id="formCborder2" colspan="2">

                                        {{ empty.comments1 }}

                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                        <tr style="border: 3px solid black;" >
                            <th colspan="2" style="width: 150px; text-align: center;">
                                Truck #2
                            </th>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Observer:
                            </th>
                            <td id="formCborder">

                                    {{ empty.observer2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Truck ID
                            </th>
                            <td id="formCborder">

                                    {{ empty.truck_id2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Date:
                            </th>
                            <td id="formCborder">

                                    {{ empty.date2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Time:
                            </th>
                            <td id="formCborder">

                                    {{ empty.time2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Contents:
                            </th>
                            <td id="formCborder">

                                    {{ empty.contents2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                6" or greater freeboard?
                            </th>
                            <td id="formCborder">

                                    {{ empty.freeboard2 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                If NO, is material adequately wetted and stable?
                            </th>
                            <td id="formCborder">

                                    {{ empty.wetted2 }}

                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" id="formDbox3">
                                Comments:
                            </th>
                        </tr>
                        <tr style="border-bottom: 3px solid black; text-align: center;">
                            <td id="formCborder2" colspan="2">

                                    {{ empty.comments2 }}

                            </td>
                        </tr>
                    </table>
                    </div>
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                        <tr style="border: 3px solid black;" >
                            <th colspan="2" style="width: 150px; text-align: center;">
                                Truck #3
                            </th>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Observer:
                            </th>
                            <td id="formCborder">

                                    {{ empty.observer3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Truck ID
                            </th>
                            <td id="formCborder">

                                    {{ empty.truck_id3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Date:
                            </th>
                            <td id="formCborder">

                                    {{ empty.date3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Time:
                            </th>
                            <td id="formCborder">

                                    {{ empty.time3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Contents:
                            </th>
                            <td id="formCborder">

                                    {{ empty.contents3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                6" or greater freeboard?
                            </th>
                            <td id="formCborder">

                                    {{ empty.freeboard3 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                If NO, is material adequately wetted and stable?
                            </th>
                            <td id="formCborder">

                                    {{ empty.wetted3 }}

                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" id="formDbox3">
                                Comments:
                            </th>
                        </tr>
                        <tr style="border-bottom: 3px solid black; text-align: center;">
                            <td id="formCborder2" colspan="2">

                                    {{ empty.comments3 }}

                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div id="alltrucks">
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                        <tr style="border: 3px solid black;" >
                            <th colspan="2" style="width: 150px; text-align: center;">
                                Truck #4
                            </th>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Observer:
                            </th>
                            <td id="formCborder">

                                    {{ empty.observer4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Truck ID
                            </th>
                            <td id="formCborder">

                                    {{ empty.truck_id4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Date:
                            </th>
                            <td id="formCborder">

                                    {{ empty.date4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Time:
                            </th>
                            <td id="formCborder">

                                    {{ empty.time4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Contents:
                            </th>
                            <td id="formCborder">

                                    {{ empty.contents4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                6" or greater freeboard?
                            </th>
                            <td id="formCborder">

                                    {{ empty.freeboard4 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                If NO, is material adequately wetted and stable?
                            </th>
                            <td id="formCborder">

                                    {{ empty.wetted4 }}

                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" id="formDbox3">
                                Comments:
                            </th>
                        </tr>
                        <tr style="border-bottom: 3px solid black; text-align: center;">
                            <td id="formCborder2" colspan="2">

                                    {{ empty.comments4 }}

                            </td>
                        </tr>
                    </table>
                    </div>
                    <div id="formCspace">
                        <table style="border-collapse: collapse;">
                        <tr style="border: 3px solid black;" >
                            <th colspan="2" style="width: 150px; text-align: center;">
                                Truck #5
                            </th>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Observer:
                            </th>
                            <td id="formCborder">

                                    {{ empty.observer5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Truck ID
                            </th>
                            <td id="formCborder">

                                    {{ empty.truck_id5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Date:
                            </th>
                            <td id="formCborder">

                                    {{ empty.date5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Time:
                            </th>
                            <td id="formCborder">

                                    {{ empty.time5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                Contents:
                            </th>
                            <td id="formCborder">

                                    {{ empty.contents5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                6" or greater freeboard?
                            </th>
                            <td id="formCborder">

                                    {{ empty.freeboard5 }}

                            </td>
                        </tr>
                        <tr>
                            <th id="formDbox1">
                                If NO, is material adequately wetted and stable?
                            </th>
                            <td id="formCborder">

                                    {{ empty.wetted5 }}

                            </td>
                        </tr>
                        <tr>
                            <th colspan="2" id="formDbox3">
                                Comments:
                            </th>
                        </tr>
                        <tr style="border-bottom: 3px solid black; text-align: center;">
                            <td id="formCborder2" colspan="2">

                                    {{ empty.comments5 }}

                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <br><br><br>
                <input type="submit" value="Submit Form" class="submit_button">
            </div>
        </div>
    </form>
</div>
{% endblock %}
