{% autoescape off %}
<style>
    .mainContEmail{
        background-color: lightblue;
        padding: 27px;
        margin: auto;
        width: 400px;
        border-radius: 16px;
    }
    .cardHeader {
        font-size: 20px;
        font-weight: bolder;
        padding: 1rem;
        background-color: #253544;
        color: white;
        border-radius: 13px 13px 0px 0px;
        text-align: center;
        font-family: sans-serif;
    }
</style>
<div style="background-color: #ebebeb; margin: auto; width: 524px; border-radius: 16px;">
    <div style="font-size: 20px; font-weight: bolder; padding: 1rem; background-color: #253544; color: white; border-radius: 13px 13px 0px 0px; text-align: center; font-family: sans-serif;">Reset Password</div>
    <div style="padding: 27px;font-size: 18px; color:black;">
        Hi {{ user.first_name|title }},<br>
        Someone requested to reset the password on your MethodPlus+ account. <br><br>
        To reset your MethodPlus+ password, simply click the button below.<br>
        <div style="text-align:center;">
            <br>
            <a href="http://{{domain}}{% url 'reset' uidb64=uid token=token %}" style="text-decoration: none;">
                {% include "shared/components/submitButton.html" with label="password" selector="reset" %}<br>
            </a>
        </div>
        <div style="font-size:12px;">
            If you did not make this request, don't worry. Your password is still safe, and you can disregard this email.
        </div>
    </div>
</div>
{% endautoescape %}