{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link href="{% static 'ees_forms/style/date_picker.css' %}" rel="stylesheet">
    <link href="{% static 'ees_forms/style/sop_modal.css' %}" rel="stylesheet">
    <link href="{% static 'ees_forms/style/event_detail.css' %}" rel="stylesheet">
    <link href="{% static 'ees_forms/style/universal_inputs.css' %}" rel="stylesheet">
{% endblock %}
{% block list %}
    <div class="mainCont" style="width:20rem; min-width: unset;">
        <div class="card">
        {% if access_page == 'view' %}
            <div class="cardHeader methodPlusBlue">
                {% include "shared/components/backArrow.html" with destination="calendar"%}
                View Event Details
            </div>
            <div class="contentCont">
                {% if facility != "supervisor" %}
                Observer: {{ my_event.observer }}<br><br>
                {% endif %}
                Title: {{ my_event.title }}<br><br>{% comment %} {{ my_event.get_title_display }} {% endcomment %}
                Date: {{ my_event.date }}<br><br>
                Time: {{my_event.start_time|time:"h:i:A" }} - {{ my_event.end_time|time:"h:i:A" }}<br><br>
                Description: {{ my_event.notes }}<br><br>
                <br>
                {% if supervisor %}
                <div style="display: inline-flex;">
                    <a id="editButton" href="{% url 'Event Details' event_id 'edit' %}">Edit</a>
                    <form name="deleteEvent" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="delete">
                        <input id="deleteButton" type="submit" value="delete">
                    </form>
                </div>
                {% endif %}
            </div>
        {% elif access_page == 'edit' %}
            <div class="cardHeader methodPlusBlue">
                {% include "shared/components/backArrow.html" with destination="calendar-event"%}
                Edit Event Details
            </div>
            <div class='contentCont' style="text-align: left;">
                <form action="" method="POST">
                    {% csrf_token %}
                    <span class="input-package" style="width: 100%;">
						{{my_event.title}}
						<label for="id_title">Title</label>
					</span>
					<br>
					<span class="input-package" style="width: 100%;">
						<select name="calendarChoice" maxlength="50" id="id_calendarChoice">
							<option value="">-------</option>
							{% for items in cal_select_choices %}
								<option value="{{items}}" {% if my_event.calendarChoice.value|lower == items %}selected{% endif %}>{{items}}</option>
							{% endfor %}
						</select>
						<label for="id_calendarChoice">Calendar</label>
					</span>
					<br>
					<span class="input-package" style="width: 100%;">
						{{my_event.date}}
						<label for="id_date">Date</label>
					</span>
					<br>
					<span class="input-flex-package">
						<label for="id_allDay">All-day:</label>
						{{my_event.allDay }}
					</span>
					<div style="width:100%;">
						<span id="startTimeContainer" class="input-package">
							{{ my_event.start_time }}
							<label for="id_start_time">Starting Time</label>
						</span>
						<span id="endTimeContainer" class="input-package">
							{{ my_event.end_time }}
							<label for="id_end_time">Final Time</label>
						</span>
					</div>
					<br>
					{% if facility %}
						<span class="input-package" style="width: 100%;">
							<select name="observer" id="observers">
								<option value="">-----</option>
								{% for observer in listOfObservers %}
									<option value="{{observer.user.last_name}}" {% if my_event.observer.value|lower == observer.user.last_name|lower %}selected{% endif %}>{{observer.user.last_name}}</option>
								{% endfor %}
							</select>
							<label for="observers">Observer</label>
						</span>
					{% endif %}
                    <br>
					
					<br>
					<span class="input-package" style="width: 100%;">
						{{ my_event.notes }}
						<label for="id_notes">Description</label>
					</span>
					<span class="input-flex-package">
						<label for="id_repeat">Repeat:</label>
						{{ my_event.repeat }}
					</span>
					<span class="input-flex-package">
						<label for="id_alert">Alerts:</label>
						{{ my_event.alerts }}
					</span>
					<input type="submit" value="Save">
                </form>
            </div>
            <script>
                const allDay = document.getElementById('id_allDay');
                allDay.addEventListener('change', timeToggle())
                
                function timeToggle() {
                    const start_time = document.getElementById('id_start_time');
                    const end_time = document.getElementById('id_end_time');
                    start_time.disable = allDay.checked? true:false;
                    startTimeContainer.style.display = allDay.checked? 'none':'inline-block';
                    end_time.disable = allDay.checked? true:false;
                    endTimeContainer.style.display = allDay.checked? 'none':'inline-block';
                }
                timeToggle();
            </script>
        {% endif %}
    </div>
{% endblock %}