{% extends 'landing/landingPage_layout.html' %}{% load static %}
{% block body %}
<link href="{% static 'landing/style/landing_register.css' %}" rel="stylesheet">
<link href="{% static 'landing/style/landingPage_login.css' %}" rel="stylesheet">
<div class='topCont noOverflowCenter'>
    <div id="login" class="regCont" style="width: 479px;margin-top:unset;">
        <form id='signup' name="login" action="" method="POST">
            {% csrf_token %}
            <div class='regHeader'>
                <h2 class='methodPlus' style='margin:auto; text-align: center; font-size: 47px;'>MethodPlus+</h2>
            </div>
            <hr>
            <div class='regBody'>
                <input id="username" type="text" name="username" placeholder='Username'>
                <input  id="password" type="password" name="password" placeholder='Password'>
                
                {% include "shared/components/submitButton.html" with label="login" %}
            </div>
            <p style='text-align:center;'><a href="{% url 'requestPassword' %}">Forgot password?</a></p><br>
            <p style='text-align:center;'>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
    </div>
</div>
{% endblock %}