{% extends unlock|yesno:"ees_forms/layout.html,admin/sup_layout.html" %}
{% block list%}{% load static %}
<link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/printSelect.js' %}"></script>
<body>
    <div>
        {% include "ees_forms/backArrow.html" %}
    </div>
    <center>
        <div class="card" style="min-width: 400px; min-height: 500px;">
            {% if facility == 'supervisor' %}
            <p>Please Select a Facility First</p>
            {% else %}
            <form action="" method="POST" style="padding: 2rem; ">
                {% csrf_token %}
                <p>{{alertMessage}}</p>
                <div id='selItem'>
                    <label for="type">Choose one:</label>
                    <select name="type" id="type" required="True" autofocus>
                        <option value="" selected>------</option>
                        <option value="single">Single Form</option>
                        <option value="group">Group Forms</option>
                    </select>
                </div>
                <br/>
                <div id='selForm' style='visibility:hidden;'>
                    <label for="forms">Choose Form:</label>
                    <select name="forms" id="forms">
                        <option value="" selected>------</option>
                        {% for x in selectList %}
                        <option value="{{x.1}}">{{x.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
                <div id='selGroup' style='visibility:hidden;'>
                    <label for="formGroups">Choose Group:</label>
                    <select name="formGroups" id="formGroups">
                        <option value="" selected>------</option>
                        <option value="formA">Form A</option>
                        <option value="weekly">Weekly Packet</option>
                        <!--<option value="monthly">Monthly</option>
                        <option value="tanks">Monthly Tanks/Areas</option>
                        <option value="waste">Waste Weekly</option>-->
                    </select>
                </div>
                <br/>
                <div id='selDate' style='visibility:hidden;'>
                    <label for="formDate">Pick a Date:</label>
                    <input id='formDate' name='formDate' type='date'/>
                    
                </div>
                <br/>
                <button id='printButton' type="submit" style='visibility:hidden;'>Print</button>
            </form>
            {% endif %}
        </div>
    </center>
</body>
{% endblock %}