{% extends unlock|yesno:"observer/components/obs_layout.html,supervisor/components/sup_layout.html" %}
{% block list%}{% load static %}
<link href="{% static 'ees_forms/styles.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/printSelect.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/style.css' %}" rel="stylesheet">
<link href="{% static 'ees_forms/style/primaryCard.css' %}" rel="stylesheet">
<script defer src="{% static 'ees_forms/script/printSelect.js' %}"></script>
<body>
    <div class="mainCont mainContCenter" style="width:400px;">
        <div class="card" style="min-width: 400px; ">
            <div class="cardHeader methodPlusBlue">
                {% include "shared/components/backArrow.html" with destination="dashboard"%}
                Choose Forms to Print
            </div>
            <form action="" method="POST" class="contentCont">
                {% csrf_token %}
                <p>{{alertMessage}}</p>
                Choose Month/Year: <input id='monthSel' name='monthSel' type='month'/> <br><br>
                <div id='selItem'>
                    <label for="type">Choose one:</label>
                    <select name="type" id="type" required="True" autofocus>
                        <option value="" selected>------</option>
                        <option value="single">Single Form</option>
                        <option value="group">Packet</option>
                    </select>
                </div>
                <br>
                <div id='selForm' style='display:none;'>
                    <label for="forms">Choose Form:</label>
                    <select name="forms" id="forms" onchange="showLabels(this)">
                        <option value="" selected>------</option>
                        {% for x in selectList %}
                        <option value="{{x.id}}">{{x.id}} - {{x.formChoice.title}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </div>
                <span display="none" id="fsData" data-fsquery="{{formSettingsQuery}}">
                <div id='selGroup' style='display:none;'>
                    <label for="formGroups">Choose Packet:</label>
                    <select name="formGroups" id="formGroups">
                        <option value="" selected>------</option>
                        {% for packet in packetQuery %}
                        <option value="{{packet.id}}">{{packet.name}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                </div>
                <div id='selLabel' style='display:none;'>
                    <label for="formLabels">Choose Label:</label>
                    <select name="formLabels" id="formLabels">
                    </select>
                    <br><br>
                </div>
                {% comment %} <input id='formDate' name='formDate' type='date'/> <br> {% endcomment %}
                <input id='select' name='select' type='submit' value="Select Date >" style="padding:0px 5px;"/>
            </form>
        </div>
    </div>
</body>
{% endblock %}