{% extends "ees_forms/layout.html" %} {% block list%} {% load static %}
<body>
    <div>
        <a href="{% if client %}{% url 'c_dashboard' %}{% elif admin %}{% url 'admin_dashboard' %}{% elif selector == 'search' %}{% url 'IncompleteForms' %}{% elif selector == 'form' %}{% url 'IncompleteForms' %}{% else %}{% url 'archive' %}{% endif %}">
            <svg id="back_arrow" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-left" class="svg-inline--fa fa-angle-double-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path>
            </svg>
        </a>
    </div>
    <div style="text-align: center;padding-top: 50px;">
        <div>
            Corrective Action Forms - By Date
        </div>
        <br>
        <div style="text-align: left; width:700px;margin: auto; font-size: 25px;">
            <ul style="text-align: center;">
            {% for x in sops %}
                <a href=#>
                    <div class="card" style="padding-top: 10px; padding-bottom: 10px; display: inline-flex; margin: 8px;">
                        <div style="width: 100%; text-align: left;">
                             {{ x.name }}
                        </div>
                    </div>
                </a>
            {% endfor %}
            </ul>    
        </div>
    </div>
{% endblock %}
</body>